<h1 mat-dialog-title>Share playground</h1>
<div mat-dialog-content>
  <form [formGroup]="this.form">
    <button mat-stroked-button color="primary" (click)="add_user('', true, false)">Add new user</button>

    <div class="div-padding-lg"></div>

    <div class="container-fluid">
      <div formArrayName="users" *ngFor="let user of form.get('users')['controls']; let i = index">

        <div class="row">
          <div class="playground-button-container col-6">
            <div [formGroupName]="i">
              <mat-form-field class="input-form-small">
                <mat-label>User name</mat-label>
                <input matInput type="text" formControlName="name" />
              </mat-form-field>
            </div>
          </div>
          <div class="playground-button-container col-2">
            <div [formGroupName]="i">
              <mat-checkbox class="example-margin" formControlName="save">Save</mat-checkbox>
            </div>
          </div>
          <div class="playground-button-container col-2">
            <div [formGroupName]="i">
              <mat-checkbox class="example-margin" formControlName="del">Del</mat-checkbox>
            </div>
          </div>
          <div class="playground-button-container col-2">
            <div [formGroupName]="i">
              <button mat-button (click)="delete_user(i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Share</button>
</div>
