/* You can add global styles to this file, and also import other style files */
/* @import "./app/app.component.scss"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import url("app/_mixins.scss");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.overflow_column {
  height: 100vh;
  overflow: scroll;
}

div.force-dialog-padding {
  padding: 20px 24px 20px 24px !important;
}

