/* You can add global styles to this file, and also import other style files */
/* @import "./app/app.component.scss"; */
/* @import "@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "bootstrap/dist/css/bootstrap.css"; */
@use "@angular/material" as mat;

@use "app/assets/styles/_mixins.scss" as *;

// // Theme colors leidenuniv style - blue brown
// $theme-primary: #001158;
// $theme-primary-light: #68769c;
// $theme-secondary: #aa6600;
// $theme-secondary-light: #ca9b65;
// $theme-secondary-dark: #8b5400;
// $theme-tertiary: #a2a194;
// $theme-quaternary: #adac95;
// $theme-lightbrown-yellow: #f0c086;
// $theme-lightgreen: #d0dac9;
// $theme-gray: #e3e3e3;

// // Theme colors leidenuniv style - blue lightblue
// $theme-primary: #001158;
// $theme-primary-light: #68769c;
// $theme-secondary: #68769c;
// $theme-secondary-light: #96a3c5;
// $theme-secondary-dark: #3d4764;
// $theme-tertiary: #c5c5c5;
// $theme-quaternary: #c5c5c5;
// $theme-lightbrown-yellow: #f0c086;
// $theme-lightgreen: #d0dac9;
// $theme-gray: #e3e3e3;

// Theme colors leidenuniv style - blue lightblue v2
$theme-primary: #091958;
$theme-primary-light: #68769c;
$theme-secondary: #68769c;
$theme-secondary-light: #96a3c5;
$theme-secondary-dark: #3d4764;
$theme-tertiary: #8692b5;
$theme-quaternary: #a8b5da;
$theme-lightbrown-yellow: #f0c086;
$theme-lightgreen: #d0dac9;
$theme-gray: #e3e3e3;

// // Theme colors natural - mossy green
// $theme-primary: #383a27;
// $theme-primary-light: #383a27;
// $theme-secondary: #53613a;
// $theme-secondary-light: #a28644;
// $theme-secondary-dark: #a28644;
// $theme-tertiary: #a29d7b;
// $theme-quaternary: #76ada5;
// $theme-lightbrown-yellow: #f0c086;
// $theme-lightgreen: #d0dac9;
// $theme-gray: #e3e3e3;

// // Theme colors natural - ochre brown
// $theme-primary: #554021;
// $theme-primary-light: #614e3a;
// $theme-secondary: #614e3a;
// $theme-secondary-light: #96a3c5;
// $theme-secondary-dark: #3d4764;
// $theme-tertiary: #c5c5c5;
// $theme-quaternary: #c5c5c5;
// $theme-lightbrown-yellow: #f0c086;
// $theme-lightgreen: #d0dac9;
// $theme-gray: #e3e3e3;

// // Theme colors original style - indigo pink
// $theme-primary: #3f51b5;
// $theme-primary-light: #9fa1fe;
// $theme-secondary: #ff4081;
// $theme-secondary-light: #ffc0cb;
// $theme-secondary-dark: #d81b60;
// $theme-tertiary: #9fa1fe;
// $theme-quaternary: #9fa1fe;
// $theme-lightbrown-yellow: #f0c086;
// $theme-lightgreen: #d0dac9;
// $theme-gray: #d3d3d3;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.overflow_column {
  height: 100vh;
  overflow: scroll;
}

div.force-dialog-padding {
  padding: 20px 24px 20px 24px !important;
}

// Tooltips
.text-tooltip:hover {
  cursor: help;
}

.icon-tooltip {
  color: lightgray;
  text-align: center;
  vertical-align: middle;
}

.icon-tooltip:hover {
  opacity: 80%;
}

// Zotero bibliography entry
.csl-entry {
  padding-bottom: 0.6em;
}

/* Dialog header */
div.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1em;
  color: white;
  /*TODO: duplicate with dialogs.scss */
  /*background-color: mat.m2-get_color_from_palette(mat.$m2-pink-palette, "A200"); */
  background-color: pink;
}
div.dialog-header h2 {
  font-size: 1.5em;
}

div.dialog-header button {
  display: inline-flex;
}

/* Disable ripple effect on autofocus */
div.dialog-header button:focus {
  --mat-mdc-button-persistent-ripple-color: none;
}
/* Reenables the effect on focus */
div.dialog-header button:hover {
  --mat-mdc-button-persistent-ripple-color: black !important;
}

/* TODO: put this somewhere correct. Problem with reusable mat-menu */
.playground-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: solid transparent;
  border-bottom-width: 20px;
  box-sizing: content-box;
}
.playground-icon:first-child {
  border-left-width: 10px;
}
.playground-icon:last-child {
  border-right-width: 10px;
}
.playground-icon:hover {
  transition: transform 0.2s ease-out;
  transform: scale(1.25);
}

/*Make the font size for the Quill editor bigger*/
.ql-editor {
  font-size: 18px;
}

// Default Angular Alert style overrides
.alert-info {
  --bs-alert-border-color: #333 !important;
  --bs-alert-bg: #{$theme-lightgreen} !important;
}
