/* You can add global styles to this file, and also import other style files */
/* @import "./app/app.component.scss"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@use "@angular/material" as mat;

@import url("app/_mixins.scss");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.overflow_column {
  height: 100vh;
  overflow: scroll;
}

div.force-dialog-padding {
  padding: 20px 24px 20px 24px !important;
}

// Tooltips
.text-tooltip:hover {
  cursor: help;
}

.icon-tooltip {
  color: lightgray;
  text-align: center;
  vertical-align: middle;
}

.icon-tooltip:hover {
  opacity: 80%;
}

// Zotero bibliography entry
.csl-entry {
  padding-bottom: 0.6em;
}

/* Dialog header */
div.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1em;
  color: white;
  background-color: mat.get_color_from_palette(mat.$pink-palette, "A200");
}
div.dialog-header h2 {
  font-size: 1.5em;
}

div.dialog-header button {
  display: inline-flex;
}

/* Disable ripple effect on autofocus */
div.dialog-header button:focus {
  --mat-mdc-button-persistent-ripple-color: none;
}
/* Reenables the effect on focus */
div.dialog-header button:hover {
  --mat-mdc-button-persistent-ripple-color: black !important;
}

