/* HTML Elements */
.overflow_column {
  height: 100vh;
  overflow: scroll;
}

//.example-container {
//width: 100vh;
//height: 100vh;
//}

.example-sidenav-content {
  //display: flex;
  height: 100%;
  //align-items: center;
  //justify-content: center;
}

.example-sidenav {
  height: 100%;
  overflow: scroll;
  max-width: 50vw;
  width: 50vw;
}
