<!-- Navigation bar -->
<mat-toolbar color="primary">
  <span style="width: fit-content; transform: translateY(-1px)">
    <h3 *ngIf="this.window_watcher.size > 725; else small_title" class="navbar">Open Source Classics Commentary</h3>
  </span>

  <ng-template #small_title>
    <h3 class="navbar">OSCC</h3>
  </ng-template>

  <span class="spacer"></span>

  <button
    mat-stroked-button
    class="navbar"
    *ngIf="this.auth_service.current_user_name === 'Lucus'"
    (click)="this.test('0')">
    TEST
  </button>

  <button
    mat-stroked-button
    *ngIf="!this.commentary_enabled; else commentary_disabled"
    class="navbar button-margin"
    (click)="this.toggle_commentary()"
    (click)="drawer.toggle()">
    COMMENTARY
  </button>

  <ng-template #commentary_disabled>
    <button
      mat-flat-button
      color="accent"
      class="button-margin"
      (click)="this.toggle_commentary()"
      (click)="drawer.toggle()">
      COMMENTARY
    </button>
  </ng-template>

  <button
    mat-stroked-button
    *ngIf="!this.playground_enabled; else playground_disabled"
    class="navbar button-margin"
    (click)="this.toggle_playground()">
    PLAYGROUND
  </button>

  <ng-template #playground_disabled>
    <button mat-flat-button class="button-margin" color="accent" (click)="this.toggle_playground()">PLAYGROUND</button>
  </ng-template>

  <button mat-stroked-button class="navbar" [matMenuTriggerFor]="menu">
    <mat-icon *ngIf="this.window_watcher.size > 850" fontIcon="menu"></mat-icon>
    MENU
  </button>
</mat-toolbar>

<!-- Navigation bar menu -->
<mat-menu #menu="matMenu">
  <button (click)="login()" mat-menu-item>Login</button>
  <button mat-menu-item routerLink="/dashboard" *ngIf="this.auth_service.is_logged_in">Dashboard</button>
  <button mat-menu-item routerLink="/scansion" *ngIf="this.auth_service.is_logged_in">Scansion</button>
  <a href="https://github.com/Ycreak/OpensourceClassicCommentary/" target="_blank" mat-menu-item>Documentation</a>
  <button (click)="this.settings.open_settings()" mat-menu-item>Settings</button>
  <button (click)="this.dialog.open_about_dialog()" mat-menu-item>About</button>
  <div mat-menu-item>V23.04.27</div>
</mat-menu>

<!-- Display for if server is down -->
<div *ngIf="this.api.get_network_status() === false" class="alert alert-warning" role="alert" @fadeSlideInOut>
  Your client cannot connect to the server. Please check if you have the latest version of your browser installed.
  Furthermore, secured networks like DUWO and Leiden University are known to cause problems. Also, please click
  <u><a href="https://oscc.lucdh.nl">the following URL</a></u> for the best results. Please contact the administrators
  if problems are still occuring.
</div>

<div>
  <mat-drawer-container class="drawer-container" autosize>
    <div class="overview-sidenav-content">
      <app-fragments (fragment_clicked2)="this.current_fragment = $event"> </app-fragments>
    </div>

    <hr />

    <mat-drawer
      #drawer
      class="overview-sidenav"
      [ngStyle]="{ width: this.get_drawer_size() }"
      mode="side"
      position="end"
      opened="true">
      <div style="padding: 0.5em">
        <app-commentary [current_fragment]="this.current_fragment"> </app-commentary>
      </div>
    </mat-drawer>
  </mat-drawer-container>
  <app-playground *ngIf="this.playground_enabled" (fragment_clicked)="this.current_fragment = $event"></app-playground>
</div>
