<!-- Button to select the text -->
<button *ngIf="this.button_type === 'stroked'" mat-stroked-button [matMenuTriggerFor]="menu_authors">
  {{ this.button_title }}
</button>

<button *ngIf="this.button_type === 'basic'" mat-button [matMenuTriggerFor]="menu_authors">
  {{ this.button_title }}
</button>

<!-- Nested menu to select author - title - editor. -->
<mat-menu #menu_authors="matMenu">
  <ng-container *ngFor="let author of this.api.get_from_index('author', { document_type: 'introduction' })">
    <button
      mat-menu-item
      (click)="this.filter()"
      (menuOpened)="this.titles = this.api.get_from_index('title', { document_type: 'introduction', author: author })"
      (menuOpened)="this.selected_author = author"
      [matMenuTriggerFor]="menu_names">
      {{ author }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_names="matMenu">
  <ng-container *ngFor="let title of this.titles">
    <button mat-menu-item [hidden]="title.trim() === ''" (click)="this.selected_title = title" (click)="this.filter()">
      {{ title }}
    </button>
  </ng-container>
</mat-menu>
