# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Angular/dist
Angular/.angular
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# Python
Server/env
Server/__pycache__
Server/config.py

server_old/env
server_old/__pycache__

*.pyc

Temp/

# dependencies
Angular/node_modules
Server/__pycache__
Server/server_credentials.py
Server/Models/__pycache__
# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Cypress
Angular/cypress/screenshots
Angular/cypress/videos
