<div class="dialog-header">
  <h2>Join live session</h2>
  <button mat-icon-button [mat-dialog-close]="null" [disableRipple]="true">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name of the live session</mat-label>
    <input matInput [(ngModel)]="this.name" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="this.name" cdkFocusInitial>Join</button>
  <button mat-button [mat-dialog-close]="'leave'" cdkFocusInitial>Leave</button>
</div>
