<!-- Import the stylesheet for the Material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<!-- Secondary toolbar to manage columns -->
<ng-template #column_toolbar let-column_to_display="given_column">
  <mat-toolbar class="fragment-column-toolbar">
    <!-- Button to select the text via the quick filter -->
    <app-latin-tragic-fragment-filter
      [button_title]="'Select text'"
      [button_type]="'basic'"
      [endpoint]="'editor'"
      (new_filter)="
        this.columns.request(
          {
            author: $event.author,
            title: $event.title,
            editor: $event.editor
          },
          column_to_display.column_id
        );
        column_to_display.column_name = $event.author + '-' + $event.title + '-' + $event.editor
      ">
    </app-latin-tragic-fragment-filter>

    <!-- Buttons to modify columns -->
    <button mat-icon-button (click)="this.columns.move(column_to_display.column_id, 'left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button (click)="this.columns.move(column_to_display.column_id, 'right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <button mat-icon-button (click)="this.columns.close(column_to_display.column_id)">
      <mat-icon>clear</mat-icon>
    </button>

    <button mat-icon-button (click)="this.columns.current = column_to_display" [matMenuTriggerFor]="columnMenu">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>

    <!-- Separator-->
    <!--</ng-container>-->
  </mat-toolbar>
</ng-template>

<!-- Toolbar for the fragments section -->
<mat-toolbar class="fragments-toolbar">
  <div id="fragments-toolbar-1">
    <ng-container *ngFor="let column_to_display of this.columns.list">
      <mat-checkbox ngDefaultControl [(ngModel)]="column_to_display.visible">
        <div style="color: white">
          {{ column_to_display.column_name }}
          <sup *ngIf="column_to_display.edited">altered</sup>
        </div>
      </mat-checkbox>
    </ng-container>
  </div>
  <div id="fragments-toolbar-2">
    |
    <button class="navbar" mat-button (click)="this.columns.add()">Add column</button>
  </div>
</mat-toolbar>
<mat-progress-bar mode="query" *ngIf="this.api.spinner"></mat-progress-bar>

<div class="container-fluid">
  <div class="row">
    <!-- Row that contains the columns and commentary -->
    <div
      *ngFor="let column_to_display of this.columns.list"
      class="col overflow_column"
      [hidden]="!column_to_display.visible"
      cdkScrollable>
      <ng-container
        [ngTemplateOutlet]="fragment_column_template"
        [ngTemplateOutletContext]="{ given_column: column_to_display }">
      </ng-container>
    </div>
  </div>
</div>

<!-- Template for a fragment column -->
<ng-template #fragment_column_template let-given_column="given_column" let-hint="hint">
  <ng-container
    [ngTemplateOutlet]="column_toolbar"
    [ngTemplateOutletContext]="{ given_column: given_column }"></ng-container>
  <!-- Fragments loop to display all fragments of the chosen edition of reference -->
  <!--<div class="row">-->
  <!-- Columns are connected via the cdkDropListConnectedTo property. -->
  <div
    cdkDropList
    id="{{ given_column.column_id }}"
    [cdkDropListData]="given_column.documents"
    [cdkDropListConnectedTo]="this.columns.connected"
    (cdkDropListDropped)="this.utility.drop($event)"
    appOnCopy
    (copyFragment)="this.copy_document_content(this.current_document)">
    <div *ngFor="let fragment of given_column.documents">
      <div
        class="fragment-box"
        (click)="handle_document_click(fragment, given_column)"
        (contextmenu)="
          handle_document_click(fragment, given_column);
          onRightClick($event, this.current_document, this.columns.current)
        "
        cdkDrag
        [cdkDragDisabled]="this.settings.fragments.dragging_disabled"
        (cdkDragDropped)="this.columns.set_edited_flag($event)"
        [attr.id]="fragment.fragment_id"
        [style.background-color]="
          this.generate_document_gradient_background_color(
            given_column.documents.length,
            given_column.original_fragment_order.indexOf(fragment.name)
          )
        ">
        <div *ngIf="fragment.document_type === 'testimonium'">
          <app-testimonia [testimonium]="fragment"> </app-testimonia>
        </div>
        <div *ngIf="fragment.document_type === 'fragment'">
          <app-fragment [fragment]="fragment" [translated]="given_column.translated"> </app-fragment>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Context menu for right click actions on fragments -->
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button (click)="this.copy_document_content(matMenuTrigger.menuData.document)" mat-menu-item>Copy text</button>
    <button (click)="this.show_linked_documents(matMenuTrigger.menuData.document)" mat-menu-item>
      Linked documents
    </button>
  </ng-template>
</mat-menu>

<!-- hidden helper div used for the context menu -->
<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #columnMenu="matMenu">
  <button (click)="this.show_column_bibliography(this.columns.current)" mat-menu-item>Column Bibliography</button>
  <button (click)="this.toggle_translation(this.columns.current)" mat-menu-item>
    {{ this.translation_toggle_button_label(this.columns.current) }}
  </button>
  <button (click)="this.set_custom_filter(this.columns.current.column_id)" mat-menu-item>Custom filter</button>
</mat-menu>
