@import url('../app.component.scss');

/* GENERAL CSS STYLING */
::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep  .mat-mdc-list .mat-mdc-list-item{
  height:initial!important;
}

/* STYLE CSS */
.neat-lines .mat-mdc-list-item {
  height: auto;
  width: 100%;
}