@import "~bootstrap/dist/css/bootstrap.css";
@import url('../app.component.scss');

// Dashboard specific
.input-form {
  min-width: 50%;
  max-width: 90%;
  /* width: 100%; */
}

.input-form-full-width { 
  width: 90%; // I like the irony
}

/* This assumes only 5 buttons exist. */
.select-form {
  width: 20%;
}


  /* MAT LIST CSS */ //DEPRECATED
  // .mat-form-field {
  //   padding-left: 1em;
  //   // height: 5em;
  //   // size: 80%;
  //   max-width: 100%;
  // }

  .mat-radio-button {
    // margin: 1em 1em 1em 1em;
    padding: 1em;
    // display: flex;
    // align-content: center;
    // align-items: center;
  }
  
  // .radio-section {
  //   display: flex;
  //   align-content: center;
  //   align-items: center;
  //   height: 60px;
  // }
  
  // .radio-margin {
  //   margin: 0 10px;
  // }
  
  
  // .example-h2 {
  //   margin: 10px;
  // }
  
  // .example-section {
  //   display: flex;
  //   align-content: center;
  //   align-items: center;
  //   height: 60px;
  // }
  
  // .example-margin {
  //   margin: 0 10px;
  // }