@import "~bootstrap/dist/css/bootstrap.css";
@import url('../app.component.scss');

// Dashboard specific
.input-form {
  min-width: 50%;
  max-width: 90%;
  /* width: 100%; */
}

.input-form-full-width { 
  width: 90%; // I like the irony
}

/* This assumes only 5 buttons exist. */
.select-form {
  width: 20%;
}

button {
  margin: 0.1em;
} 
 
  /* MAT LIST CSS */ //DEPRECATED
  // .mat-form-field {
  //   padding-left: 1em;
  //   // height: 5em;
  //   // size: 80%;
  //   max-width: 100%;
  // }


  
