<!-- Import the stylesheet for the Material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"> -->

<!-- Maybe we should get a local stylesheet? -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<!-- Simple toolbar with all the different buttons and the title -->
<mat-toolbar color="primary">
  <span style="width: fit-content; transform: translateY(-1px)">
    <h3 class="navbar">
      OSCC Dashboard for user {{ this.auth_service.current_user_name }} ({{ this.auth_service.current_user_role }})
    </h3>
  </span>
  <span class="spacer"></span>
  <!-- <button mat-button class="btn" (click)="this.api.request_authors2(this.selected_fragment_data)">RELOAD AUTHORS</button> -->
  <button mat-stroked-button class="navbar button-margin" (click)="this.request_bibliography_resync()">
    SYNC BIBLIOGRAPHY
  </button>
  <button
    mat-stroked-button
    class="navbar button-margin"
    *ngIf="this.auth_service.current_user_role === 'teacher'"
    (click)="test('Navbar')">
    TEST
  </button>
  <button mat-stroked-button class="navbar button-margin" routerLink="/">FRAGMENTS</button>
</mat-toolbar>

<!-- Loading spinner to show data is being retrieved from the server -->
<mat-progress-bar *ngIf="this.api.spinner" mode="query"></mat-progress-bar>

<br />

<!-- Display for if server is down -->
<div *ngIf="this.api.get_network_status() === false" class="alert alert-warning" role="alert">
  Your client cannot connect to the server. Please check if you have the latest version of your browser installed.
  Furthermore, secured networks like DUWO and Leiden University are known to cause problems. Also, please click
  <u><a href="https://oscc.lucdh.nl">the following URL</a></u> for the best results. Please contact the administrators
  if problems are still occuring.
</div>

<!-- TAB GROUPS TO ENTER DATA -->

<!-- FRAGMENT PANEL -->
<div class="container-fluid">
  <mat-accordion multi>
    <!-- Change fragments expansion panel -->
    <mat-expansion-panel
      *ngIf="this.auth_service.current_user_role === 'teacher' || this.auth_service.current_user_role === 'student'"
      [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Change fragment data </mat-panel-title>
        <mat-panel-description>
          Create, revise and delete fragments
          <mat-icon>text_snippet</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-fragments-dashboard></app-fragments-dashboard>
    </mat-expansion-panel>
    <hr />
    <!-- Change testimonia expansion panel -->
    <mat-expansion-panel *ngIf="this.auth_service.current_user_role === 'teacher'" [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title> Change testimonia data </mat-panel-title>
        <mat-panel-description>
          Create, revise and delete testimonia
          <mat-icon>local_library</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-testimonia-dashboard></app-testimonia-dashboard>
    </mat-expansion-panel>
    <hr />
    <!-- Change author/author+title introduction expansion panel -->
    <!--<app-introductions-dashboard></app-introductions-dashboard>-->
    <hr />

    <!-- Change user expansion panel -->
    <app-users></app-users>
    <hr />
  </mat-accordion>
</div>
