<!-- I think this can be removed. -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<!-- Maybe we should get a local stylesheet? -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Simple toolbar with all the different buttons and the title -->
<mat-toolbar color="primary">
    <span><h3 class='h3-title'>Dashboard</h3></span>
    <span class="spacer"></span>
    <button mat-button class="btn" (click)="Test()">TEST</button>
    <button mat-button class="btn" routerLink="/fragments">FRAGMENTS</button>
    <!-- <button mat-button class="btn" (click)="RequestAuthors()">RELOAD AUTHORS</button> -->
</mat-toolbar>

<!-- Show a spinner if query with database is in progress -->
<mat-progress-bar mode="query" *ngIf="this.spinner"></mat-progress-bar>
<br>

<!-- SELECTING ROW -->
<div class="container-fluid">
    <div class="row">
        <!-- Need some space here please  -->     

        <mat-form-field>
            <mat-label>Select author</mat-label>
            <mat-select>
                <mat-option *ngFor="let author of this.authorsJSON" [value]="author"
                  (click)="this.retrieved_author = author.name"  
                  (click)="this.RequestBooks(author.name)">
                    {{ author.name }} 
                </mat-option>
            </mat-select>  
        </mat-form-field> 
    
        <mat-form-field>
            <mat-label>Select text</mat-label>
            <mat-select>
                <mat-option *ngFor="let book of this.booksJSON" [value]="book" 
                  (click)="this.retrieved_book = book.name"  
                  (click)="this.RequestEditors(this.retrieved_author, book.name)">
                    {{ book.name }}                
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Select edition</mat-label>
            <mat-select>
                <mat-option *ngFor="let editor of this.retrieved_editors" [value]="editor"
                    (click)="this.retrieved_editor = editor.name"  
                    (click)="this.Request_fragments(this.retrieved_author, this.retrieved_book, editor.name)">
                    {{ editor.name }}                     
                </mat-option>
            </mat-select>
            <!-- <mat-hint>Select an edition</mat-hint> -->
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Fragment</mat-label>
            <mat-select>
                <mat-option *ngFor="let fragment_number of this.retrieved_fragment_numbers" [value]="fragment_number"
                    (click)="this.Retrieve_requested_fragment(this.retrieved_fragments, fragment_number)">
                    {{ fragment_number }} 
                </mat-option>
            </mat-select>
            <!-- <mat-hint>Select a fragment</mat-hint> -->
        </mat-form-field>




        <!-- <mat-form-field class="select-form">
            <mat-label>Author</mat-label>
            <mat-select [(ngModel)]="selectedAuthor">
                <mat-option *ngFor="let authorData of this.authorsJSON" [value]="authorData"
                (click)="this.selectedBook = this.selectedEditor = this.selectedFragment = this.selectedLine = ''"
                (click)="this.fragmentForm.reset(); this.contentForm.reset(); this.contextForm.reset()"
                (click)="RequestBooks(authorData.id)">
                {{ authorData.name }}                       
                </mat-option>
            </mat-select>
            <mat-hint>Select an author</mat-hint>
        </mat-form-field>
    
        <mat-form-field class="select-form">
            <mat-label>Book</mat-label>
            <mat-select [(ngModel)]="selectedBook">
            <mat-option *ngFor="let bookData of this.booksJSON" [value]="bookData"
            (click)="this.selectedEditor = this.selectedFragment = this.selectedLine = ''"
            (click)="this.fragmentForm.reset(); this.contentForm.reset(); this.contextForm.reset()"
            (click)="this.RequestEditors(bookData.id)"
            (click)="this.RequestFragments(bookData.id)">
                {{ bookData.title }}                       
            </mat-option>
            </mat-select>
            <mat-hint>Select a book</mat-hint>
        </mat-form-field>
    
        <mat-form-field class="select-form">
            <mat-label>Editor</mat-label>
            <mat-select [(ngModel)]="selectedEditor">
            <mat-option *ngFor="let editorData of this.editorsJSON" [value]="editorData"
            (click)="this.selectedFragment = this.selectedLine = ''"
            (click)="this.fragmentForm.reset(); this.contentForm.reset(); this.contextForm.reset()"
            (click)="this.selectedEditorArray = CreateEditorArray(editorData.id, this.F_Fragments)"
            (click)="this.fragmentNumberList = this.utility.GetFragmentNumbers(editorData.id, this.selectedEditorArray)">
                {{ editorData.name }}                       
            </mat-option>
            </mat-select>
            <mat-hint>Select an editor</mat-hint>
        </mat-form-field>
            
        <mat-form-field class="select-form">
            <mat-label>Fragment</mat-label>
            <mat-select [(ngModel)]="selectedFragment">
            <mat-option *ngFor="let fragmentData of this.fragmentNumberList" [value]="fragmentData"
            (click)="this.selectedLine = ''"
            (click)="this.fragmentForm.reset(); this.contentForm.reset(); this.contextForm.reset()"
            (click)="UpdateForm('fragmentForm', 'fragmentNumber',fragmentData)"
            (click)="this.RequestReferencerID(this.selectedFragment, this.selectedEditor.id, this.selectedBook.id)"
            (click)="this.lineNumberList = GetLineNumbers(fragmentData, this.selectedEditorArray)">
                {{ fragmentData }} 
            </mat-option>
            </mat-select>
            <mat-hint>Select a fragment</mat-hint>
        </mat-form-field>      
        
        <mat-form-field class="select-form">
            <mat-label>Line</mat-label>
            <mat-select [(ngModel)]="selectedLine">
            <mat-option *ngFor="let lineData of this.lineNumberList" [value]="lineData"
            (click)="UpdateForm('fragmentForm', 'lineNumber',lineData)"
            (click)="UpdateForm('fragmentForm', 'lineStatus',GetFragmentStatus(this.selectedFragment, this.selectedEditorArray))"
            (click)="UpdateForm('fragmentForm', 'lineContent',GetFragmentLine(lineData, this.selectedFragment, this.selectedEditorArray))">            
              {{ lineData }} 
            </mat-option>
            </mat-select>
            <mat-hint>Select a line</mat-hint>
        </mat-form-field>             -->
    </div>
</div>

<hr>

<!-- TAB GROUPS TO ENTER DATA -->
<div class="container-fluid">
    <div class="row">
        <mat-tab-group>
            <mat-tab label="Add/Remove Items" *ngIf="this.authService.isTeacher"><br>
                <!-- Group to add/remove Authors, Books and Editors -->
                <mat-tab-group>
                  <!-- Tab to add/remove Authors -->
                    <mat-tab label="Author"><br>
                        <div mat-dialog-content>
                        <mat-form-field class="input-form">
                            <input matInput placeholder="Add author" [(ngModel)]='inputAuthor'>
                            <mat-hint>Fill in the name of a new author</mat-hint>
                        </mat-form-field>
                        </div>  
            
                        <br>
                        <button mat-button (click)="RequestCreateAuthor(inputAuthor)">Create added author</button>
                        <button mat-button (click)="RequestDeleteAuthor(this.selectedAuthor.id)">Delete selected author</button>
                    </mat-tab>
        
                    <!-- Tab to add/remove Books -->
                    <mat-tab label="Book"><br>
            
                        <div mat-dialog-content>
                        <mat-form-field class="input-form">
                            <input matInput placeholder="Add book" [(ngModel)]='inputBook'>
                            <mat-hint>Select an author and fill in the name of his/her new book</mat-hint>
                        </mat-form-field>
                        </div>  
            
                        <br>
                        <button mat-button (click)="RequestCreateBook(inputBook, this.selectedAuthor.id)">Create added book</button>
                        <button mat-button (click)="RequestDeleteBook(this.selectedBook.id, this.selectedAuthor.id)">Delete selected book</button>
                    </mat-tab>
        
                    <!-- Tab to add/remove Editors -->
                    <mat-tab label="Editor"><br>         
                        <div mat-dialog-content>
                        <mat-form-field class="input-form">
                            <input matInput placeholder="Add editor" [(ngModel)]='inputEditor'>
                            <mat-hint>Select an author and book and fill in the name of its new editor</mat-hint>
                        </mat-form-field>
                        </div>  
                        <br>
                        <button mat-button (click)="RequestCreateEditor(inputEditor, this.selectedBook.id, this.selectedAuthor.id)">Create added editor</button>
                        <button mat-button (click)="RequestDeleteEditor(this.selectedEditor.id, this.selectedBook.id, this.selectedAuthor.id)">Delete selected editor</button>
                        <button mat-button (click)="RequestSetMainEditor(this.selectedEditor.id, this.selectedBook.id, this.selectedAuthor.id)">Set selected editor as main editor</button>
                        <button mat-button (click)="RequestDeleteMainEditor(this.selectedEditor.id, this.selectedBook.id, this.selectedAuthor.id)">Remove selected editor as main editor</button>
            
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
        
            <mat-tab label="Create/Revise Fragment"><br> 
              <form [formGroup]="fragmentForm" (ngSubmit)="RequestCreateFragment(fragmentForm.value, this.selectedEditor.id, this.selectedBook.id)">

                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment number</mat-label>
                  <input matInput type="text" formControlName="fragmentNumber" required>
                  <mat-hint>Provide the name of the fragment</mat-hint>                       
                </mat-form-field>
              
                <div class="div-padding-sm"></div>

                <mat-form-field class="input-form-full-width">
                  <mat-label>Line number</mat-label>
                  <input matInput type="text" formControlName="lineNumber" required>
                  <mat-hint>Provide the name of the line</mat-hint>                       
                </mat-form-field>
              
                <div class="div-padding-sm"></div>

                <mat-form-field class="input-form-full-width">
                  <mat-label>Line content</mat-label>
                  <input matInput type="text" formControlName="lineContent" required id="LC" [matKeyboard]="'OSCC'">
                  <mat-hint>Provide the content of the line</mat-hint>                       
                </mat-form-field>

                <div class="div-padding-sm"></div>

                <mat-form-field class="input-form-full-width">
                  <mat-label>Line status</mat-label>
                  <input matInput type="text" formControlName="lineStatus">
                  <mat-hint>Provide the status of the fragment</mat-hint>                       
                </mat-form-field>       
                <div class="div-padding"></div>
                <button mat-button type="submit" [disabled]="!fragmentForm.valid">Upload</button>
              </form>
              <div class="div-padding"></div>
              <button mat-button (click)="RequestDeleteFragment(this.selectedEditor.id, this.selectedBook.id, this.selectedFragment)"  *ngIf="this.authService.isTeacher">Delete selected Fragment</button>

              </mat-tab>

            <!-- Tab Group to change a fragment. -->

            <mat-tab label="Create/Revise Content"><br>
                <h4>Select one of the fragments to change its contents fields. Only changes will be saved.</h4>
                <!-- Uses form group! On pressing upload, changes will be put in the form. -->
                <form [formGroup]="contentForm" (ngSubmit)="RequestReviseContent(contentForm.value)">
                                                                         
                  <mat-form-field class="input-form-full-width">
                    <mat-label><b>Fragment translation</b></mat-label>
                    <textarea matInput type="text" formControlName="translation" id="FT" [matKeyboard]="'OSCC'"></textarea>
                    <!-- <mat-hint>Provide the revised translation of the selected fragment</mat-hint>  -->
                  </mat-form-field>

                  <div class="div-padding-sm"></div>

                  <mat-form-field class="input-form-full-width">
                    <mat-label><b>Fragment apparatus criticus</b></mat-label>
                    <textarea matInput type="text" formControlName="apparatus" id="FA" [matKeyboard]="'OSCC'"></textarea>
                    <!-- <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                        -->
                  </mat-form-field>

                  <div class="div-padding-sm"></div>
          
                  <mat-form-field class="input-form-full-width">
                    <mat-label><b>Fragment differences</b></mat-label>
                    <textarea matInput type="text" formControlName="differences" id="FD" [matKeyboard]="'OSCC'"></textarea>
                    <!-- <mat-hint>Provide the revised differences of the selected fragment</mat-hint>                        -->
                  </mat-form-field>

                  <div class="div-padding-sm"></div>

                  <mat-form-field class="input-form-full-width">
                    <mat-label><b>Fragment commentary</b></mat-label>
                    <textarea matInput type="text" formControlName="commentary" id="FC" [matKeyboard]="'OSCC'"></textarea>
                    <!-- <mat-hint>Provide the revised commentary of the selected fragment</mat-hint>                        -->
                  </mat-form-field>
                  
                  <div class="div-padding-sm"></div>

                  <mat-form-field class="input-form-full-width">
                    <mat-label><b>Fragment reconstruction</b></mat-label>
                    <textarea matInput type="text" formControlName="reconstruction" id="FR" [matKeyboard]="'OSCC'"></textarea>
                    <!-- <mat-hint>Provide the revised reconstruction of the selected fragment</mat-hint>                        -->
                  </mat-form-field>                  

                  <!-- Button is linked via the submit type! -->
                  <br><br>
                  <button mat-button class="button" type="submit" [disabled]="!contentForm.valid">Upload</button>
                </form>

                <!-- <button [cdkCopyToClipboard]="value">Copy to clipboard</button> -->


              </mat-tab>
                    
              <!-- Tab to fix the context: select author and change its content. -->
              <mat-tab label="Revise/Create Context"><br>
                <h4>Select one of the fragments to change its context fields.</h4>
                <mat-form-field class="input-form">
                  <mat-label>Fragment context author</mat-label>
                  <mat-select [(ngModel)]="selectedContext">
                    <mat-option *ngFor="let item of this.F_Context" [value]="item.id"
                    (click)="UpdateForm('contextForm','contextAuthor',item.contextAuthor)"
                    (click)="UpdateForm('contextForm','context',item.context)">                  
                      {{ item.contextAuthor }}                       
                    </mat-option>
                  </mat-select>
                  <mat-hint>Select the author of the requested context for the selected fragment</mat-hint>
                </mat-form-field>
                <div class="div-padding-sm"></div>

                <form [formGroup]="contextForm" (ngSubmit)="RequestReviseContext(contextForm.value)">

                  <mat-form-field class="input-form-full-width">
                    <mat-label>Context Author</mat-label>
                    <input matInput type="text" formControlName="contextAuthor" required id="CA" [matKeyboard]="'OSCC'">
                    <mat-hint>Provide the context author</mat-hint>                       
                  </mat-form-field>                  


                  <mat-form-field class="input-form-full-width">
                    <mat-label>Context</mat-label>
                    <textarea matInput type="text" formControlName="context" required id="CC" [matKeyboard]="'OSCC'"></textarea>
                    <mat-hint>Provide the context</mat-hint>                       
                  </mat-form-field>             
                  
                  <!-- Button is linked via the submit type! -->
                  <div class="div-padding"></div>
                  <button mat-button class="button" type="submit">Revise Selected Context</button>
                </form>
                <div class="div-padding"></div>    
                <button mat-button (click)="RequestCreateContext(contextForm.value)" [disabled]="!contextForm.valid">Create New Context</button>
    
              </mat-tab>
              
              <mat-tab label="Bibliography">

                <mat-radio-group aria-label="Select an option" [(ngModel)]="bibType">
                  <mat-radio-button value="edition">Edition</mat-radio-button>
                  <mat-radio-button value="translation">Translation</mat-radio-button>
                  <mat-radio-button value="commentary">Commentary</mat-radio-button>
                  <!-- <hr> -->
                  <mat-radio-button value="book">Book</mat-radio-button>
                  <mat-radio-button value="article">Article</mat-radio-button>
                  <mat-radio-button value="evolume">Edited Volume</mat-radio-button>
                  <mat-radio-button value="website">Website</mat-radio-button> 
                                   
                </mat-radio-group>
                              
                  <form [formGroup]="bibForm" (ngSubmit)="RequestReviseBib(bibForm.value)">

                    <div *ngIf="this.bibType == 'edition'">
                      Placeholder
                    </div>
                    <div *ngIf="this.bibType == 'translation'">
                      Placeholder
                    </div>                      
                    <div *ngIf="this.bibType == 'commentary'">
                      Placeholder
                    </div>                      




                    <div *ngIf="this.bibType == 'book'">
                        <mat-form-field class="input-form-full-width">
                          <mat-label>Author Name</mat-label>
                          <input matInput type="text" formControlName="author">
                          <mat-hint>Provide the author</mat-hint>                       
                        </mat-form-field> 
                        
                        <mat-form-field class="input-form-full-width">
                          <mat-label>Book Title</mat-label>
                          <input matInput type="text" formControlName="book">
                          <mat-hint>Provide the Book title</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Year</mat-label>
                          <input matInput type="text" formControlName="year">
                          <mat-hint>Provide the year</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Place</mat-label>
                          <input matInput type="text" formControlName="place">
                          <mat-hint>Provide the place</mat-hint>                       
                        </mat-form-field>   

                      </div>

                      <div *ngIf="this.bibType == 'article'">
                        <mat-form-field class="input-form-full-width">
                          <mat-label>Author Name</mat-label>
                          <input matInput type="text" formControlName="author">
                          <mat-hint>Provide the author</mat-hint>                       
                        </mat-form-field> 
                          
                        <mat-form-field class="input-form-full-width">
                          <mat-label>Article Title</mat-label>
                          <input matInput type="text" formControlName="article">
                          <mat-hint>Provide the Article title</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Journal Title</mat-label>
                          <input matInput type="text" formControlName="journal">
                          <mat-hint>Provide the Journal title</mat-hint>                       
                        </mat-form-field>  

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Volume</mat-label>
                          <input matInput type="text" formControlName="volume">
                          <mat-hint>Provide the volume number</mat-hint>                       
                        </mat-form-field>  

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Pages</mat-label>
                          <input matInput type="text" formControlName="pages">
                          <mat-hint>Provide the pages</mat-hint>                       
                        </mat-form-field>  

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Year</mat-label>
                          <input matInput type="text" formControlName="year">
                          <mat-hint>Provide the year</mat-hint>                       
                        </mat-form-field>   
                      </div>

                      <!-- <div *ngIf="this.bibType == 'evolume'">
                        <mat-form-field class="input-form-full-width">
                          <mat-label>Editor Name</mat-label>
                          <input matInput type="text" formControlName="editor">
                          <mat-hint>Provide the editor</mat-hint>                       
                        </mat-form-field>  -->

                        <!-- <mat-form-field class="input-form-full-width">
                          <mat-label>Author Name</mat-label>
                          <input matInput type="text" formControlName="author">
                          <mat-hint>Provide the author</mat-hint>                       
                        </mat-form-field> 

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Book Title</mat-label>
                          <input matInput type="text" formControlName="book">
                          <mat-hint>Title edited volume</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Chapter</mat-label>
                          <input matInput type="text" formControlName="chapterTitle">
                          <mat-hint>Title of the article</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Pages</mat-label>
                          <input matInput type="text" formControlName="pages">
                          <mat-hint>Provide the pages</mat-hint>                       
                        </mat-form-field>  

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Year</mat-label>
                          <input matInput type="text" formControlName="year">
                          <mat-hint>Provide the year</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Pages</mat-label>
                          <input matInput type="text" formControlName="pages">
                          <mat-hint>Provide the pages</mat-hint>                       
                        </mat-form-field>   -->
                      <!-- </div> -->

                      <div *ngIf="this.bibType == 'evolume'">
                        <!-- <mat-form-field class="input-form-full-width">
                          <mat-label>Editor Name</mat-label>
                          <input matInput type="text" formControlName="editor">
                          <mat-hint>Provide the Editor</mat-hint>                       
                        </mat-form-field>  -->

                          <!-- <mat-form-field class="input-form-full-width">
                            <mat-label>Editor Name</mat-label>
                            <input matInput type="text" formControlName="editor2">
                            <mat-hint>Provide the editor</mat-hint>                       
                          </mat-form-field>  -->

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Author Name</mat-label>
                          <input matInput type="text" formControlName="author">
                          <mat-hint>Provide the author</mat-hint>                       
                        </mat-form-field> 

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Book Title</mat-label>
                          <input matInput type="text" formControlName="book">
                          <mat-hint>Title edited volume</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Chapter</mat-label>
                          <input matInput type="text" formControlName="chapterTitle">
                          <mat-hint>Title of the article</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Pages</mat-label>
                          <input matInput type="text" formControlName="pages">
                          <mat-hint>Provide the pages</mat-hint>                       
                        </mat-form-field>  

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Year</mat-label>
                          <input matInput type="text" formControlName="year">
                          <mat-hint>Provide the year</mat-hint>                       
                        </mat-form-field>   

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Pages</mat-label>
                          <input matInput type="text" formControlName="pages">
                          <mat-hint>Provide the pages</mat-hint>                       
                        </mat-form-field>
                      </div>

                      <div *ngIf="this.bibType == 'website'">
                        <mat-form-field class="input-form-full-width">
                          <mat-label>Website Title</mat-label>
                          <input matInput type="text" formControlName="website">
                          <mat-hint>Provide the website title</mat-hint>                       
                        </mat-form-field>  

                        <mat-form-field class="input-form-full-width">
                          <mat-label>URL</mat-label>
                          <input matInput type="text" formControlName="url">
                          <mat-hint>Provide the website url</mat-hint>                       
                        </mat-form-field>  

                        <mat-form-field class="input-form-full-width">
                          <mat-label>Consult date</mat-label>
                          <input matInput type="text" formControlName="consultDate">
                          <mat-hint>Provide the consult date</mat-hint>                       
                        </mat-form-field>   
                      </div>
                      <!-- Button is linked via the submit type! -->
                      <div class="div-padding"></div>
                      <button mat-button class="button" type="submit">Upload Bib Entry</button>
                    </form>
        
              </mat-tab>

              <mat-tab label="Publish" *ngIf="this.authService.isTeacher"><br>
                <button mat-button (click)="this.RequestPublishFlag(this.selectedEditor.id, this.selectedBook.id, this.selectedFragment, 1)">Publish selected fragment</button>
                <button mat-button (click)="this.RequestPublishFlag(this.selectedEditor.id, this.selectedBook.id, this.selectedFragment, 0)">Unpublish selected fragment</button>
            </mat-tab>

            

        </mat-tab-group>
        

    </div>
</div>