<!-- I think this can be removed. -->
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<!-- Maybe we should get a local stylesheet? -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<!-- Simple toolbar with all the different buttons and the title -->
<mat-toolbar color="primary">
    <span style="width: fit-content; transform: translateY(-1px)">
      <h3 class='h3-title'>OSCC Dashboard for user {{this.authService.current_user_name}} ({{this.authService.current_user_role}})</h3></span>
    <span class="spacer"></span>
    <button mat-button class="btn" (click)="this.request_authors()">RELOAD AUTHORS</button>
    <button mat-button class="btn" *ngIf="this.authService.current_user_role == 'teacher'" (click)="test('Navbar')">TEST</button>
    <button mat-button class="btn" routerLink="/fragments">FRAGMENTS</button>
    <!-- <button mat-button class="btn" (click)="request_authors()">RELOAD AUTHORS</button> -->
</mat-toolbar>

<br>

<!-- TAB GROUPS TO ENTER DATA -->

<!-- FRAGMENT PANEL -->
<div class="container-fluid">
  <mat-accordion multi>
    <!-- Change fragment expansion panel -->
    <mat-expansion-panel *ngIf="this.authService.current_user_role == 'teacher' || this.authService.current_user_role == 'student'" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change fragment data
        </mat-panel-title>
        <mat-panel-description>
          Create, revise and delete fragments.
          <mat-icon>text_snippet</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Selection of fragment -->
      <mat-form-field>
        <mat-label>Select author</mat-label>
        <mat-select>
            <mat-option *ngFor="let author of this.retrieved_authors" [value]="author.name"
              (click)="this.selected_author = author.name"  
              (click)="this.request_books(author.name)"
              (click)="this.retrieved_books = []; this.retrieved_editors = []; this.retrieved_fragment_numbers = []"
              (click)="this.fragment_selected = false; this.allow_fragment_creation = false"
              (click)="this.reset_fragment_form()">
                {{ author.name }} 
            </mat-option>
        </mat-select>  
      </mat-form-field> 

      <mat-form-field>
          <mat-label>Select text</mat-label>
          <mat-select>
              <mat-option *ngFor="let book of this.retrieved_books" [value]="book.name" 
                (click)="this.selected_book = book.name"  
                (click)="this.request_editors(this.selected_author, book.name)"
                (click)="this.retrieved_editors = []; this.retrieved_fragment_numbers = []"
                (click)="this.fragment_selected = false; this.allow_fragment_creation = false"
                (click)="this.reset_fragment_form()">
                  {{ book.name }}                
              </mat-option>
          </mat-select>
      </mat-form-field>
  
      <mat-form-field>
          <mat-label>Select edition</mat-label>
          <mat-select>
              <mat-option *ngFor="let editor of this.retrieved_editors" [value]="editor.name"
                  (click)="this.selected_editor = editor.name"  
                  (click)="this.request_fragments(this.selected_author, this.selected_book, editor.name)"
                  (click)="this.retrieved_fragment_numbers = []"
                  (click)="this.fragment_selected = false; this.allow_fragment_creation = true"
                  (click)="this.reset_fragment_form()">
                    {{ editor.name }}                     
              </mat-option>
          </mat-select>
      </mat-form-field>
  
      <mat-form-field>
          <mat-label>Fragment</mat-label>
          <mat-select>
              <mat-option *ngFor="let fragment_name of this.retrieved_fragment_numbers" [value]="fragment_name"
                (click)="this.reset_fragment_form()" 
                (click)="this.retrieve_requested_fragment(selected_author, selected_book, selected_editor, fragment_name)"
                (click)="this.fragment_selected = true">
                  {{ fragment_name }} 
              </mat-option>
          </mat-select>
      </mat-form-field>

      <hr>
      <!-- Buttons to submit fragment data -->
      <button mat-stroked-button color="primary" [disabled]="!fragment_form.valid" (click)="request_create_fragment(this.fragment_form.value)" 
      *ngIf="this.authService.current_user_role == 'teacher' || this.authService.current_user_role == 'student'">Create Fragment</button>
      <button mat-stroked-button color="primary" [disabled]="!fragment_form.valid" (click)="request_revise_fragment(this.fragment_form)" 
      *ngIf="this.authService.current_user_role == 'teacher' || this.authService.current_user_role == 'student'">Revise Fragment</button>
      <button mat-stroked-button color="warn" [disabled]="!fragment_selected" (click)="request_delete_fragment(this.fragment_form.value)" 
      *ngIf="this.authService.current_user_role == 'teacher'">Delete Fragment</button>

      <hr>
      
      <!-- Data fields -->
      <mat-tab-group>
  
        <mat-tab label="Fragment Meta Data"><br> 
          
          <div class="alert alert-info" role="alert">
            To create a new fragment, please provide all meta data and press the <b>Create Fragment</b> button. The button wont activate before all meta data fields are filled in correctly. To then add content or make changes to your fragment, select yours using the drop down menus at the top and use the <b>Revise Fragment</b> button. After each revision, please reselect your fragment.
          </div>
          <!-- Every mat tab has its own fragment_form call to keep each entity easily separated and organised -->

          <form [formGroup]="fragment_form">
            <mat-form-field class="input-form-full-width">
              <mat-label>Fragment name</mat-label>
              <input required matInput type="text" formControlName="fragment_name"> <!--required> -->
              <mat-hint><b>Only</b> provide the number of the fragment</mat-hint>
              <mat-error *ngIf="fragment_form.get('fragment_name').errors?.['required']">You must enter a value.</mat-error>  
              <mat-error *ngIf="fragment_form.get('fragment_name').errors?.['pattern']">You entered disallowed characters.</mat-error>                  
            </mat-form-field>
            
            <div class="div-padding-sm"></div>

            <mat-form-field class="input-form-full-width"> 
              <mat-label>Author name</mat-label>
              <input required matInput type="text" formControlName="author">
              <mat-hint>Provide the author of the fragment</mat-hint>   
              <!-- i prefer the get function like this to prevent long getters-->
              <mat-error *ngIf="fragment_form.get('author').errors?.['required']">You must enter a value.</mat-error>  
              <mat-error *ngIf="fragment_form.get('author').errors?.['pattern']">You entered disallowed characters.</mat-error>                    
            </mat-form-field>
          
            <div class="div-padding-sm"></div>

            <mat-form-field class="input-form-full-width">
              <mat-label>Title name</mat-label>
              <input required matInput type="text" formControlName="title">
              <mat-hint>Provide the name of the book</mat-hint>
              <mat-error *ngIf="fragment_form.get('title').errors?.['required']">You must enter a value.</mat-error>  
              <mat-error *ngIf="fragment_form.get('title').errors?.['pattern']">You entered disallowed characters.</mat-error>                       
            </mat-form-field>

            <div class="div-padding-sm"></div>

            <mat-form-field class="input-form-full-width">
              <mat-label>Editor name</mat-label>
              <input required matInput type="text" formControlName="editor">
              <mat-hint>Provide the name of the editor</mat-hint>    
              <mat-error *ngIf="fragment_form.get('editor').errors?.['required']">You must enter a value.</mat-error>  
              <mat-error *ngIf="fragment_form.get('editor').errors?.['pattern']">You entered disallowed characters.</mat-error>                   
            </mat-form-field>

            <div class="div-padding-sm"></div>

            <mat-form-field appearance="fill">
              <mat-select required formControlName="status">
                <mat-option value="Certum">Certum</mat-option>
                <mat-option value="Incertum">Incertum</mat-option>
                <mat-option value="Adesp.">Adespota</mat-option>
              </mat-select>
              <mat-label>Line status</mat-label>
            </mat-form-field>

            <div class="div-padding"></div>

          </form>
        </mat-tab> <!-- end of the Meta data tab -->

        <mat-tab label="Fragment Lines"><br>
          <!-- This piece of code allows users to create fragment lines by providing a line number and line text for each lines. 
                Lines can be dynamically created using the Add New Fragment Line button. This will create a new form group per line, which will
                be pushed to the Lines FormArray within fragment_form. -->
          <div class="alert alert-info" role="alert">
            Press the <b>Add New Fragment Line</b> button for every single line of the fragment. For example, if your fragment has three lines, press the button thrice and add your lines in plain text to the three fields that have appeared. Do not add HTML for a paragraph here!
          </div>

          <div class="alert alert-info" role="alert">
            You can press <b>SHIFT</b> for the popup keyboard to reveal more metre and HTML possibilities.
          </div>

          <form [formGroup]="fragment_form">
            <button mat-stroked-button color="primary" (click)="push_fragment_line_to_fragment_form('','')">Add New Fragment Line</button>
            
            <div class="div-padding-lg"></div>

            <div formArrayName="lines"
              *ngFor="let item of fragment_form.get('lines')['controls']; let i = index;">
              <div [formGroupName]="i">

                <mat-form-field class="input-form-small">
                  <mat-label>Line name</mat-label>
                  <input matInput type="text" formControlName="line_number">
                </mat-form-field>

                <mat-form-field class="input-form-half">
                  <mat-label>Line text</mat-label>
                  <input matInput type="text" formControlName="text" [matKeyboard]="'OSCC'">
                </mat-form-field>

                <button mat-button (click)="remove_form_item_from_form_array('fragment_form','lines', i)">Delete this line</button>
              </div>
            </div>
          </form>

        </mat-tab> <!-- end of the Fragment lines tab -->

        <mat-tab label="Fragment Content"><br>
          <!-- This piece of code allows users to provide content for the fragment. It contains simple text fields
                which communicate directly with the fragment_form. -->
          <div class="alert alert-info" role="alert">
            You can press <b>SHIFT</b> for the popup keyboard to reveal more metre and HTML possibilities. Furthermore, text fields can be enlarged if needs be.
          </div>

          <form [formGroup]="fragment_form">

            <mat-form-field class="input-form-full-width">
              <mat-label><b>Fragment translation</b></mat-label>
              <textarea matInput type="text" formControlName="translation" id="FT" [matKeyboard]="'OSCC'"></textarea>
            </mat-form-field>

            <div class="div-padding-sm"></div>

            <mat-form-field class="input-form-full-width">
              <mat-label><b>Fragment apparatus criticus</b></mat-label>
              <textarea matInput type="text" formControlName="apparatus" id="FA" [matKeyboard]="'OSCC'"></textarea>
            </mat-form-field>

            <div class="div-padding-sm"></div>
    
            <mat-form-field class="input-form-full-width">
              <mat-label><b>Fragment differences</b></mat-label>
              <textarea matInput type="text" formControlName="differences" id="FD" [matKeyboard]="'OSCC'"></textarea>
            </mat-form-field>

            <div class="div-padding-sm"></div>

            <mat-form-field class="input-form-full-width">
              <mat-label><b>Fragment commentary</b></mat-label>
              <textarea matInput type="text" formControlName="commentary" id="FC" [matKeyboard]="'OSCC'"></textarea>
            </mat-form-field>
            
            <div class="div-padding-sm"></div>

            <mat-form-field class="input-form-full-width">
              <mat-label><b>Fragment reconstruction</b></mat-label>
              <textarea matInput type="text" formControlName="reconstruction" id="FR" [matKeyboard]="'OSCC'"></textarea>
            </mat-form-field> 
          </form>
        </mat-tab> <!-- end of the Fragment content tab -->

        <mat-tab label="Fragment Context"><br>
          <!-- This piece of code allows users to create fragment contexts by providing a location, author and text. 
                Contexts can be dynamically created using the Add New Context button. This will create a new form group per context, which will
                be pushed to the Context FormArray within fragment_form. -->
          <div class="alert alert-info" role="alert">
            Press the <b>Add Fragment Context</b> for each context author. Entries from the same work may be separated or added to the same field.
          </div>

          <form [formGroup]="fragment_form">

            <button mat-stroked-button color="primary" (click)="push_fragment_context_to_fragment_form('','','')">Add Fragment Context</button>

            <div class="div-padding-lg"></div>

            <div formArrayName="context"
              *ngFor="let item of fragment_form.get('context')['controls']; let i = index;">
              <div [formGroupName]="i">

                <mat-form-field class="input-form-small">
                  <mat-label>Context author name</mat-label>
                  <input matInput type="text" formControlName="author"> <!--required> -->
                </mat-form-field>

                <mat-form-field class="input-form-small">
                  <mat-label>Context location</mat-label>
                  <input matInput type="text" formControlName="location" [matKeyboard]="'OSCC'"> <!--required> -->
                </mat-form-field>

                <mat-form-field class="input-form-half">
                  <mat-label>Context text</mat-label>
                  <input matInput type="text" formControlName="text" [matKeyboard]="'OSCC'"> <!--required> -->
                </mat-form-field>

                <button mat-button (click)="remove_form_item_from_form_array('fragment_form','context', i)">Delete this context</button>
              </div>
            </div>
          </form>

        </mat-tab>  <!-- end of the Fragment context tab -->

        <mat-tab label="Fragment Bibliography"><br>

          <div class="alert alert-info" role="alert">
            The OSCC has a build-in bibliography management system which is accessible to all users. Simply search for your author using the field below and press the appropriate title to add the source to your fragment.
            If your entry does not exist yet, create it using the <b>Change bibliography data</b> panel. Do not forget to press <b>Revise Fragment</b> to save changes.
          </div>

          <!-- Find the name of your author -->
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Search an author</mat-label>
              <input type="text"
                    placeholder="Type author name"
                    aria-label="Author"
                    matInput
                    [formControl]="bibliography_author_selection_form"
                    [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of bibliography_author_selection_form_filtered_options | async" [value]="option"
                (click)="this.request_bibliography_from_author(option)">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-hint>Found titles will be listed below</mat-hint>                       
            </mat-form-field>
          </form>
        
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let bib_entry of retrieved_author_bibliography" [value]="bib_entry" 
              (click)="this.push_bibliography_reference(bib_entry)"
              (click)="this.bib_entry_selected = true">
              {{bib_entry.author}}, {{bib_entry.title}}, {{bib_entry.year}}
            </mat-list-option>
          </mat-selection-list>

          <hr>

          <div class="div-padding-lg"></div>

          <div formArrayName="linked_bib_entries"
          *ngFor="let item of fragment_form.get('linked_bib_entries')['controls']; let i = index;">
          
            <div [formGroupName]="i">

              <mat-form-field class="input-form-small">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author" readonly>
              </mat-form-field>

              <mat-form-field class="input-form-small">
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title" readonly>
              </mat-form-field>
              
              <mat-form-field class="input-form-small">
                <mat-label>Year</mat-label>
                <input matInput type="text" formControlName="year" readonly>
              </mat-form-field>                

              <button mat-button (click)="Remove_form_item('linked_bib_entries', i)">Delete this source</button>

            </div>
          </div>

        </mat-tab>  <!-- end of the Fragment bibliography tab -->

        <mat-tab *ngIf="this.authService.is_teacher" label="Fragment References"><br>

          <div class="alert alert-danger" role="alert">
            This functionality is under development. Do not use.
          </div>

          <div class="alert alert-info" role="alert">
            This functionality allows you to link fragments. The selected fragment can point towards other fragments. Select author, text, edition and fragment below to point your fragment to this newly selected fragment. 
            This will allow commentaries from the referenced fragment to be retrieved, as well as highlight the referenced fragment when multiple columns are selected in the frontend. <i>Nota bene:</i> this creates a one-way 
            reference: you will need to link the fragments vice versa too for a true link.
          </div>

          <hr>
      
          <mat-form-field>
              <mat-label>Select referenced author</mat-label>
              <mat-select>
              </mat-select>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Select referenced text</mat-label>
            <mat-select>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Select referenced edition</mat-label>
            <mat-select>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Select referenced fragment</mat-label>
            <mat-select>
            </mat-select>
          </mat-form-field>
          <!-- When clicking the last form field, add the fragment to the FormArray -->

          <form [formGroup]="fragment_form">
            
            <div class="div-padding-lg"></div>
              
            <div formArrayName="linked_fragments"
              *ngFor="let item of fragment_form.get('linked_fragments')['controls']; let i = index;">
              
              <div [formGroupName]="i">

                <mat-form-field class="input-form-half">
                  <mat-label>Linked fragment</mat-label>
                  <input matInput type="text" formControlName="fragment_id"> <!--required> -->
                </mat-form-field>

                <button mat-button (click)="remove_form_item_from_form_array('fragment_form', 'linked_fragments', i)">Delete this reference</button>

              </div>
            </div>
          </form>

          <hr>

          <!-- POSSIBILITY TO LINK FRAGMENTS AUTOMATICALLY BASED ON THEIR FUZZYWUZZY CLOSENESS -->
          <div class="alert alert-info" role="alert">
              OSCC can also automatically link similar fragments from different editors together. 
              To do so, select the author and title you wish to link fragments for and click <b>Automatically link fragments</b>.
              The program will attempt to link all similar enough fragments together. However, some fragments might be missed.
              It is recommended that the user checks the linked fragments and edits them manually if needed.
          </div>
        
          <div class="container">
            <div class="row">
              <div class="col-10">
                <mat-form-field>
                  <mat-label>Select author</mat-label>
                  <mat-select>
                      <mat-option *ngFor="let author of this.retrieved_authors" [value]="author.name"
                        (click)="this.selected_author = author.name"  
                        (click)="this.request_books(author.name)">
                          {{ author.name }} 
                      </mat-option>
                  </mat-select>  
                </mat-form-field> 
          
                <mat-form-field>
                    <mat-label>Select text</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let book of this.retrieved_books" [value]="book.name" 
                          (click)="this.selected_book = book.name">
                            {{ book.name }}                
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div> <!--FIXME: should only be clickable if author and book are selected -->
                  <button mat-stroked-button color="primary" (click)="request_automatic_fragment_linker(this.selected_author, this.selected_book)" 
                  *ngIf="this.authService.is_teacher">Automatically link fragments</button>
                </div>
              </div>

              <div class="col-2">
                <mat-spinner *ngIf="this.spinner_active" [diameter]="70"></mat-spinner>
              </div>
            </div>
          </div>
        
        </mat-tab> <!-- end of the Fragment referencer tab -->
              
        <mat-tab label="Fragment Access" *ngIf="this.authService.is_teacher"><br>
          <!-- This tab changes the fragment access. It has to parts. A lock function which disallows change and publish function
          which allows the fragment to show up on the frontend -->
          
          
          <form [formGroup]="fragment_form">
          
            <div class="alert alert-info" role="alert">
              To lock the selected fragment to disallow further change by users, select the lock checkbox.
            </div>
            <!-- <mat-checkbox class="padding-left" formControlName="lock">Lock fragment</mat-checkbox> -->

            <mat-form-field appearance="fill">
              <mat-select formControlName="lock">
                <mat-option value="locked">Locked</mat-option>
                <mat-option value="unlocked">Unlocked</mat-option>
              </mat-select>
              <mat-label>Fragment lock status</mat-label>
            </mat-form-field>

            <div class="div-padding-sm"></div>

            <mat-form-field appearance="fill">
              <mat-select formControlName="published">
                <mat-option value="published">Published</mat-option>
                <mat-option value="unpublished">Unpublished</mat-option>
              </mat-select>
              <mat-label>Fragment publish status</mat-label>
            </mat-form-field>

            <!-- <mat-checkbox class="padding-left" formControlName="published">Publish fragment</mat-checkbox> -->


          </form>
        </mat-tab> <!-- end of the Fragment lock tab -->                      

      </mat-tab-group>

    </mat-expansion-panel>

    <hr>
    
    <!-- BIBLIOGRAPHY PANEL -->
    <mat-expansion-panel *ngIf="this.authService.is_logged_in" [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change bibliography data
        </mat-panel-title>
        <mat-panel-description>
          Create, revise and delete bibliography entries.
          <mat-icon>auto_stories</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>          
    
      <div class="alert alert-info" role="alert">
        The OSCC has a build-in bibliography management system which is accessible to all users. Select the tab appropriate for your title and fill in all fields (without HTML formatting).
        It can then be linked to a fragment using the <b>Change fragment data</b> panel. If you want to revise a source, use the Author search field below to find it in the database. 
        Make sure you are in the correct tab before pressing the revise button. 
      </div>

      <!-- Buttons to submit fragment data -->
      <button mat-stroked-button color="primary" [disabled]="!bibliography_form.valid" (click)="request_create_bibliography_entry(this.bibliography_form.value)" 
      *ngIf="this.authService.current_user_role == 'teacher' || this.authService.current_user_role == 'student'">Create bibliography entry</button>
      <button mat-stroked-button color="primary" [disabled]="!bibliography_form.valid" (click)="request_revise_bibliography_entry(this.bibliography_form.value)" 
      *ngIf="this.authService.current_user_role == 'teacher' || this.authService.current_user_role == 'student'">Revise bibliography entry</button>
      <button mat-stroked-button color="warn" [disabled]="!bib_entry_selected" (click)="request_delete_bibliography_entry(this.bibliography_form.value)" 
          *ngIf="this.authService.current_user_role == 'teacher'">Delete bibliography entry</button>
      <hr>
      
      <!-- Find the name of your author -->
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Search an Author</mat-label>
          <input type="text"
                 placeholder="Type author name"
                 aria-label="Author"
                 matInput
                 [formControl]="bibliography_author_selection_form"
                 [matAutocomplete]="auto">
                 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                   <mat-option *ngFor="let option of bibliography_author_selection_form_filtered_options | async" [value]="option"
                   (click)="this.request_bibliography_from_author(option)">
                   {{option}}
                  </mat-option>
                </mat-autocomplete>
          <mat-hint>Search for title to revise</mat-hint>                       
        </mat-form-field>
      </form>
    
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let bib_entry of retrieved_author_bibliography" [value]="bib_entry" 
          (click)="this.handle_bib_entry_selection(bib_entry)"
          (click)="this.bib_entry_selected = true">
          {{bib_entry.author}}, {{bib_entry.title}}, {{bib_entry.year}}
        </mat-list-option>
      </mat-selection-list>

      <hr>
      
      <mat-tab-group [selectedIndex]="bibliography_form_selected_type.value" (selectedTabChange)="on_bibliography_tab_change($event)">
        <form [formGroup]="bibliography_form">
          <mat-tab label="Book"><br>

            <mat-form-field class="input-form-half">
              <mat-label>Author</mat-label>
              <input matInput type="text" formControlName="author"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>
          
            <mat-form-field class="input-form-half">
              <mat-label>Title</mat-label>
              <input matInput type="text" formControlName="title"> <!--required> -->
              <!-- <mat-hint>pwease give me a titwe awnd i wiww give uwu evewything</mat-hint>                        -->
            </mat-form-field>
            
            <mat-form-field class="input-form-half">
              <mat-label>Year</mat-label>
              <input matInput type="text" formControlName="year"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>
            
            <mat-form-field class="input-form-half">
              <mat-label>Series</mat-label>
              <input matInput type="text" formControlName="series"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>

            <mat-form-field class="input-form-half">
              <mat-label>Number</mat-label>
              <input matInput type="text" formControlName="number"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>        

            <mat-form-field class="input-form-half">
              <mat-label>Location</mat-label>
              <input matInput type="text" formControlName="location"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>
            
            <mat-form-field class="input-form-half">
              <mat-label>Edition</mat-label>
              <input matInput type="text" formControlName="edition"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>          
          
          </mat-tab>

          <mat-tab label="Article"><br>
            <mat-form-field class="input-form-half">
              <mat-label>Author</mat-label>
              <input matInput type="text" formControlName="author"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>
          
            <mat-form-field class="input-form-half">
              <mat-label>Title</mat-label>
              <input matInput type="text" formControlName="title"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>
            
            <mat-form-field class="input-form-half">
              <mat-label>Year</mat-label>
              <input matInput type="text" formControlName="year"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>
            
            <mat-form-field class="input-form-half">
              <mat-label>Journal</mat-label>
              <input matInput type="text" formControlName="journal"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>

            <mat-form-field class="input-form-half">
              <mat-label>Volume</mat-label>
              <input matInput type="text" formControlName="volume"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>        

            <mat-form-field class="input-form-half">
              <mat-label>Pages</mat-label>
              <input matInput type="text" formControlName="pages"> <!--required> -->
              <!-- <mat-hint>U adds book, u gib name =3 uwu</mat-hint>                        -->
            </mat-form-field>            
          </mat-tab>      
        </form>
      </mat-tab-group>
    </mat-expansion-panel>

    <hr>

    <!-- Change user expansion panel -->
    <mat-expansion-panel *ngIf="this.authService.is_logged_in" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change user data
        </mat-panel-title>
        <mat-panel-description>
          Create and delete users, change roles and passwords.
          <mat-icon>manage_accounts</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>   

      <!-- Functionality to filter the table -->
      <mat-form-field appearance="standard">
        <mat-label>Filter users</mat-label>
        <input matInput (keyup)="apply_user_table_filter($event)" placeholder="Ex. John" #input>
      </mat-form-field>

      <!-- Table itself -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="this.user_table_users" matSort multiTemplateDataRows>

          <!-- Column generation from columns list -->
          <ng-container matColumnDef="{{column}}" *ngFor="let column of user_table_columns_to_display">
            <th mat-header-cell *matHeaderCellDef> {{this.utility.capitalize_word(column)}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
          </ng-container>

          <!-- expand button (Column)-->
          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(user_table_expanded_element = user_table_expanded_element === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="user_table_expanded_element !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="user_table_expanded_element === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- TODO: Expand self user automatically -->
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="user_table_columns_to_displayWithExpand.length">
              
              <div class="table-element-detail"
              [@detailExpand]="element == user_table_expanded_element ? 'expanded' : 'collapsed'">
              
                <!-- Area to change the user's password -->
                <div class="table-element-description table-expansion-panel-subcontainer">
                  <hr>
                  <p>Change the password of the selected user here.</p>
                  <!-- TODO: it would be nice to use the user document id instead of their username to change passwords. -->
                  <form [formGroup]="change_password_form" (ngSubmit)="request_change_password(change_password_form, element.username)">
                    <mat-form-field class="input-form-half" appearance="fill">
                      <mat-label>Enter your password</mat-label>
                      <input matInput required [type]="hide ? 'password' : 'text'" formControlName="password1">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
            
                    <mat-form-field class="input-form-half" appearance="fill">
                      <mat-label>Enter your password again</mat-label>
                      <input matInput required [type]="hide ? 'password' : 'text'" formControlName="password2">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
            
                    <div class="div-padding-sm"></div>
            
                    <button mat-raised-button color="warn" type="submit" [disabled]="!change_password_form.valid">Change password</button>
            
                  </form>
                </div>
                                    
                <!-- Area to change the user data -->
                <div class="table-element-description table-expansion-panel-subcontainer" *ngIf="this.authService.current_user_role == 'teacher'">
                
                  <hr>
                  <p>Change the role of the selected user here.</p>
                  <mat-form-field appearance="fill">
                    <mat-select required [(ngModel)]="element.role">
                      <mat-option value="guest">Guest</mat-option>
                      <mat-option value="student">Student</mat-option>
                      <mat-option value="teacher">Teacher</mat-option>
                    </mat-select>
                    <mat-label>New user role</mat-label>
                  </mat-form-field>
                  <br>
                  <button mat-stroked-button color="warn" (click)="request_delete_user(element)">Delete user</button>
                  <button mat-stroked-button color="primary" (click)="request_change_role(element)">Change role</button>    
            
                </div>
              
              </div>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="user_table_columns_to_displayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: user_table_columns_to_displayWithExpand;"
            class="table-element-row"
            [class.table-expanded-row]="user_table_expanded_element === element"
            (click)="user_table_expanded_element = user_table_expanded_element === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-detail-row"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

      <hr>

      <!-- form to allow admins to create new users -->
      <div *ngIf="this.authService.current_user_role == 'teacher'">
        <form [formGroup]="create_new_user_form" (ngSubmit)="request_create_user(create_new_user_form.value)">
          <mat-form-field class="input-form-half" appearance="fill">
            <mat-label>Provide the name of a new user</mat-label>
            <input matInput required formControlName="new_user">
          </mat-form-field>

          <br>
          <mat-form-field class="input-form-half" appearance="fill">
            <mat-label>Enter their new password</mat-label>
            <input matInput required [type]="hide ? 'password' : 'text'" formControlName="new_password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>

          <div class="div-padding-sm"></div>

          <button mat-raised-button color="primary" type="submit" [disabled]="!create_new_user_form.valid">Create new user</button>

        </form>  
      </div>
    </mat-expansion-panel>
   </mat-accordion>
</div>




