<mat-expansion-panel *ngIf="this.auth_service.current_user_role === 'teacher'" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title> Change author and title introductions </mat-panel-title>
    <mat-panel-description>
      Create and edit descriptions for authors and associated titles
      <mat-icon>assignment_ind</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- Author and title selection boxes -->
  <mat-form-field>
    <mat-label>Select author</mat-label>
    <mat-select [(ngModel)]="this.selected_introduction_data.author" ngDefaultControl>
      <mat-option
        *ngFor="let author of this.selected_introduction_data.retrieved_authors"
        [value]="author"
        (click)="this.selected_introduction_data.selected_fragment_author = author"
        (click)="this.selected_introduction_data.selected_fragment_title = ''"
        (click)="this.selected_introduction_data.retrieved_titles = []"
        (click)="this.reset_introduction_form()"
        (click)="this.update_form_field('introduction_form_group', 'author', author)"
        (click)="this.api.request_titles(selected_introduction_data)"
        (click)="this.request_introduction(this.selected_introduction_data)"
        (click)="this.show_select_author_first_hint = false">
        {{ author }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select title</mat-label>
    <mat-select
      [(ngModel)]="this.selected_introduction_data.selected_fragment_title"
      ngDefaultControl
      (click)="this.show_select_author_first_hint = true">
      <mat-option
        *ngFor="let title of this.selected_introduction_data.retrieved_titles"
        [value]="title"
        (click)="this.selected_introduction_data.selected_fragment_title = title"
        (click)="this.reset_introduction_form()"
        (click)="this.update_form_field('introduction_form_group', 'author', author)"
        (click)="this.update_form_field('introduction_form_group', 'title', title)"
        (click)="this.request_introduction(this.selected_introduction_data)">
        {{ title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error
    class="mat-error-inline"
    *ngIf="this.show_select_author_first_hint && !this.selected_introduction_data.selected_fragment_author"
    >Please select an author first</mat-error
  >

  <!-- Introduction text with wysiwyg editor -->
  <form [formGroup]="introduction_form_group">
    <!-- Author introduction text field -->
    <ng-container *ngIf="this.selected_introduction_data.selected_fragment_author">
      <mat-form-field class="input-form-full-width">
        <mat-label><b>Author introduction</b></mat-label>
        <textarea matInput type="text" formControlName="author_text"></textarea>
      </mat-form-field>
    </ng-container>

    <!-- Title introduction text field -->
    <ng-container *ngIf="this.selected_introduction_data.selected_fragment_title">
      <mat-form-field class="input-form-full-width">
        <mat-label><b>Title introduction</b></mat-label>
        <textarea matInput type="text" formControlName="title_text"></textarea>
      </mat-form-field> </ng-container
    ><br />

    <!-- Save button-->
    <button mat-button class="button-margin-extra" (click)="request_wysiwyg_dialog('title_text')">Rich editor</button>
    <button
      mat-button
      class="button-margin-extra confirm-button"
      (click)="request_save_introduction(this.selected_introduction_data)">
      Save Changes
    </button>
    <mat-label class="mat-label-inline" *ngIf="this.show_changes_saved_hint">Changes saved</mat-label>
    <div class="div-padding-lg"></div>
    <div class="div-padding-sm"></div>
  </form>
</mat-expansion-panel>
