@use "@angular/material" as mat;

@import url("../app.component.scss");
// Fragments component specific CSS. For more generic CSS, see ../app.component.scss.

// @include mat.checkbox-density(1);
// @include mat.mat-checkbox-label {
//   color: white;
// }

/* Toolbar/header CSS */
// Alignment
// mat-checkbox.btn label span.mat-checkbox-inner-container {
//   width: 28px;
// }

// mat-checkbox.btn label span.mat-checkbox-label {
//   width: fit-content;
// }

// Hide checkmark
// mat-checkbox.btn label span span svg {
//   display: none
// }

// // Onclick ripple effect
// button.btn span.mat-ripple {
//   width: inherit;
// }

// Styling for the container element
ng-template {
  height: 100%;
}

// To show a little hand on <a> elements without href but with click events
.a-void {
  cursor: pointer;
  color: black;
}

/* Fragment and commentary column related CSS */

// Box in which the fragment is shown. Created by the for-loop in Fragment Column.
.fragment-box {
  padding: 10px 5px 0px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  // display: block;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  // box-sizing: border-box;
  cursor: move;
  // background: white;
  font-size: 14px;

  &:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 10%) inset;
    cursor: pointer;
  }

  // Border on left side has color gradient indicating initial fragment order.
  // Border-left-color property is generated and set elsewhere via types
  border-left-style: solid;
  border-left-width: medium;
  border-left-color: transparent;
}

/* CDK Drag 'n Drop CSS */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fragment-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// For the notes in the playground
.input-form {
  width: var(--width);
}

// Text component
::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep .mat-mdc-list .mat-mdc-list-item {
  height: initial !important;
}

.neat-lines .mat-mdc-list-item {
  height: auto;
  width: 100%;
}

.selection-form {
  min-width: 25%;
  max-width: 100%;
  /* width: 100%; */
}

.toolbar-text {
  color: white;
}

.column-toolbar {
  max-height: 30px;
  color: white;
  // outline: 1px solid black;
  background: #9fa1fe;
}
.main-column-toolbar {
  max-height: 30px;
  background: #9fa1fe;
  border-bottom: 0.1em solid #3f51b5;
  color: white;
}
