<!-- I think this can be removed. -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<!-- Maybe we should get a local stylesheet? -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Navigation bar -->
<mat-toolbar color="primary">
    <span><h3 class='h3-title'>Open Source Classics Commentary</h3></span>
    <span class="spacer"></span>
    <button mat-button class="btn" routerLink="/dashboard" *ngIf="this.auth_service.is_logged_in">DASHBOARD</button>
    <button mat-button class="btn" (click)="test('thing')" *ngIf="this.auth_service.is_teacher"> TEST</button>
    <mat-checkbox class="btn" [(ngModel)]="toggle_column_one">ONE</mat-checkbox>
    <mat-checkbox class="btn" [(ngModel)]="toggle_column_two">TWO</mat-checkbox>
    <mat-checkbox class="btn" [(ngModel)]="toggle_column_three">THREE</mat-checkbox>
    <mat-checkbox class="btn" [(ngModel)]="toggle_column_four">FOUR</mat-checkbox>
    <mat-checkbox class="btn" [(ngModel)]="toggle_commentary">COM</mat-checkbox>
    <mat-checkbox class="btn" [(ngModel)]="toggle_playground">PLAY</mat-checkbox>
    <button mat-button class="btn" [matMenuTriggerFor]="menu">MENU</button>
</mat-toolbar>

<!-- Navigation bar menu -->
<mat-menu #menu="matMenu">
    <button routerLink="/text" mat-menu-item>Text OSCC</button>
    <button routerLink="/scansion" mat-menu-item>Scansion</button>
    <a href="http://oscc.nolden.biz/Documentation/" target='_blank' mat-menu-item *ngIf="this.auth_service.is_teacher">Documentation</a>  
    <button (click)="login()" mat-menu-item>Login</button>
    <button (click)="this.dialog.OpenAbout()" mat-menu-item>About</button>
    <button mat-menu-item>V22.07.31</button>
</mat-menu>

<div class="div-padding-sm"></div>

<!-- Display for if server is down -->
<div *ngIf="this.server_down" class="alert alert-warning" role="alert">
    Your client cannot connect to the server. Please check if you have the latest version of your browser installed. Furthermore, secured networks like DUWO and Leiden University are known to cause problems. Also, please click <u><a href="https://oscc.lucdh.nl">the following URL</a></u> for the best results. Please contact the administrators if problems are still occuring.
</div>

<!-- Container for the page. One row per item (commentary, playground, multiplayer, etc.) -->
<div class="container-fluid">
    <div class="row">
        <!-- First column, containing the fragments from the selected edition (these are movable) -->                                
        <div *ngIf="toggle_column_one" class="col-sm overflowColumn">
            <div class="row"> <!-- Text information and edition of reference selection -->
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_author;context:{column: 'ONE'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_title;context:{column: 'ONE'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_editor;context:{column: 'ONE'}"></ng-container> </div>
            </div>
            <!-- Fragments loop to display all fragments of the chosen edition of reference --> <!-- Handle the column using the template -->
            <ng-container [ngTemplateOutlet]='fragment_column' [ngTemplateOutletContext]="{column:'ONE'}"></ng-container>
        </div>

        <!-- Second column, containing the fragments from other editions (these are movable) -->                                
        <div *ngIf="toggle_column_two" class="col-sm overflowColumn">
            <div class="row"> <!-- Text information and edition of reference selection -->
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_author;context:{column: 'TWO'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_title;context:{column: 'TWO'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_editor;context:{column: 'TWO'}"></ng-container> </div>
            </div>
            <!-- Fragments loop to display all fragments of the chosen edition of reference --> <!-- Handle the column using the template -->
            <ng-container [ngTemplateOutlet]='fragment_column' [ngTemplateOutletContext]="{column:'TWO'}"></ng-container>
        </div>
    
        <!-- Third column, containing the fragments from other editions (these are movable) -->                                
        <div *ngIf="toggle_column_three" class="col-sm overflowColumn">
            <div class="row"> <!-- Text information and edition of reference selection -->
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_author;context:{column: 'THREE'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_title;context:{column: 'THREE'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_editor;context:{column: 'THREE'}"></ng-container> </div>
            </div>
            <!-- Fragments loop to display all fragments of the chosen edition of reference --> <!-- Handle the column using the template -->
            <ng-container [ngTemplateOutlet]='fragment_column' [ngTemplateOutletContext]="{column:'THREE'}"></ng-container>
        </div>

        <!-- Fourth column, containing the fragments from other editions (these are movable) -->                                
        <div *ngIf="toggle_column_four" class="col-sm overflowColumn">
            <div class="row"> <!-- Text information and edition of reference selection -->
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_author;context:{column: 'FOUR'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_title;context:{column: 'FOUR'}"></ng-container> </div>
                <div class="col-4"> <ng-container *ngTemplateOutlet="select_editor;context:{column: 'FOUR'}"></ng-container> </div>
            </div>
            <!-- Fragments loop to display all fragments of the chosen edition of reference --> <!-- Handle the column using the template -->
            <ng-container [ngTemplateOutlet]='fragment_column' [ngTemplateOutletContext]="{column:'FOUR'}"></ng-container>
        </div>      

        <!-- Column with commentary, shown if a fragment from the edition of reference is clicked -->
        <div *ngIf="toggle_commentary" class="col-sm overflowColumn">
            <!-- Show either fragment data or the fact that no fragment has been selected yet. -->
            <div *ngIf="this.fragment_clicked; else no_fragment_clicked">
                <!-- Fragment information -->
                <h4>Selected {{this.current_fragment.author}}, {{this.current_fragment.title}}, 
                    {{this.current_fragment.editor}}, fragment {{this.current_fragment.fragment_name}}</h4> <hr>
            </div>
            <ng-template #no_fragment_clicked><h4>Click a fragment to show its content.</h4></ng-template>

            <!-- Show banner if no commentary available -->
            <div *ngIf="this.current_fragment.no_content" class="alert alert-info" role="alert">
                No content is available yet for this fragment.
            </div>
            
            <!-- Show the translation of the fragment -->
            <ng-container 
                *ngTemplateOutlet="show_fragment_content;context:{current_fragment_content: this.current_fragment.translation, title:'Fragment Translation'}">
            </ng-container>            
            
            <hr>
            
            <!-- Show the apparatus criticus of the fragment -->
            <ng-container 
                *ngTemplateOutlet="show_fragment_content;context:{current_fragment_content: this.current_fragment.apparatus, title:'Apparatus Criticus'}">
            </ng-container>
    
            <hr>
    
            <!-- Show the fragment differences -->
            <ng-container 
                *ngTemplateOutlet="show_fragment_content;context:{current_fragment_content: this.current_fragment.differences, title:'Fragment Differences'}">
            </ng-container>
    
            <hr>
    
            <!-- Show all context items for the selected fragment -->
            <div *ngFor="let current_context of this.current_fragment.context">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>Citation Context</b>
                        </mat-panel-title>
                        <div>{{current_context.author}} <i>{{current_context.location}}</i></div><div class="div-padding-sm"></div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-content">
                        <div class="mat-expansion-panel-body">
                            <div [innerHTML]="current_context.text"></div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
            
            <hr>
    
            <!-- Show the fragment commentary -->
            <ng-container 
                *ngTemplateOutlet="show_fragment_content;context:{current_fragment_content: this.current_fragment.commentary, title:'Fragment Commentary'}">
            </ng-container>
    
            <hr>
    
            <!-- Show the fragment reconstruction -->
            <ng-container 
                *ngTemplateOutlet="show_fragment_content;context:{current_fragment_content: this.current_fragment.reconstruction, title:'Fragment Reconstruction'}">
            </ng-container>

            <hr>

            <!-- Show the bibliography attached to the fragment -->
            <!-- <mat-expansion-panel *ngIf="this.current_fragment.bibliography.length > 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>Fragment Bibliography</b>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <div *ngFor="let item of this.current_fragment.bibliography">
                        <div [innerHTML]="item"></div>
                    </div>
            </mat-expansion-panel> -->
        </div>
        <hr>
    </div> <!-- This closes the first row. Other items will be put under this row -->
    

    <!-- Row to show the playground -->
    <hr>
    <div class="div-padding-lg"></div>
    <div class="container-fluid height-padding" *ngIf="toggle_playground">               
        <div class="row">
            <!-- Possiblity to select an editor to begin with -->
            <ng-container 
                *ngTemplateOutlet="select_author;context:{column: 'PLAY1', hint:'For your base edition'}">
            </ng-container>
            <ng-container 
                *ngTemplateOutlet="select_title;context:{column: 'PLAY1', hint:'For your base edition'}">
            </ng-container>               
            <ng-container 
                *ngTemplateOutlet="select_editor;context:{column: 'PLAY1', hint:'For your base edition'}">
            </ng-container>

            <ng-container 
                *ngTemplateOutlet="select_author;context:{column: 'PLAY2', hint:'To add a single fragment'}">
            </ng-container>
            <ng-container 
                *ngTemplateOutlet="select_title;context:{column: 'PLAY2', hint:'To add a single fragment'}">
            </ng-container>    
            <ng-container 
                *ngTemplateOutlet="select_editor;context:{column: 'PLAY2', hint:'To add a single fragment'}">
            </ng-container>   

            <!-- Possibility to select a fragment from given editor -->
            <mat-form-field class="select-form">
                <mat-label>Select fragment</mat-label>
                <mat-select>
                    <mat-option *ngFor="let fragment_number of get_column_from_columns('PLAY2').fragment_numbers" [value]="fragment_number"
                        (click)="get_column_from_columns('PLAY2').secondary_fragments = this.add_fragment_to_array(get_column_from_columns('PLAY2').secondary_fragments, fragment_number, get_column_from_columns('PLAY2').fragments)">
                        {{ fragment_number }} 
                    </mat-option>
                </mat-select>
                <mat-hint>To add a single fragment</mat-hint>
            </mat-form-field>  <!-- TODO: allow targeted deletion from this.playground.add_fragment_array -->

            <!-- Possibility to add a little note -->
            <div mat-dialog-content>
                <mat-form-field class="input-form">
                    <input matInput placeholder="Add a note" [(ngModel)]='note'>
                    <button type="button" mat-icon-button matSuffix (click)="get_column_from_columns('PLAY2').note_array = this.utility.PopArray(get_column_from_columns('PLAY2').note_array)">
                        <mat-icon>{{'remove'}}</mat-icon>
                    </button>
                    <!-- FIXME: this needs to be fixed. I swapped functions, but this doesnt work at all like this -->
                    <button type="button" mat-icon-button matSuffix (click)="get_column_from_columns('PLAY2').note_array = this.utility.PushToArray(note, get_column_from_columns('PLAY2').note_array)">
                        <mat-icon>{{'add'}}</mat-icon>
                    </button>
                    <mat-hint>To organise your edition</mat-hint>
                </mat-form-field>               
            </div>  
        </div>

        <hr>
        <!-- For loop to print all the notes -->
        <div *ngFor="let note of get_column_from_columns('PLAY2').note_array" class="note zlayer3" cdkDrag>
            {{note}}
        </div>
        <!-- For loop to print all the base selected fragments -->
        <div *ngFor="let fragment of get_column_from_columns('PLAY1').fragments" class="playground zlayer2" cdkDrag>
            
            <b>Fragment {{fragment.fragment_name}} </b> &nbsp; <sup>{{fragment.author}}, {{fragment.title}}, {{fragment.editor}}</sup> &nbsp; <i>{{fragment.status}}</i>
            
            <div *ngFor="let line of fragment.lines">           
                <div [innerHTML]="line.line_complete"></div>
            </div> 
        </div>
        <!-- For loop to print the added fragments -->
        <div *ngFor="let fragment of get_column_from_columns('PLAY2').secondary_fragments" class="playground zlayer2" cdkDrag>
            <b>Fragment {{fragment.fragment_name}} </b> &nbsp; <sup>{{fragment.author}}, {{fragment.title}}, {{fragment.editor}}</sup> &nbsp; <i>{{fragment.status}}</i>
            <div *ngFor="let line of fragment.lines">           
                <div [innerHTML]="line.line_complete"></div>
            </div> 
        </div>
    </div> <!-- Closes the row -->
</div>

<!-- TEMPLATES -->
<!-- Template for the select authors mat-option field -->
<ng-template #select_author let-column="column" let-hint="hint">  
    <mat-form-field>
        <mat-label>Select author</mat-label>
        <mat-select>
            <mat-option *ngFor="let author of get_column_from_columns(column).retrieved_authors" [value]="author"
                (click)="this.handle_author_selection(get_column_from_columns(column), author.name)">
                {{ author.name }} 
            </mat-option>
        </mat-select>
        <mat-hint>{{hint}}</mat-hint>
    </mat-form-field> 
</ng-template>

<!-- Template for the select text title mat-option field -->
<ng-template #select_title let-column="column" let-hint="hint">   
    <mat-form-field>
        <mat-label>Select text</mat-label>
        <mat-select>
            <mat-option *ngFor="let book of get_column_from_columns(column).retrieved_titles" [value]="book" 
            (click)="this.handle_title_selection(get_column_from_columns(column), book.name)">
                {{ book.name }}                
            </mat-option>
        </mat-select>
        <mat-hint>{{hint}}</mat-hint>
    </mat-form-field>
</ng-template>

<!-- Template for the select editor mat-option field -->
<ng-template #select_editor let-column="column" let-hint="hint">   
    <mat-form-field>
        <mat-label>Select edition</mat-label>
        <mat-select>
            <mat-option *ngFor="let editor of get_column_from_columns(column).retrieved_editors" [value]="editor"
                (click)="this.handle_editor_selection(get_column_from_columns(column), editor.name)">
                {{ editor.name }}                     
            </mat-option>
        </mat-select>
        <mat-hint>{{hint}}</mat-hint>
    </mat-form-field>
</ng-template>

<!-- Fragments loop to display all fragments of the chosen edition of reference -->
<ng-template #fragment_column let-column="column">
    <div cdkDropList (cdkDropListDropped)="this.utility.moveAndDrop($event, get_column_from_columns(column).fragments)">
        <div *ngFor="let fragment of get_column_from_columns(column).fragments"> 
            <div class="fragment-box" (click)="handle_fragment_click(fragment)" cdkDrag>
                <b [style.color]="fragment.colour">Fragment {{fragment.fragment_name}} </b> &nbsp; <sup>{{fragment.author}}, {{fragment.title}}, {{fragment.editor}}</sup> &nbsp; <i>{{fragment.status}}</i>
                <div *ngFor="let fragment_line of fragment.lines">      
                    <div [innerHTML]="fragment_line.line_complete | safeHtml"></div>  <!--safeHtml to allow whitespaces             -->
                </div>  
            </div>
        </div>
    </div> 
</ng-template>
       
<!-- Template to show fragment content from the given fragment in a mat expansion panel -->
<ng-template #show_fragment_content let-current_fragment_content="current_fragment_content" let-title="title">   
    <mat-expansion-panel *ngIf="current_fragment_content">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{title}}</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
            <div class="mat-expansion-panel-body">
                <div [innerHTML]="current_fragment_content"></div>
            </div>
        </div>
    </mat-expansion-panel>
</ng-template>
