<div mat-dialog-component style="padding: 2em">
  <h2 mat-dialog-title>Document selector</h2>
  <div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Fragments">
        <app-fragment-table></app-fragment-table>
      </mat-tab>
      <mat-tab label="Testimonia"> Content 2 </mat-tab>
      <mat-tab label="Text"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="this.exit()">Cancel</button>
    <button mat-button (click)="this.add()" cdkFocusInitial>Add selection</button>
    <button mat-button (click)="this.add_and_close()" cdkFocusInitial>Add selection and close</button>
  </div>
</div>
