<!-- Button to select the text -->
<ng-content></ng-content>

<button *ngIf="this.button_type === 'stroked'" mat-stroked-button [matMenuTriggerFor]="menu_authors">
  {{ this.button_title }}
</button>

<button *ngIf="this.button_type === 'basic'" mat-button [matMenuTriggerFor]="menu_authors">
  {{ this.button_title }}
</button>

<img
  *ngIf="this.button_type === 'playground'"
  id="playground_add_documents_btn"
  class="playground-icon"
  src="assets\icons\ByteDanceIconPark\9069093_doc_add_icon.png"
  [matMenuTriggerFor]="menu_authors" />

<!-- Nested menu to select author - title - editor. -->
<mat-menu #menu_authors="matMenu">
  <ng-container *ngFor="let author of this.api._authors()">
    <button mat-menu-item (menuOpened)="this._author = author" [matMenuTriggerFor]="menu_titles">
      {{ author }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_titles="matMenu">
  <ng-container *ngFor="let title of this.api._titles(this._author)">
    <button mat-menu-item (menuOpened)="this._title = title" [matMenuTriggerFor]="menu_editors">
      {{ title }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_editors="matMenu">
  <ng-container *ngFor="let editor of this.api._editors(this._author, this._title)">
    <!--If the endpoint is editor, we return the filter when the editor is clicked-->
    <button *ngIf="this.endpoint === 'editor'" mat-menu-item (click)="this._editor = editor" (click)="this.filter()">
      {{ editor }}
    </button>
    <!--If the endpoint is name, we open another menu name and let that one return the filter-->
    <button
      *ngIf="this.endpoint === 'name'"
      mat-menu-item
      (menuOpened)="this._editor = editor"
      [matMenuTriggerFor]="menu_names">
      {{ editor }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_names="matMenu">
  <ng-container *ngFor="let name of this.api._names(this._author, this._title, this._editor)">
    <button mat-menu-item (click)="this._name = name" (click)="this.filter()">
      {{ name }}
    </button>
  </ng-container>
</mat-menu>
