/* GENERAL CSS STYLING */
body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}

h4 {
    font-size: 1.25rem;
}

.h3-title {
    color: white;
}

/* HTML Elements */
.overflow_column {
    height: 100vh;
    overflow: auto;
}

.spacer {
    flex: 1 1 auto;
}

div {
    word-wrap: break-word;
}

// TODO: we can merge these div-padding functions with a variable for the padding amount
.div-padding {
    padding: 1em;
}

.div-padding-sm {
    padding: 0.2em;
}

.div-padding-lg {
    padding: 0.5em;
}

.navbar {
    background-color: #3F51B5;
}
  
.checkbox{
    background-color: #3F51B5;
    color: #FFFFFC;
    font-family: 'Arial';
    font-size: 13px;
}

span.mat-button-focus-overlay {
    width: inherit;
}

button {
    margin: 0.2em;
    } 

.btn {
    color: lightsteelblue;
}

button.btn:hover {
    color: white
}

/** MATERIAL **/
.mat-list-item:hover {
    background-color: #6495ED;
}
  
.mat-form-field {
    padding-left: 1em;
    width: auto;
    size: 100%;
}
  
.mat-expansion-panel-header {
    flex: 1 1 auto;
}

/* Input form related CSS */
.input-form-full-width { 
    width: 90%;
}

.progress-toolbar{
    height: 1vh !important;
    background: #3F51B5;
}

.mat-progress-bar {
    height: 1vh !important;
}