@import url('../app.component.scss');
// Login component specific CSS. For more generic CSS, see ../app.component.scss.
  
  .mat-form-field{
    padding-left: 1em;
    width: auto;
    size: 100%;
  }
    
  .mat-expansion-panel-header{
    /* height: 100%; */
    flex: 1 1 auto;
  }
  
  .input-form-full-width {
    width: 90%;
  }