
<h3>Login to OSCC</h3>

<div class="div-padding"></div>

<form [formGroup]="login_form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Enter your username</mat-label>
    <input matInput required formControlName="username">
  </mat-form-field>

  <div class="div-padding-sm"></div>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput required [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div class="div-padding-sm"></div>

  <button mat-button type="submit" [disabled]="!login_form.valid">Login</button>

</form>

<div class="div-padding"></div>
<div *ngIf="this.authService.isLoggedIn">Welcome! You are logged in!</div>
<div *ngIf="this.authService.isLoggedIn">Click anywhere outside this dialog to begin.</div>

<!-- <ng-template #elseBlock>Please enter the password.</ng-template> -->
<!--  -->