<h2> Hello World </h2>
<p> Who is your favourite author? (Please say Seneca)</p>

<div mat-dialog-content>
    <mat-form-field class="input-form">
      <input matInput placeholder="Author Name" [(ngModel)]='author'>
    </mat-form-field>
  </div>  

  <button mat-button (click)="testAuthor(author)">Do the thing!</button>

  <div *ngIf="authorCorrect">
    <button mat-button routerLink="/dashboard">Welcome!</button>

</div>

<div *ngIf="seneca">
    <br>
    <p> I like Seneca too! </p>    
    </div>

    <div *ngIf="notSeneca">
        <br>
            <p> I like Seneca better! </p>    
            </div>