<div *ngIf="this.authService.isLoggedIn; else elseBlock">Welcome! You are logged in!</div>
<ng-template #elseBlock>Please enter the password.</ng-template>

<br>

<mat-form-field appearance="fill">
  <mat-label>Enter your password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]='passwd'>
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>

<br>

<button mat-button (click)="Login(passwd)">Login</button>


