<div *ngIf="this.no_linked_commentary_found" class="alert alert-info" role="alert">No linked commentary found.</div>

<div style="text-align: center">
  <button mat-stroked-button (click)="this.retrieve_linked_commentary()">
    Retrieve commentary from linked fragments
  </button>
</div>
<!-- Show the commentary for the clicked fragment -->
<ng-container *ngIf="this.commentary.translation">
  <app-translation [commentary]="this.commentary" [translated]="this.translated"></app-translation>
  <hr
/></ng-container>

<ng-container *ngIf="this.commentary.apparatus">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Apparatus Criticus</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-content">
      <div class="mat-expansion-panel-body">
        <app-expandable-text [content]="this.commentary.apparatus"></app-expandable-text>
      </div>
    </div>
  </mat-expansion-panel>
  <hr
/></ng-container>

<ng-container *ngIf="this.commentary.differences">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Editorial Differences</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-content">
      <div class="mat-expansion-panel-body">
        <app-expandable-text [content]="this.commentary.differences"></app-expandable-text>
      </div>
    </div>
  </mat-expansion-panel>
  <hr
/></ng-container>

<ng-container *ngIf="!this.utility.is_empty_array(this.commentary.context)">
  <div *ngFor="let current_context of this.commentary.context">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Citation Context</b>
        </mat-panel-title>
        <div>
          {{ current_context.author }} <i>{{ current_context.location }}</i>
        </div>
        <div class="div-padding-sm"></div>
      </mat-expansion-panel-header>
      <div class="mat-expansion-panel-content">
        <div class="mat-expansion-panel-body">
          <div [innerHTML]="current_context.text"></div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <hr />
</ng-container>

<ng-container *ngIf="this.commentary.commentary">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Fragment Commentary</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-content">
      <div class="mat-expansion-panel-body">
        <app-expandable-text [content]="this.commentary.commentary"></app-expandable-text>
      </div>
    </div>
  </mat-expansion-panel>
  <hr
/></ng-container>

<ng-container *ngIf="this.commentary.reconstruction">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Fragment Reconstruction</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-content">
      <div class="mat-expansion-panel-body">
        <app-expandable-text [content]="this.commentary.reconstruction"></app-expandable-text>
      </div>
    </div>
  </mat-expansion-panel>
  <hr
/></ng-container>

<ng-container *ngIf="this.bibliography">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Fragment Bibliography</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-content">
      <div class="mat-expansion-panel-body">
        <app-expandable-text [content]="this.bibliography"></app-expandable-text>
      </div>
    </div>
  </mat-expansion-panel>
  <hr
/></ng-container>

<!-- TODO: <div *ngFor="let linked_fragment of this.commentary_column.linked_fragments_content">
        <div *ngIf="linked_fragment.has_content()">
            <h6>
                Linked commentary from {{ linked_fragment.author }}, {{ linked_fragment.title }},
                {{ linked_fragment.editor }}, {{ linked_fragment.name }}
            </h6>
            <ng-container [ngTemplateOutlet]="commentary_column_template"
                [ngTemplateOutletContext]="{ given_fragment: linked_fragment }"></ng-container>
        </div>
    </div> -->
