<!-- Show banner if no commentary available -->
<div *ngIf="!this.commentary.has_content()" class="alert alert-info" role="alert">
  No content is available yet for this specific fragment.
</div>

<div>
  <ng-container
    [ngTemplateOutlet]="commentary_column_template"
    [ngTemplateOutletContext]="{ given_commentary: this.commentary }">
  </ng-container>
</div>

<ng-template #commentary_column_template let-commentary="given_commentary">
  <!-- Show the fragment's translation or original text -->
  <ng-container *ngIf="!this.utility.is_empty_array(commentary.fields.translation)">
    <app-translation-field [commentary]="commentary" [translated]="this.translated"></app-translation-field>
    <hr
  /></ng-container>

  <ng-container *ngIf="!this.utility.is_empty_array(commentary.fields.apparatus)">
    <div *ngFor="let apparatus of commentary.fields.apparatus">
      <app-apparatus-field [apparatus]="apparatus"></app-apparatus-field>
    </div>
    <hr
  /></ng-container>

  <ng-container *ngIf="!this.utility.is_empty_array(commentary.fields.differences)">
    <div *ngFor="let differences of commentary.fields.differences">
      <app-differences-field [differences]="differences"></app-differences-field>
    </div>
    <hr
  /></ng-container>

  <ng-container *ngIf="!this.utility.is_empty_array(commentary.fields.context)">
    <div *ngFor="let context of commentary.fields.context">
      <app-context-field [context]="context"></app-context-field>
    </div>
    <hr />
  </ng-container>

  <ng-container *ngIf="!this.utility.is_empty_array(commentary.fields.commentary)">
    <div *ngFor="let commentary of commentary.fields.commentary">
      <app-commentary-field [commentary]="commentary"></app-commentary-field>
    </div>
    <hr
  /></ng-container>

  <ng-container *ngIf="!this.utility.is_empty_array(commentary.fields.metrical_analysis)">
    <div *ngFor="let metrical_analysis of commentary.fields.metrical_analysis">
      <app-metrical-analysis-field [metrical_analysis]="metrical_analysis"></app-metrical-analysis-field>
    </div>
    <hr
  /></ng-container>

  <ng-container *ngIf="!this.utility.is_empty_array(commentary.fields.reconstruction)">
    <div *ngFor="let reconstruction of commentary.fields.reconstruction">
      <app-reconstruction-field [reconstruction]="reconstruction"></app-reconstruction-field>
    </div>
    <hr
  /></ng-container>

  <ng-container *ngIf="commentary.bibliography">
    <app-bibliography-field [content]="commentary.bibliography"></app-bibliography-field>
  </ng-container>
</ng-template>

<!--Linked commentary section-->
<hr />
<div style="display: flex" *ngIf="!this.linked_commentary_retrieved">
  <button class="commentary-extra-feature-button" mat-stroked-button (click)="this.retrieve_linked_commentary()">
    Retrieve commentary from linked fragments
  </button>
</div>

<div *ngIf="this.no_linked_commentary_found" class="alert alert-info" style="padding-top: 1em" role="alert">
  No linked commentary found.
</div>

<div *ngFor="let linked_fragment of this.linked_commentaries">
  <div *ngIf="linked_fragment.commentary.has_content()">
    <h6>
      <a class="a-void" (click)="this.request_column.emit(linked_fragment)">
        Commentary from {{ linked_fragment.author }}, {{ linked_fragment.title }}, {{ linked_fragment.editor }},
        {{ linked_fragment.name }}
      </a>
    </h6>
    <ng-container
      [ngTemplateOutlet]="commentary_column_template"
      [ngTemplateOutletContext]="{ given_commentary: linked_fragment.commentary }"></ng-container>
  </div>
</div>
