Hello There

<a routerLink="/fragments"><button class="btn btn-lg" >Go Back!</button></a>

Current Author: {{this.currentAuthorName}} <br>
        Current Book: {{this.currentBookName}} <br>
        Main Editor: {{this.mainEditorName}} <br>
        <!-- Selected Editor: {{ selectedEditor2[1] }}  -->
        <a routerLink="/login"><button class="btn btn-lg" >Input Screen</button></a>

        <hr>

        <div class="container">
            <div class="row">
              <div class="col-*-3">
                <h4>Create Fragment</h4>        
                  <div mat-dialog-content>
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" placeholder="Fragment Number" #input2 [(ngModel)]='given_fragNum' id="fragNum">
                      <mat-hint>Number that main editor uses</mat-hint>

                      </mat-form-field>
                  </div>
          
                  <div mat-dialog-content>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fragment Content" #input2 [(ngModel)]='given_fragContent' id="fragContent">
                        </mat-form-field>
                    </div>   

                    <mat-dialog-actions align="end">
                      <button mat-button matDialogClose="yes">Close</button>
                      <button mat-button (click)="createFragment()">Create</button>
                      <button mat-button (click)="makeFragment()">Make</button>
                  </mat-dialog-actions>
                  <br>
                  {{this.fragmentArray}}

              </div>
              <div class="col-*-3">
                  <h4>Add Commentary</h4>
                  <mat-form-field>
                      <mat-label>Select fragment</mat-label>
                        <mat-select [(ngModel)]="selected2">
                          <mat-option *ngFor="let selectedFragment of this.fragmentList" [value]="selectedFragment"
                            (click)="inputSelectedFragment(selectedFragment)">
                          {{ selectedFragment }} 
                          </mat-option>
                        </mat-select>
                  </mat-form-field>

                  <div mat-dialog-content>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fragment AppCrit" #input2 [(ngModel)]='given_AppCrit' id="fragAppCrit">
                        </mat-form-field>
                    </div>   

                  <div mat-dialog-content>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fragment Differences" #input2 [(ngModel)]='given_Differences' id="fragDifferences">
                        </mat-form-field>
                    </div>   
                    
 
                        
                  <div mat-dialog-content>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fragment Commentary" #input2 [(ngModel)]='given_Commentary' id="fragCommentary">
                        </mat-form-field>
                    </div>                           

                  <div mat-dialog-content>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fragment Translation" #input2 [(ngModel)]='given_Translation' id="fragTranslation">
                        </mat-form-field>
                    </div>   

                    <mat-dialog-actions align="end">
                      <button mat-button (click)="uploadCommentary()">Upload</button>
                  </mat-dialog-actions>

              </div>
              <div class="col-*-3">
                <h4>Add Context</h4>
                <div mat-dialog-content>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fragment Context Author" #input2 [(ngModel)]='given_ContextAuthor' id="fragContextAuthor">
                      </mat-form-field>
                  </div>  
                <div mat-dialog-content>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fragment Context" #input2 [(ngModel)]='given_Context' id="fragContext">
                      </mat-form-field>
                  </div> 
                  <mat-dialog-actions align="end">
                      <button mat-button (click)="uploadContextAuthor()">Upload</button>
                  </mat-dialog-actions> 
              </div>
              <div class="col-*-3">
                <h4>Link Fragments</h4>
                  <mat-form-field>
                    <mat-label>Secondary editor</mat-label>
                      <mat-select [(ngModel)]="selected3">
                        <mat-option *ngFor="let selectedEditor2 of this.editors" [value]="selectedEditor2[1]"
                          (click)="inputSelectedEditor(selectedEditor2[0])">
                        {{ selectedEditor2[1] }} 
                        </mat-option>
                      </mat-select>
                </mat-form-field>

                <div mat-dialog-content>
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" placeholder="Fragment Number" #input2 [(ngModel)]='given_fragNum' id="fragNum">
                      </mat-form-field>
                  </div>

                  <mat-dialog-actions align="end">
                      <button mat-button (click)="uploadContextAuthor()">Upload</button>
                  </mat-dialog-actions> 
              </div>
            </div>
          </div>