<div class="dialog-header">
  <h2>Save playground</h2>
  <button mat-icon-button [mat-dialog-close]="null" [disableRipple]="true">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name of the playground</mat-label>
    <input matInput [(ngModel)]="this.name" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{ name: this.name, button: 'create' }" cdkFocusInitial>Create</button>
  <button mat-button [mat-dialog-close]="{ name: this.name, button: 'save' }" cdkFocusInitial>Save</button>
</div>
