@use "../../mixins" as *;
@import url("../dashboard.component.scss");

/* Create, revise, delete buttons */
.bibliography-button {
  margin-right: 0.5rem;
  color: $theme-secondary;
}

#create-bibliography-button {
  border-style: dashed;
}

#delete-bibliography-button:enabled {
  @include button-dashed-background-red;
}

#delete-bibliography-button:disabled {
  @include button-dashed-background-gray;
  color: darkgray;
}
