@use "../../mixins" as *;
@import url("../dashboard.component.scss");

/* Create, revise, delete buttons */
.bibliography-button {
  margin-right: 0.5rem;
  color: $theme-secondary;
}

#create-bibliography-button {
  border-style: dashed;
}

#delete-bibliography-button:enabled {
  @include button-dashed-background;
  background: repeating-linear-gradient(-65deg, #fff2f2, #fff2f2 12px, #ffffff 5px, #ffffff 25px);
}

#delete-bibliography-button:disabled {
  @include button-dashed-background;
  background: repeating-linear-gradient(-65deg, #f8f8f8, #f8f8f8 12px, #ffffff 5px, #ffffff 25px);
  color: darkgray;
}
