.bib-select:hover td {
  background-color: yellow;
  cursor: pointer;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-cell, .mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;  /* or 'break-word' / 'break-all' depending on your content */
}

//td,
//th {
  //width: 25%;
//}
