<div mat-dialog-component class="force-dialog-padding">
  <h3>Select bibliography entry</h3>
  <div class="alert alert-info" role="alert">
    The OSCC uses Zotero as the bibliography management system which is accessible to all users. Select a bibliography
    entry to insert it in the text. Adding references needs to be done using the Zotero app.
  </div>

  <mat-form-field class="example-form-field">
    <mat-label>Pages</mat-label>
    <input matInput type="text" [(ngModel)]="pages" />
    <mat-hint>Add a single page number or a range, e.g. 10 or 10-12 respectively.</mat-hint>
  </mat-form-field>

  <hr />

  <mat-form-field appearance="outline" class="table-filter-form-field">
    <mat-label>Filter...</mat-label>
    <input matInput (keyup)="apply_sort_filter($event)" placeholder="..." #input />
  </mat-form-field>

  <table mat-table [dataSource]="table_data" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <i>{{ row.title }}</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.date }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="table_columns"></mat-header-row>
    <mat-row
      class="bib-select"
      [mat-dialog-close]="get_bib_key(row.key, row.lastname, row.date, pages)"
      *matRowDef="let row; columns: table_columns"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No data matches filter.</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25, 100, 1000]" #paginator="matPaginator"> </mat-paginator>
</div>
