<mat-expansion-panel *ngIf="this.user_has_view_permission()" [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>Change author and title introductions </mat-panel-title>
    <mat-panel-description>
      Create and edit descriptions for authors and associated titles
      <mat-icon>assignment_ind</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-tab-group>
    <mat-tab label="Author introduction">
      <!--Buttons to submit introduction data -->
      <app-introductions-filter
        *ngIf="this.auth_service.has_permission('read', this.auth_service.current_user_role)"
        [button_title]="'Select introduction'"
        [button_type]="'stroked'"
        (new_filter)="this.request(this.author_intro_form, $event)">
      </app-introductions-filter>
      <button
        mat-stroked-button
        class="button-margin"
        color="primary"
        [disabled]="!author_intro_form.valid"
        (click)="create(this.author_intro_form)"
        *ngIf="this.auth_service.has_permission('create', this.auth_service.current_user_role)">
        Create introduction
      </button>
      <button
        mat-stroked-button
        class="button-margin"
        color="primary"
        [disabled]="!author_intro_form.valid"
        (click)="revise(this.author_intro_form)"
        *ngIf="this.auth_service.has_permission('update', this.auth_service.current_user_role)">
        Save Changes
      </button>
      <button
        mat-stroked-button
        class="button-margin"
        color="warn"
        [disabled]="!selected"
        (click)="delete(this.author_intro_form)"
        *ngIf="this.auth_service.has_permission('delete', this.auth_service.current_user_role)">
        Delete introduction
      </button>

      <div class="alert alert-info" role="alert">
        To create a new author introduction, please provide the name of the author and an introduction text. Then press
        the
        <b>Create introduction</b> button next. The button won't activate before all meta data fields are filled in
        correctly. <i>Nota bene:</i> you can select an existing author introduction in the drop down menu.
      </div>

      <form [formGroup]="author_intro_form">
        <mat-form-field class="input-form-full-width">
          <mat-label>Author name</mat-label>
          <input required matInput type="text" formControlName="author" />
          <mat-hint>Provide the author the introduction is about</mat-hint>
          <mat-error *ngIf="author_intro_form.get('author').errors?.['required']">You must enter a value.</mat-error>
          <mat-error *ngIf="author_intro_form.get('author').errors?.['pattern']"
            >You entered disallowed characters.</mat-error
          >
        </mat-form-field>

        <div class="div-padding-sm"></div>

        <mat-form-field class="input-form-full-width">
          <mat-label>Introduction text</mat-label>
          <textarea matInput type="text" formControlName="text"></textarea>
          <mat-hint>Write the introduction here</mat-hint>
        </mat-form-field>
        <button
          mat-button
          class="button-margin-extra"
          (click)="this.helper.request_wysiwyg_dialog(author_intro_form, 'text', 'formControl')">
          Rich editor
        </button>
      </form>
      <div class="div-padding-sm"></div>
    </mat-tab>

    <mat-tab label="Title introduction">
      <!--Buttons to submit introduction data -->
      <app-introductions-filter
        *ngIf="this.auth_service.has_permission('read', this.auth_service.current_user_role)"
        [button_title]="'Select introduction'"
        [button_type]="'stroked'"
        (new_filter)="this.request($event)">
      </app-introductions-filter>
      <button
        mat-stroked-button
        class="button-margin"
        color="primary"
        [disabled]="!title_intro_form.valid"
        (click)="create(this.title_intro_form)"
        *ngIf="this.auth_service.has_permission('create', this.auth_service.current_user_role)">
        Create introduction
      </button>
      <button
        mat-stroked-button
        class="button-margin"
        color="primary"
        [disabled]="!title_intro_form.valid"
        (click)="revise(this.title_intro_form)"
        *ngIf="this.auth_service.has_permission('update', this.auth_service.current_user_role)">
        Save Changes
      </button>
      <button
        mat-stroked-button
        class="button-margin"
        color="warn"
        [disabled]="!selected"
        (click)="delete(this.title_intro_form)"
        *ngIf="this.auth_service.has_permission('delete', this.auth_service.current_user_role)">
        Delete introduction
      </button>

      <div class="alert alert-info" role="alert">
        To create a new title introduction, please provide an author + title combination and the introduction text. Then
        press the
        <b>Create introduction</b> button next. The button won't activate before all meta data fields are filled in
        correctly. <i>Nota bene:</i> you can select an existing title introduction in the drop down menu.
      </div>
      <form [formGroup]="title_intro_form">
        <mat-form-field class="input-form-full-width">
          <mat-label>Author</mat-label>
          <input required matInput type="text" formControlName="author" />
          <mat-hint>Provide the author of the title</mat-hint>
          <mat-error *ngIf="title_intro_form.get('author').errors?.['required']">You must enter a value.</mat-error>
          <mat-error *ngIf="title_intro_form.get('author').errors?.['pattern']"
            >You entered disallowed characters.</mat-error
          >
        </mat-form-field>

        <div class="div-padding-sm"></div>

        <mat-form-field class="input-form-full-width">
          <mat-label>Title name</mat-label>
          <input matInput type="text" formControlName="title" />
          <mat-hint>Provide the name of the title the introduction is about</mat-hint>
          <mat-error *ngIf="title_intro_form.get('title').errors?.['required']">You must enter a value.</mat-error>
          <mat-error *ngIf="title_intro_form.get('title').errors?.['pattern']"
            >You entered disallowed characters.</mat-error
          >
        </mat-form-field>

        <div class="div-padding-sm"></div>

        <mat-form-field class="input-form-full-width">
          <mat-label>Introduction text</mat-label>
          <textarea matInput type="text" formControlName="text"></textarea>
          <mat-hint>Write the introduction here</mat-hint>
        </mat-form-field>
        <button
          mat-button
          class="button-margin-extra"
          (click)="this.helper.request_wysiwyg_dialog(title_intro_form, 'text', 'formControl')">
          Rich editor
        </button>
      </form>
      <div class="div-padding-sm"></div>
    </mat-tab>

    <mat-tab label="Editor introduction">
      <!--Buttons to submit introduction data -->
      <app-introductions-filter
        *ngIf="this.auth_service.has_permission('read', this.auth_service.current_user_role)"
        [button_title]="'Select introduction'"
        [button_type]="'stroked'"
        (new_filter)="this.request($event)">
      </app-introductions-filter>
      <button
        mat-stroked-button
        class="button-margin"
        color="primary"
        [disabled]="!editor_intro_form.valid"
        (click)="create(editor_intro_form)"
        *ngIf="this.auth_service.has_permission('create', this.auth_service.current_user_role)">
        Create introduction
      </button>
      <button
        mat-stroked-button
        class="button-margin"
        color="primary"
        [disabled]="!editor_intro_form.valid"
        (click)="revise(editor_intro_form)"
        *ngIf="this.auth_service.has_permission('update', this.auth_service.current_user_role)">
        Save Changes
      </button>
      <button
        mat-stroked-button
        class="button-margin"
        color="warn"
        [disabled]="!selected"
        (click)="delete(editor_intro_form)"
        *ngIf="this.auth_service.has_permission('delete', this.auth_service.current_user_role)">
        Delete introduction
      </button>

      <div class="alert alert-info" role="alert">
        To create a new editor introduction, please provide the editor's name and an introduction text. Then press the
        <b>Create introduction</b> button next. The button won't activate before all meta data fields are filled in
        correctly. <i>Nota bene:</i> you can select an existing editor introduction in the drop down menu.
      </div>
      <form [formGroup]="editor_intro_form">
        <mat-form-field class="input-form-full-width">
          <mat-label>Editor name</mat-label>
          <input required matInput type="text" formControlName="editor" />
          <mat-hint>Provide the editor the introduction is about</mat-hint>
          <mat-error *ngIf="editor_intro_form.get('editor').errors?.['required']">You must enter a value.</mat-error>
          <mat-error *ngIf="editor_intro_form.get('editor').errors?.['pattern']"
            >You entered disallowed characters.</mat-error
          >
        </mat-form-field>

        <div class="div-padding-sm"></div>

        <mat-form-field class="input-form-full-width">
          <mat-label>Introduction text</mat-label>
          <textarea matInput type="text" formControlName="text"></textarea>
          <mat-hint>Write the introduction here</mat-hint>
        </mat-form-field>
        <button
          mat-button
          class="button-margin-extra"
          (click)="this.helper.request_wysiwyg_dialog(editor_intro_form, 'text', 'formControl')">
          Rich editor
        </button>
      </form>
      <div class="div-padding-sm"></div>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>
<hr />
