body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.anyClass {
  height:90vh;
  overflow-y: scroll;
}

.my-list-1 .mat-list-item {
  height: auto;

}

.my-list-2 .mat-list-item {
  height: auto;
  width: 100%;
}

.mat-list-item:hover {
  background-color: #63c8cf;
}
