<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<nav class="navbar navbar-expand-lg static-top">
  <div class="container">
    <a class="navbar-brand"><h3>Online Classic Commentary</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li> <button class="btn btn-lg" [matMenuTriggerFor]="appMenu">More</button></li>
      </ul>
    </div>
  </div>
</nav>

<mat-menu #appMenu="matMenu">
  <button routerLink="/text" mat-menu-item>Text OSCC</button>
  <button routerLink="/fragments" mat-menu-item>Fragments</button>

  <!-- <button routerLink="/fragments" mat-menu-item>Fragments</button> -->
  <!-- <button (click)="openBm(getStarted)" mat-menu-item>Get Started</button>
  <button (click)="openBm(About)" mat-menu-item>About</button> -->
</mat-menu>

<!-- Main container -->
<div class="container-fluid">
  <div class="row">

    <!-- Main Mat tab group -->
    <div class="col-sm anyClass">
      <br>
      <mat-form-field>
        <mat-label>Select Author</mat-label>
        <mat-select [(ngModel)]="selectedAuthorData">
          <mat-option *ngFor="let selectedAuthor of this.authorsJSON" [value]="selectedAuthor"
          (click)="requestBooks(selectedAuthor[0])">
            {{ selectedAuthor[1] }}                       
          </mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field>
          <mat-label>Select Book</mat-label>
          <mat-select [(ngModel)]="selectedBookData">
            <mat-option *ngFor="let selectedBook of this.booksJSON" [value]="selectedBook"
            (click)="requestEditors(selectedBook[0])"
            (click)="requestSelectedText(selectedBook[0])">
              {{ selectedBook[1] }}                       
            </mat-option>
          </mat-select>
          <mat-hint>Select a book</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Editor</mat-label>
          <!-- selectedEditor because duplicate with backend. Needs fixing! -->
          <mat-select [(ngModel)]="selectedEditorData">
            <mat-option *ngFor="let selectedEditor of this.editorsJSON" [value]="selectedEditor"
            (click)="getFragNumbersSelectedEditor(selectedEditor[0])">
              {{ selectedEditor[1] }}                       
            </mat-option>
          </mat-select>
          <mat-hint>Select an Editor</mat-hint>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Select fragment</mat-label>
          <mat-select [(ngModel)]="selectedFragmentData">
            <mat-option *ngFor="let selectedFragment of this.fragmentNumberList" [value]="selectedFragment"
            (click)="getLineNumbersSelectedEditor(selectedFragment)"
            (click)="retrieveFragmentData(selectedFragment)">
              {{ selectedFragment }} 
            </mat-option>
          </mat-select>
        </mat-form-field>      
    
        <mat-form-field>
          <mat-label>Select line</mat-label>
          <mat-select [(ngModel)]="selectedLineData">
            <mat-option *ngFor="let selectedLine of this.lineNumberList" [value]="selectedLine"
            (click)="getFragmentLine(selectedLine)">
              {{ selectedLine }} 
            </mat-option>
          </mat-select>
        </mat-form-field>            
        <hr>
    
    
      <mat-tab-group>
      <mat-tab label="Add/Remove"><br>
        <!-- Group to add/remove Authors, Books and Editors -->
        <mat-tab-group>
          <!-- Tab to add/remove Authors -->
          <mat-tab label="Author add/remove"><br>

            <div mat-dialog-content>
              <mat-form-field class="example-form">
                <input matInput placeholder="Add Author" [(ngModel)]='inputAuthor'>
                <mat-hint>Fill in the name of a new Author</mat-hint>
              </mat-form-field>
            </div>  

            <br>
            <button mat-button (click)="createAuthor(inputAuthor)">Create author</button>
            <button mat-button (click)="deleteAuthor()">Delete selected Author</button>
          </mat-tab>

          <!-- Tab to add/remove Books -->
          <mat-tab label="Book add/remove"><br>

            <div mat-dialog-content>
              <mat-form-field class="example-form">
                <input matInput placeholder="Add Book" [(ngModel)]='inputBook'>
                <mat-hint>Select an Author and fill in the name of the new Book</mat-hint>
              </mat-form-field>
            </div>  
  
            <br>
            <button mat-button (click)="createBook(inputBook)">Create Book</button>
            <button mat-button (click)="deleteBook()">Delete selected Book</button>
          </mat-tab>

          <!-- Tab to add/remove Editors -->
          <mat-tab label="Editor add/remove"><br>         
            <div mat-dialog-content>
              <mat-form-field class="example-form">
                <input matInput placeholder="Add Editor" [(ngModel)]='inputEditor'>
                <mat-hint>Select an Author and Book and fill in the name of the new Editor</mat-hint>
              </mat-form-field>
            </div>  
            <br>
            <button mat-button (click)="createEditor(inputEditor)">Create Editor</button>
            <button mat-button (click)="deleteEditor()">Delete Editor</button>
            <button mat-button (click)="setMainEditor()">Set as Main Editor</button>
            <button mat-button (click)="deleteMainEditor()">Delete as Main Editor</button>

          </mat-tab>
        </mat-tab-group>

        <!-- Mat Tab Group to create a fragment and everything related to it. -->
        </mat-tab>  
        <mat-tab label="Create Fragment"><br>     
          <mat-tab-group>
            <!-- Tab to create a fragment given Fragment number, line number and content -->
            <mat-tab label="Create Fragment"><br>
              <div mat-dialog-content>
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Fragment Number" [(ngModel)]='inputFragNum'>
                  <mat-hint>Fragment Number that the editor uses</mat-hint>
                </mat-form-field>
              </div>
              <div mat-dialog-content>
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Line Number" [(ngModel)]='inputLineNum'>
                  <mat-hint>Line Number that the editor uses</mat-hint>
                </mat-form-field>
              </div>
              <div mat-dialog-content>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Fragment Content" [(ngModel)]='inputFragContent'>
                  <mat-hint>Separate Lines using HTML Paragraphs</mat-hint>
                </mat-form-field>
              </div>  
              <div mat-dialog-content>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Fragment Status" [(ngModel)]='inputFragStatus'>
                  <mat-hint>Adesp. or Incertum?</mat-hint>
                </mat-form-field>
              </div> 
              <br>
              <button mat-button (click)="createFragment(inputFragNum, inputLineNum, inputFragContent, inputFragStatus)">Create Fragment</button>
              </mat-tab>
              <!-- Tab to add commentary to the selected Fragment -->
              <mat-tab label="Add Commentary"><br>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
    
                      <div mat-dialog-content>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Fragment AppCrit" [(ngModel)]='inputAppCrit'>
                        </mat-form-field>
                      </div>   
    
                      <div mat-dialog-content>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Fragment Differences" [(ngModel)]='inputDifferences'>
                        </mat-form-field>
                      </div>   
                              
                      <div mat-dialog-content>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Fragment Commentary" [(ngModel)]='inputCommentary'>
                        </mat-form-field>
                      </div>                           
    
                      <div mat-dialog-content>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Fragment Translation" [(ngModel)]='inputTranslation'>
                        </mat-form-field>
                      </div>   

                      <div mat-dialog-content>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Fragment Reconstruction" [(ngModel)]='inputReconstruction'>
                        </mat-form-field>
                      </div>   

                      <br>
                      <button mat-button (click)="uploadCommentary(inputAppCrit, inputDifferences, inputCommentary, inputTranslation)">Upload Commentary</button>
                    </div>
                  
                  <div class="col-sm-6">
                    <h4>Add Context</h4>                    
                    <div mat-dialog-content>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fragment Context Author" [(ngModel)]='inputContextAuthor'>
                      </mat-form-field>
                    </div>  
                    <div mat-dialog-content>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fragment Context" [(ngModel)]='inputContext'>
                      </mat-form-field>
                    </div> 

                    <br>
                    <button mat-button (click)="uploadContext(inputContextAuthor, inputContext)">Upload Context</button>

                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab> 
        
        <!-- Tab Group to change a fragment. -->
        <mat-tab label="Change Fragment"><br>
          <!-- Tab to change the fragment commentary fields -->
          <mat-tab-group>
            <mat-tab label="Fix Content"><br>
              <h4>Select one of the fragments to change its contents fields.</h4>
              <!-- Uses form group! On pressing upload, changes will be put in the form. -->
              <form [formGroup]="contentForm" (ngSubmit)="uploadRevisedFragmentContent(contentForm.value)">
                <mat-form-field class="example-full-width">
                  <mat-label>Fragment Commentary</mat-label>
                  <input matInput value='{{this.F_Commentaar}}' id="F_Commentaar" type="text" formControlName="F_Commentaar">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Fragment Differences</mat-label>
                  <input matInput value='{{this.F_Differences}}' id="F_Differences" type="text" formControlName="F_Differences">
                </mat-form-field>
                                    
                <mat-form-field class="example-full-width">
                  <mat-label>Fragment Translation</mat-label>
                  <input matInput value='{{this.F_Translation}}' id="F_Translation" type="text" formControlName="F_Translation">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                  <mat-label>Fragment AppCrit</mat-label>
                  <input matInput value='{{this.F_AppCrit}}' id="F_AppCrit" type="text" formControlName="F_AppCrit">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                  <mat-label>Fragment Reconstruction</mat-label>
                  <input matInput value='{{this.F_Reconstruction}}' id="F_Reconstruction" type="text" formControlName="F_Reconstruction">
                </mat-form-field>
                <!-- Button is linked via the submit type! -->
                <button mat-button class="button" type="submit">Upload</button>
              </form>
            </mat-tab>

            <!-- Tab to fix the context: select author and change its content. -->
            <mat-tab label="Fix Context"><br>
              <h4>Select one of the fragments to change its context fields.</h4>
              
              <mat-form-field>
                <mat-label>Select context author</mat-label>
                <mat-select>
                  <mat-option *ngFor="let contextAuthor of this.F_Context" [value]="contextAuthor[0]"
                  (click)="selectCorrespondingContext(contextAuthor)">                  
                    {{ contextAuthor[0] }}                       
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <form [formGroup]="contentForm" (ngSubmit)="uploadRevisedContext(contentForm.value)">
                <mat-form-field class="example-full-width">
                  <mat-label>Fragment Context</mat-label>
                  <input matInput value='{{this.F_ContextField}}' id="F_Context" type="text" formControlName="F_Context">
                </mat-form-field>
                <!-- Button is linked via the submit type! -->
                <button mat-button class="button" type="submit">Update Context</button>
              </form>
            </mat-tab>

            <!-- Tab to change the content of a fragment -->
            <mat-tab label="Fix Fragment"><br>
            <h4>Select one of the fragments to change.</h4>

            <form [formGroup]="contentForm" (ngSubmit)="uploadRevisedFragment(contentForm.value)">
              <mat-form-field class="example-full-width">
                <mat-label>Fragment Content</mat-label>
                <input matInput value='{{this.F_Content}}' id="F_Content" type="text" formControlName="F_Content">
              </mat-form-field>
              <button mat-button class="button" type="submit">Update Fragment</button>
            </form>

          </mat-tab>

            <mat-tab label="Publish"><br>
              <h4>What fragments should be published?</h4>
              <button mat-button (click)="publishFragment()">Publish Selected Fragment</button>
              <button mat-button (click)="unpublishFragment()">unPublish Selected Fragment</button>

            <section class="example-section">
              <span class="example-list-section">
                <ul>
                  <div *ngFor="let subtask of selectedEditorArray">
                    <mat-checkbox [(ngModel)]="subtask.completed"
                                  [color]="subtask.color"
                                  (ngModelChange)="publishFragment(subtask.lineNumber)">
                      {{subtask.lineNumber}}
                    </mat-checkbox>
                  </div>
                </ul>
              </span>
            </section>
          </mat-tab>
        </mat-tab-group>

        </mat-tab> 
        <mat-tab label="Delete Fragment">
          <br>
          <button mat-button (click)="deleteFragment()">Delete Selected Fragment</button>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>



