body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.anyClass {
  height:90vh;
  overflow-y: scroll;
}

.my-list-1 .mat-list-item {
  height: auto;

}

.my-list-2 .mat-list-item {
  height: auto;
  width: 100%;
}

.mat-list-item:hover {
  background-color: #63c8cf;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navbar {
  background-color: #4CAF50;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid rgb(0, 17, 255); /* Green */
}

.btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
