@if (this.settings.fragments.show_headers) {
  <div>
    <b [style.color]="fragment.colour">Fragment {{ this.fragment.name }}</b> &nbsp; <i>{{ fragment.status }}</i> &nbsp;
    <sup>{{ fragment.author }}, {{ fragment.title }}, {{ fragment.editor }}</sup> &nbsp;
  </div>
}

@if (this.translated) {
  @if (fragment.commentary.fields.translation?.length === 0) {
    <p><i>No translation available</i></p>
  }
  <div>
    <p [innerHTML]="fragment.commentary.fields.translation"></p>
  </div>
} @else {
  @for (fragment_line of fragment.lines; track fragment_line) {
    <div>
      @if (this.settings.fragments.show_line_names) {
        <p [innerHTML]="fragment_line.line_number + ': ' + fragment_line.text | safeHtml"></p>
      } @else {
        <!--safeHtml to allow whitespaces made by spans-->
        <p [innerHTML]="fragment_line.text | safeHtml"></p>
      }
    </div>
  }
}
