<!-- Simple toolbar with all the different buttons and the title -->
<mat-toolbar color="primary">
    <h3 class='navbar'>OSCC Server Communication Tests</h3>
    <span class="spacer"></span>
    <button mat-button class="navbar button-margin" (click)="run_tests()"> RUN TESTS</button>
    <button mat-button class="navbar button-margin" routerLink="/fragments">FRAGMENTS</button>
</mat-toolbar>

<br>
<!-- Get authors unit test -->
<div *ngIf="this.unit_tests.get_authors; else no_get_authors">
    <div class="alert alert-success" role="alert">
        Get authors
    </div>
</div>
<ng-template #no_get_authors>
    <div class="alert alert-danger" role="alert">
        Get authors
    </div>
</ng-template>
<!-- Get titles unit test -->
<div *ngIf="this.unit_tests.get_titles; else no_get_titles">
    <div class="alert alert-success" role="alert">
        Get titles
    </div>
</div>
<ng-template #no_get_titles>
    <div class="alert alert-danger" role="alert">
        Get titles
    </div>
</ng-template>
<!-- Get editors unit test -->
<div *ngIf="this.unit_tests.get_editors; else no_get_editors">
    <div class="alert alert-success" role="alert">
        Get editors
    </div>
</div>
<ng-template #no_get_editors>
    <div class="alert alert-danger" role="alert">
        Get editors
    </div>
</ng-template>
<!-- Get fragments unit test -->
<div *ngIf="this.unit_tests.get_fragments; else no_get_fragments">
    <div class="alert alert-success" role="alert">
        Get fragments
    </div>
</div>
<ng-template #no_get_fragments>
    <div class="alert alert-danger" role="alert">
        Get fragments
    </div>
</ng-template>
<!-- Get specific fragment unit test -->
<div *ngIf="this.unit_tests.get_specific_fragment; else no_get_specific_fragment">
    <div class="alert alert-success" role="alert">
        Get specific_fragment
    </div>
</div>
<ng-template #no_get_specific_fragment>
    <div class="alert alert-danger" role="alert">
        Get specific_fragment
    </div>
</ng-template>
<!-- Get fragment numbers unit test -->
<div *ngIf="this.unit_tests.get_fragment_names; else no_get_fragment_names">
    <div class="alert alert-success" role="alert">
        Get fragment_names
    </div>
</div>
<ng-template #no_get_fragment_names>
    <div class="alert alert-danger" role="alert">
        Get fragment_names
    </div>
</ng-template>
<!-- Create fragment unit test -->
<div *ngIf="this.unit_tests.create_fragment; else no_create_fragment">
    <div class="alert alert-success" role="alert">
        Create fragment
    </div>
</div>
<ng-template #no_create_fragment>
    <div class="alert alert-danger" role="alert">
        Create fragment
    </div>
</ng-template>
<!-- Revise fragment unit test -->
<div *ngIf="this.unit_tests.revise_fragment; else no_revise_fragment">
    <div class="alert alert-success" role="alert">
        Revise fragment
    </div>
</div>
<ng-template #no_revise_fragment>
    <div class="alert alert-danger" role="alert">
        Revise fragment
    </div>
</ng-template>
<!-- Delete fragment unit test -->
<div *ngIf="this.unit_tests.delete_fragment; else no_delete_fragment">
    <div class="alert alert-success" role="alert">
        Delete fragment
    </div>
</div>
<ng-template #no_delete_fragment>
    <div class="alert alert-danger" role="alert">
        Delete fragment
    </div>
</ng-template>