/* Playground related CSS */
@use "../_mixins.scss" as *;

.note {
  // width: auto;
  // height: auto;
  border: solid 1px rgb(0, 0, 0);
  padding: 0.5em;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-block;
  justify-content: center;
  // align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  // z-index: 2;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.note:active {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.playground {
  // border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-block;
  justify-content: center;
  // align-items: center;
  text-align: center;
  // background: #fff;
  border-radius: 4px;
  position: absolute; // Absolute causes all items to be on top of eachother
  // z-index: 1;
  // transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  //             0 2px 2px 0 rgba(0, 0, 0, 0.14),
  //             0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.playground:active {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.zlayer {
  z-index: var(--layer);
}

.playground-height-padding {
  min-height: 150ch;
}

button.button-dashed-background {
  @include button-dashed-background-yellow;
}

.button-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.playground-button-container {
  padding-right: 0px;
  width: fit-content;
}

.playground-button {
  white-space: nowrap;
  min-width: 0px;
}

.playground-select-text-button {
  background-color: #f5f5f5;
}

.playground-delete-button {
  color: $theme-secondary;
}

.playground-mat-form-field {
  padding-left: 0px;
}

.mat-icon-realigned {
  margin-left: 0px;
  margin-right: 0px;
}

hr.playground-divider-top {
  border-top: medium solid lightgray;
  margin-bottom: 0px;
  opacity: 1;
}

.playground-divider {
  border-top: 2px solid lightgray;
}

.playground-title {
  font-family: "Roboto condensed", "Arial", sans-serif;
  font-size: 1.75rem;
  transform: translate(0px, -11px);
  color: lightgray;
  text-align: right;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}

canvas {
  background: #ffffff;
  border: 3px solid #3f51b5;
}
