<div id="playground" class="container-fluid playground-height-padding">
  <hr class="playground-divider-top" />
  <div class="playground-title">PLAYGROUND</div>
  <mat-progress-bar mode="query" *ngIf="this.api.spinner"></mat-progress-bar>

  <hr class="playground-divider" />

  <div class="canvas-container">
    <canvas id="playground_canvas"></canvas>

    <!--Popup window with options for the documents-->
    <div class="menu" *ngIf="this.canvas_has_selection()">
      <div class="br-icon" (click)="this.delete_clicked_objects()">
        <mat-icon class="menu-icon">backspace</mat-icon> delete objects
      </div>
      <div class="br-icon" (click)="this.request_commentary()">
        <mat-icon class="menu-icon">notes</mat-icon> commentary
      </div>
    </div>

    <div id="playground-main-toolbar" class="playground-toolbar">
      <div id="playground-document-tools" class="playground-tool-group">
        <app-latin-tragic-fragment-filter
          [button_title]="''"
          [button_type]="'playground'"
          [endpoint]="'editor'"
          (new_filter)="this.request_documents('fragments', $event)">
        </app-latin-tragic-fragment-filter>
        <img
          id="playground_authors_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069051_doc_search_icon.png"
          (click)="this.filter_documents()" />
        <img
          id="playground_note_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9068939_notes_icon.png"
          (click)="this.add_note_to_canvas('edit me')" />
        <img
          id="playground_clear_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069117_clear_icon.png"
          (click)="this.clear_playground()" />
      </div>

      <div id="playground-drawing-tools" class="playground-tool-group">
        <img
          id="playground_draw_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069780_write_icon.png"
          (click)="this.toggle_drawing_mode()" />
        <img
          id="playground_arrow_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9068687_arrow_right_up_icon.png" />
        <img
          id="playground_line_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069299_line_icon.png" />
        <img
          id="playground_rectangle_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9070071_square_icon.png" />
      </div>

      <div id="playground-history-tools" class="playground-tool-group">
        <img
          id="playground_undo_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069465_return_icon.png"
          (click)="this.undo()" />
        <img
          id="playground_redo_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069840_go_on_icon.png"
          (click)="this.redo()" />
      </div>

      <div id="playground-load-save-tools" class="playground-tool-group">
        <img
          id="playground_save_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9070374_hard_disk_one_icon.png"
          (click)="this.save_playground()" />
        <img
          id="playground_load_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9068981_folder_open_icon.png"
          (click)="this.load_playground()" />
        <img
          id="playground_delete_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069053_folder_delete_icon.png"
          (click)="this.delete_playground()" />
      </div>
      <div id="playground-sharing-tools" class="playground-tool-group">
        <img
          id="playground_share_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9071373_people_plus_one_icon.png"
          (click)="this.share_playground()" />
        <img
          id="playground_join_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9071420_people_download_icon.png"
          (click)="this.join_playground()" />
      </div>
    </div>
  </div>

  <!-- Nested menu to select author - title - editor. -->
  <mat-menu #menu_authors="matMenu">
    <ng-container *ngFor="let author of this.fragments_api._authors()">
      <button mat-menu-item (menuOpened)="this._author = author" [matMenuTriggerFor]="menu_titles">
        {{ author }}
      </button>
    </ng-container>
  </mat-menu>

  <mat-menu #menu_titles="matMenu">
    <ng-container *ngFor="let title of this.fragments_api._titles(this._author)">
      <button mat-menu-item (menuOpened)="this._title = title" [matMenuTriggerFor]="menu_editors">
        {{ title }}
      </button>
    </ng-container>
  </mat-menu>

  <mat-menu #menu_editors="matMenu">
    <ng-container *ngFor="let editor of this.fragments_api._editors(this._author, this._title)">
      <!--If the endpoint is editor, we return the filter when the editor is clicked-->
      <button *ngIf="this.endpoint === 'editor'" mat-menu-item (click)="this._editor = editor" (click)="this.filter()">
        {{ editor }}
      </button>
      <!--If the endpoint is name, we open another menu name and let that one return the filter-->
      <button
        *ngIf="this.endpoint === 'name'"
        mat-menu-item
        (menuOpened)="this._editor = editor"
        [matMenuTriggerFor]="menu_names">
        {{ editor }}
      </button>
    </ng-container>
  </mat-menu>

  <mat-menu #menu_names="matMenu">
    <ng-container *ngFor="let name of this.fragments_api._names(this._author, this._title, this._editor)">
      <button mat-menu-item (click)="this._name = name" (click)="this.filter()">
        {{ name }}
      </button>
    </ng-container>
  </mat-menu>
</div>
