<div id="playground" class="container-fluid playground-height-padding">
  <hr class="playground-divider-top" />
  <div class="playground-title">PLAYGROUND</div>
  <mat-progress-bar mode="query" *ngIf="this.api.spinner"></mat-progress-bar>
  <!-- First we display all buttons to control the playground -->
  <div class="row">
    <div class="playground-button-container col-3">
      <!-- Button to select the text -->
      <button
        mat-stroked-button
        class="playground-select-text-button playground-button button-margin"
        [matMenuTriggerFor]="menu_authors"
        (click)="this.playground.new_column = false">
        <ng-container *ngIf="this.playground.new_column; else text_button_clicked"> Select Text </ng-container>

        <ng-template #text_button_clicked>
          {{ this.playground.author }}-{{ this.playground.title }}-{{ this.playground.editor }}
          <sup *ngIf="this.playground.edited">altered</sup>
        </ng-template>
      </button>
    </div>
    <div class="playground-button-container col-3">
      <button mat-stroked-button class="playground-button button-margin" [matMenuTriggerFor]="fragment_selection">
        Add single fragment
        <!--<mat-icon class="mat-icon-realigned" fontIcon="expand_more" style="float: right"></mat-icon>-->
      </button>
      <mat-menu #fragment_selection="matMenu">
        <ng-container *ngFor="let fragment_name of this.playground.fragment_names">
          <button
            mat-menu-item
            (click)="this.playground.fragment_name = fragment_name.name"
            (click)="
              this.add_single_fragment({
                document_type: 'fragment',
                author: this.playground.author,
                title: this.playground.title,
                editor: this.playground.editor,
                name: fragment_name.name
              })
            ">
            {{ fragment_name.name }}
          </button>
        </ng-container>
      </mat-menu>
    </div>
    <div class="playground-button-container col-3">
      <button
        mat-stroked-button
        class="playground-button button-margin"
        (click)="
          this.request_documents({
            author: this.playground.author,
            title: this.playground.title,
            editor: this.playground.editor,
          })
        "
        (click)="this.single_fragment_requested = false">
        Add all fragments from selected edition
      </button>
    </div>
  </div>
  <div class="div-padding-lg"></div>

  <div class="row">
    <!-- The second row contains all buttons to control the flow of fragments and notes -->
    <div class="playground-button-container col-3">
      <button
        mat-stroked-button
        class="playground-button playground-delete-button button-margin"
        color="accent"
        (click)="this.delete_clicked_objects()">
        Delete object(s)
      </button>
    </div>
    <div class="playground-button-container col-3">
      <button
        mat-stroked-button
        class="button-dashed-background playground-button playground-delete-button button-margin"
        color="warn"
        (click)="this.clear_playground()">
        Clear playground
      </button>
    </div>
    <div class="playground-button-container col-3">
      <button
        mat-stroked-button
        class="playground-button playground-delete-button button-margin"
        color="accent"
        (click)="this.toggle_drawing_mode()"
        (click)="this.test()">
        Toggle drawing
      </button>
    </div>
  </div>
  <div class="row">
    <!-- The third row contains all buttons to control the websockets -->
    <div class="playground-button-container col-3">
      <button
        mat-stroked-button
        class="playground-button playground-delete-button button-margin"
        color="accent"
        (click)="this.load_playground()">
        Load playground
      </button>
    </div>
    <div class="playground-button-container col-3">
      <button
        mat-stroked-button
        class="button-dashed-background playground-button playground-delete-button button-margin"
        color="warn"
        (click)="this.save_playground()">
        Save playground
      </button>
    </div>
    <div class="playground-button-container col-3">
      <button
        mat-stroked-button
        class="playground-button playground-delete-button button-margin"
        color="accent"
        (click)="this.toggle_drawing_mode()"
        (click)="this.test()">
        Delete playground
      </button>
    </div>
  </div>

  <div class="div-padding-lg"></div>
  <!-- Possibility to add a little note -->
  <div class="row">
    <div mat-dialog-content class="playground-button-container col-6">
      <mat-form-field class="playground-mat-form-field input-form">
        <input matInput placeholder="Add a note" ngDefaultControl [(ngModel)]="note" />
        <button type="button" mat-icon-button matSuffix (click)="this.add_note_to_canvas(note)">
          <mat-icon>{{ "add" }}</mat-icon>
        </button>
        <mat-hint>To organise your playground</mat-hint>
      </mat-form-field>
    </div>
    <div class="playground-button-container col-3" *ngIf="this.canvas.isDrawingMode">
      <mat-form-field>
        <mat-label>Pencil colour</mat-label>
        <mat-select [(value)]="this.canvas.freeDrawingBrush.color">
          <mat-option value="black">Black</mat-option>
          <mat-option value="red">Red</mat-option>
          <mat-option value="blue">Blue</mat-option>
          <mat-option value="green">Green</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="playground-button-container col-3" *ngIf="this.canvas.isDrawingMode">
      <mat-form-field class="example-margin example-width">
        <mat-label>Pencil width</mat-label>
        <input matInput type="number" [(ngModel)]="this.canvas.freeDrawingBrush.width" />
      </mat-form-field>
    </div>
  </div>
  <hr class="playground-divider" />
  <canvas id="playground_canvas" width="800" height="1000"></canvas>

  <hr class="playground-divider" />
  <!-- For loop to print all the notes -->
</div>

<!-- Nested menu to select author - title - editor. -->
<mat-menu #menu_authors="matMenu">
  <ng-container *ngFor="let author of this.api.get_author_list(); let i = index">
    <button
      mat-menu-item
      (menuOpened)="this.playground.retrieved_titles = []; this.playground.retrieved_editors = []"
      (menuOpened)="this.playground.title = ''; this.playground.editor = ''"
      (menuOpened)="this.playground.author = author"
      (menuOpened)="this.playground.retrieved_titles = this.api.get_title_list(author)"
      [matMenuTriggerFor]="menu_titles">
      {{ author }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_titles="matMenu">
  <ng-container *ngFor="let title of this.playground.retrieved_titles; let i = index">
    <button
      mat-menu-item
      (menuOpened)="this.playground.retrieved_editors = []"
      (menuOpened)="this.playground.title = ''"
      (menuOpened)="this.playground.title = title"
      (menuOpened)="this.playground.retrieved_editors = this.api.get_editor_list(this.playground.author, title)"
      [matMenuTriggerFor]="menu_editors">
      {{ title }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_editors="matMenu">
  <ng-container *ngFor="let editor of this.playground.retrieved_editors; let i = index">
    <button
      mat-menu-item
      (click)="this.playground.editor = editor"
      (click)="
        this.request_document_names({
          author: this.playground.author,
          title: this.playground.title,
          editor: this.playground.editor,
        })
      ">
      {{ editor }}
    </button>
  </ng-container>
</mat-menu>
