<div id="playground" class="container-fluid playground-height-padding">
  <hr class="playground-divider-top" />
  <div class="playground-title">PLAYGROUND</div>
  <mat-progress-bar mode="query" *ngIf="this.api.spinner"></mat-progress-bar>
  <!-- Possibility to add a little note -->
  <!--<div class="row">-->
  <!--<div mat-dialog-content class="playground-button-container col-6">-->
  <!--<mat-form-field class="playground-mat-form-field input-form">-->
  <!--<input matInput placeholder="Add a note" ngDefaultControl [(ngModel)]="this.playground.note" />-->
  <!--<button type="button" mat-icon-button matSuffix (click)="this.add_note_to_canvas(this.playground.note)">-->
  <!--<mat-icon>{{ "add" }}</mat-icon>-->
  <!--</button>-->
  <!--<mat-hint>To organise your playground</mat-hint>-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--<div class="playground-button-container col-3" *ngIf="this.playground.canvas.isDrawingMode">-->
  <!--<mat-form-field>-->
  <!--<mat-label>Pencil colour</mat-label>-->
  <!--<mat-select [(value)]="this.playground.canvas.freeDrawingBrush.color">-->
  <!--<mat-option value="black">Black</mat-option>-->
  <!--<mat-option value="red">Red</mat-option>-->
  <!--<mat-option value="blue">Blue</mat-option>-->
  <!--<mat-option value="green">Green</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--<div class="playground-button-container col-3" *ngIf="this.playground.canvas.isDrawingMode">-->
  <!--<mat-form-field class="example-margin example-width">-->
  <!--<mat-label>Pencil width</mat-label>-->
  <!--<input matInput type="number" [(ngModel)]="this.playground.canvas.freeDrawingBrush.width" />-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--</div>-->
  <hr class="playground-divider" />
  <div class="canvas-container">
    <canvas id="playground_canvas"></canvas>
    <div class="menu" *ngIf="this.canvas_has_selection()">
      <div class="br-icon" style="--left: 4%">
        <mat-icon (click)="this.delete_clicked_objects()">backspace</mat-icon> delete objects
      </div>
    </div>
    <div class="br-icon" style="--left: 2%"><mat-icon (click)="this.save_playground()">save</mat-icon></div>
    <div class="br-icon" style="--left: 8%"><mat-icon (click)="this.load_playground()">folder</mat-icon></div>
    <div class="br-icon" style="--left: 14%"><mat-icon (click)="this.delete_playground()">delete</mat-icon></div>
    <div class="br-icon" style="--left: 20%"><mat-icon (click)="this.share_playground()">share</mat-icon></div>
    <div class="br-icon" style="--left: 26%"><mat-icon (click)="this.join_playground()">group</mat-icon></div>

    <div class="br-icon" style="--left: 40%"><mat-icon (click)="this.clear_playground()">cancel</mat-icon></div>
    <div class="br-icon" style="--left: 46%"><mat-icon (click)="this.toggle_drawing_mode()">brush</mat-icon></div>

    <div class="br-icon" style="--left: 60%"><mat-icon [matMenuTriggerFor]="menu_authors">description</mat-icon></div>
    <div class="br-icon" style="--left: 66%"><mat-icon [matMenuTriggerFor]="fragment_selection">note</mat-icon></div>
    <div class="br-icon" style="--left: 72%">
      <mat-icon
        (click)="
          this.request_documents({
            author: this.playground.author,
            title: this.playground.title,
            editor: this.playground.editor,
          })
        "
        (click)="this.single_fragment_requested = false">
        note_add</mat-icon
      >
    </div>
    <div class="br-icon" style="--left: 78%"><mat-icon>edit_note</mat-icon></div>
  </div>
</div>

<mat-menu #fragment_selection="matMenu">
  <ng-container *ngFor="let fragment_name of this.playground.fragment_names">
    <button
      mat-menu-item
      (click)="this.playground.fragment_name = fragment_name.name"
      (click)="
        this.add_single_fragment({
          document_type: 'fragment',
          author: this.playground.author,
          title: this.playground.title,
          editor: this.playground.editor,
          name: fragment_name.name
        })
      ">
      {{ fragment_name.name }}
    </button>
  </ng-container>
</mat-menu>

<!-- Nested menu to select author - title - editor. -->
<mat-menu #menu_authors="matMenu">
  <ng-container *ngFor="let author of this.api.get_author_list(); let i = index">
    <button
      mat-menu-item
      (menuOpened)="this.playground.retrieved_titles = []; this.playground.retrieved_editors = []"
      (menuOpened)="this.playground.title = ''; this.playground.editor = ''"
      (menuOpened)="this.playground.author = author"
      (menuOpened)="this.playground.retrieved_titles = this.api.get_title_list(author)"
      [matMenuTriggerFor]="menu_titles">
      {{ author }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_titles="matMenu">
  <ng-container *ngFor="let title of this.playground.retrieved_titles; let i = index">
    <button
      mat-menu-item
      (menuOpened)="this.playground.retrieved_editors = []"
      (menuOpened)="this.playground.title = ''"
      (menuOpened)="this.playground.title = title"
      (menuOpened)="this.playground.retrieved_editors = this.api.get_editor_list(this.playground.author, title)"
      [matMenuTriggerFor]="menu_editors">
      {{ title }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu_editors="matMenu">
  <ng-container *ngFor="let editor of this.playground.retrieved_editors; let i = index">
    <button
      mat-menu-item
      (click)="this.playground.editor = editor"
      (click)="
        this.request_document_names({
          author: this.playground.author,
          title: this.playground.title,
          editor: this.playground.editor,
        })
      ">
      {{ editor }}
    </button>
  </ng-container>
</mat-menu>
