<div id="playground" class="container-fluid playground-height-padding">
  <hr class="playground-divider-top" />
  <div class="playground-title">PLAYGROUND</div>
  <mat-progress-bar mode="query" *ngIf="this.api.spinner"></mat-progress-bar>

  <hr class="playground-divider" />

  <p *ngIf="this.websockets.active">
    Current room: <b>{{ this.websockets.room_identifier }}</b>
  </p>

  <div class="canvas-container">
    <canvas id="playground_canvas"></canvas>

    <!--Popup window with options for the documents-->
    <div class="menu" *ngIf="this.fabric.has_selection()">
      <div class="br-icon" (click)="this.fabric.delete_selected()">
        <mat-icon class="menu-icon">backspace</mat-icon> delete objects
      </div>
      <div class="br-icon" (click)="this.request_commentary()">
        <mat-icon class="menu-icon">notes</mat-icon> commentary
      </div>
    </div>

    <div id="playground-main-toolbar" class="playground-toolbar">
      <div id="playground-document-tools" class="playground-tool-group">
        <app-latin-tragic-fragment-filter
          [button_title]="''"
          [button_type]="'playground'"
          [endpoint]="'editor'"
          (new_filter)="this.request_documents($event)">
        </app-latin-tragic-fragment-filter>
        <img
          id="playground_authors_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069051_doc_search_icon.png"
          (click)="this.open_advanced_filter()" />
        <img
          id="playground_note_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9068939_notes_icon.png"
          (click)="this.fabric.add_note('edit me')" />
        <img
          id="playground_clear_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069117_clear_icon.png"
          (click)="this.open_clear_playground()" />
      </div>

      <div id="playground-drawing-tools" class="playground-tool-group">
        <img
          id="playground_draw_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069780_write_icon.png"
          (click)="this.fabric.toggle_drawing_mode()" />
        <!--<img-->
        <!--id="playground_arrow_btn"-->
        <!--class="playground-icon"-->
        <!--src="assets\icons\ByteDanceIconPark\9068687_arrow_right_up_icon.png" />-->
        <!--<img-->
        <!--id="playground_line_btn"-->
        <!--class="playground-icon"-->
        <!--src="assets\icons\ByteDanceIconPark\9069299_line_icon.png" />-->
        <!--<img-->
        <!--id="playground_rectangle_btn"-->
        <!--class="playground-icon"-->
        <!--src="assets\icons\ByteDanceIconPark\9070071_square_icon.png" />-->
      </div>

      <div id="playground-history-tools" class="playground-tool-group">
        <img
          id="playground_undo_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069465_return_icon.png"
          (click)="this.fabric.undo()" />
        <img
          id="playground_redo_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069840_go_on_icon.png"
          (click)="this.fabric.redo()" />
      </div>

      <div id="playground-load-save-tools" class="playground-tool-group" *ngIf="this.auth_service.is_logged_in">
        <img
          id="playground_save_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9070374_hard_disk_one_icon.png"
          (click)="this.save_playground()" />
        <img
          id="playground_load_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9068981_folder_open_icon.png"
          (click)="this.load_playground()" />
        <img
          *ngIf="this.role === 'owner'"
          id="playground_delete_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9069053_folder_delete_icon.png"
          (click)="this.delete_playground()" />
      </div>
      <div id="playground-sharing-tools" class="playground-tool-group">
        <img
          *ngIf="this.role === 'owner'"
          id="playground_share_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9071373_people_plus_one_icon.png"
          (click)="this.share_playground()" />
        <img
          *ngIf="this.auth_service.is_logged_in"
          id="playground_share_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9071373_people_plus_one_icon.png"
          (click)="this.create_live_room()" />
        <img
          *ngIf="this.auth_service.is_logged_in"
          id="playground_join_btn"
          class="playground-icon"
          src="assets\icons\ByteDanceIconPark\9071420_people_download_icon.png"
          (click)="this.join_playground()" />
      </div>
    </div>
  </div>
</div>
