<ng-content></ng-content>

@if (button_type === 'stroked') {
  <button matTooltip="Load a set of fragments to this column" mat-stroked-button [matMenuTriggerFor]="menu_authors" class="filter_component_button_stroked" >
    {{ button_title }}
  </button>
}

@if (button_type === 'basic') {
  <button matTooltip="Load a set of fragments to this column" mat-button [matMenuTriggerFor]="menu_authors" class="filter_component_button_basic">
    {{ button_title }}
  </button>
}

<mat-menu #menu_authors="matMenu">
  @for (author of authors(); track author) {
    <button mat-menu-item (menuOpened)="selectAuthor(author)" [matMenuTriggerFor]="menu_titles">
      {{ author }}
    </button>
  }
</mat-menu>

<mat-menu #menu_titles="matMenu">
  @for (title of titles(); track title) {
    <button mat-menu-item (menuOpened)="selectTitle(title)" [matMenuTriggerFor]="menu_editors">
      {{ title }}
    </button>
  }
</mat-menu>

<mat-menu #menu_editors="matMenu">
  @for (editor of editors(); track editor) {
    @if (endpoint === 'editor') {
      <button mat-menu-item (click)="_editor.set(editor); filter()">
        {{ editor }}
      </button>
    }
    @if (endpoint === 'name') {
      <button
        mat-menu-item
        (menuOpened)="selectEditor(editor)"
        [matMenuTriggerFor]="menu_names">
        {{ editor }}
      </button>
    }
  }
</mat-menu>

<mat-menu #menu_names="matMenu">
  @for (name of names(); track name) {
    <button mat-menu-item (click)="_name.set(name); filter()">
      {{ name }}
    </button>
  }
</mat-menu>
