<!-- Button to select the text -->
@if (this.button_type === "stroked") {
  <button mat-stroked-button [matMenuTriggerFor]="menu_authors">
    {{ this.button_title }}
  </button>
}

@if (this.button_type === "basic") {
  <button mat-button [matMenuTriggerFor]="menu_authors">
    {{ this.button_title }}
  </button>
}

<!-- Nested menu to select author - title - editor. -->
<mat-menu #menu_authors="matMenu">
  @for (author of this.api.get_from_index("author", { document_type: "testimonium" }); track author) {
    <button
      mat-menu-item
      (menuOpened)="this.names = this.api.get_from_index('name', { document_type: 'testimonium', author: author })"
      (menuOpened)="this.selected_author = author"
      [matMenuTriggerFor]="menu_names">
      {{ author }}
    </button>
  }
</mat-menu>

<mat-menu #menu_names="matMenu">
  @for (name of this.names; track name) {
    <button mat-menu-item (click)="this.selected_name = name" (click)="this.filter()">
      {{ name }}
    </button>
  }
</mat-menu>
