<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<nav class="navbar navbar-expand-lg static-top">
  <div class="container">
    <a class="navbar-brand"><h3 class="h3-title">Online Classic Commentary</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li> <button class="btn btn-lg" (click)="openBookSelect()">Change Text</button></li>
        <li> <button class="btn btn-lg" (click)="openBibliography()">Bibliography</button></li>
        <li> <button class="btn btn-lg" (click)="openDashboard()">Dashboard</button> </li>
        <li> <button class="btn btn-lg" (click)="ColumnsToggle = !ColumnsToggle">3Columns</button></li>
        <li> <button class="btn btn-lg" [matMenuTriggerFor]="appMenu">More</button></li>        
      </ul>
    </div>
  </div>
</nav>

<mat-menu #appMenu="matMenu">
  <button routerLink="/text" mat-menu-item>Text OSCC</button>
  <button routerLink="/login" mat-menu-item>Playroom</button>
  <button routerLink="/profile" mat-menu-item>Playroom2</button>

  <!-- <button (click)="openBm(getStarted)" mat-menu-item>Get Started</button> -->
  <button (click)="openAbout()" mat-menu-item>About</button>
</mat-menu>

<!-- Author and Book select dialog -->
<ng-template #callBookSelect>   
  <h3>Select an author and a book to display.</h3>
  <hr>
  <mat-form-field>
    <mat-label>Select author</mat-label>
    <mat-select>
      <mat-option *ngFor="let author of this.api.authorsJSON" [value]="author" (click)="requestBooks(author)">
        {{ author[1] }} 
      </mat-option>
    </mat-select>  
  </mat-form-field> 

  <mat-form-field>
    <mat-label>Select book</mat-label>
    <mat-select>
      <mat-option *ngFor="let book of this.api.booksJSON" [value]="book" (click)="requestSelectedText(book)">
        {{ book[1] }}                
      </mat-option>
    </mat-select>
  </mat-form-field>    
</ng-template>

<!-- Bibliography dialog to show the used bibliography -->
<ng-template #callBibliography>   
  <h3>Bibliography for {{this.api.currentAuthorName}}: {{this.api.currentBookName}}</h3>
  <hr>
  <h4>Books</h4>
  <mat-nav-list class="my-list-2">
    <mat-list-item *ngFor="let line of this.bibBooks">
      <b>{{ line[1] }}</b> &nbsp; <i>{{ line[2] }}.</i> &nbsp; ({{ line[8] }}, {{ line[9] }}).
    </mat-list-item>
  </mat-nav-list>
  <hr>
  <h4>Articles</h4>
  <mat-nav-list class="my-list-2">
    <mat-list-item *ngFor="let line of this.bibArticles">
      <b>{{ line[1] }}</b> &nbsp; "{{ line[3] }}". In: &nbsp; <i>{{ line[4] }}</i> &nbsp; {{ line[5] }}, &nbsp; ({{ line[8] }}, {{ line[9] }}), {{ line[7] }}.
    </mat-list-item>
  </mat-nav-list>
  <hr>
  <h4>Websites</h4>
  <mat-nav-list class="my-list-2">
    <mat-list-item *ngFor="let line of this.bibWebsites">
      <b>{{ line[10] }}.</b> &nbsp; URL: {{ line[11] }} &nbsp; (visited on {{ line[12] }})
    </mat-list-item>
  </mat-nav-list>
</ng-template>

<!-- Show a spinner if query with database is in progress -->
<mat-progress-bar mode="query" *ngIf="this.api.spinner"></mat-progress-bar>
<br>

<!-- Container for the page: one row, two columns. Column Left has the text, Column Right the commentary. -->
<div class="container-fluid">
  <div class="row">
    <!-- FIRST COLUMN -->
    <div class="col-sm anyClass">
      <div class="row">
        <div class="col-6">
          <h4>{{this.api.currentAuthorName}}: {{this.api.currentBookName}}.</h4>
        </div>  
        <div class="col-6">
          <mat-form-field>
            <mat-label>Select main editor</mat-label>
            <mat-select>
              <mat-option *ngFor="let mainEditor of this.api.mainEditorsJSON" [value]="mainEditor[1]"
              (click)="this.api.mainEditorArray = createEditorArray(mainEditor[0], this.api.ArrayWithAllFragments)">
                {{ mainEditor[1] }}                     
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- Listing of the fragments -->
      <div class="example-list">
        <div class="example-box" *ngFor="let arrayItem of this.api.mainEditorArray" (click)="this.api.ophalenCommentaren(arrayItem.fragNumber)">
          <div>
            <b>Fragment {{arrayItem.fragNumber}} </b> &nbsp; <i>{{arrayItem.status}}</i>
          </div>
          <div *ngFor="let arrayItem2 of arrayItem.content">           
            <div [innerHTML]="arrayItem2.lineComplete"></div>             
          </div>     
        </div> 
      </div> 
    </div>

    <!-- SELECTED EDITOR COLUMN -->
    <div *ngIf="ColumnsToggle" class="col-sm anyClass">
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Select secondary editor</mat-label>
            <mat-select>
              <mat-option *ngFor="let selectedEditor of this.api.editorsJSON" [value]="selectedEditor[1]"
              (click)="this.api.selectedEditorArray = createEditorArray(selectedEditor[0], this.api.ArrayWithAllFragments)">
                {{ selectedEditor[1] }} 
                
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

   
      
      <!-- Movable array column -->
      <div cdkDropList class="example-list" (cdkDropListDropped)="moveAndDrop($event)">
        <div class="example-box" *ngFor="let arrayItem of this.api.selectedEditorArray" cdkDrag>
          <div>
            <b>Fragment {{arrayItem.fragNumber}}</b> &nbsp; <i>{{arrayItem.status}}</i>
          </div>
          <div *ngFor="let arrayItem2 of arrayItem.content">           
            <div [innerHTML]="arrayItem2.lineComplete"></div> 
          </div>  
        </div>
      </div>
    </div>

    <!-- COMMENTARY COLUMN -->
    <div class="col-sm anyClass">
      <div class="col-sm anyClass">
        <h4>Fragment {{this.api.currentFragment}}</h4> <hr>
        <!-- Show banner if no commentary available -->
        <div *ngIf="this.api.noCommentary" class="alert alert-info" role="alert">
          No commentary is available for this fragment.
        </div>
        <div *ngIf="this.api.noCommentary === false">
          <div *ngFor="let translation of this.api.F_Translation">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Translation</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- Commentary with HTML formatting. -->
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                  <div [innerHTML]="translation"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

          <hr>

          <div *ngFor="let AppCrit of this.api.F_AppCrit">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Apparatus Criticus</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                  <div [innerHTML]=AppCrit></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

          <hr>

          <div *ngFor="let differences of this.api.F_Differences">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Differences</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                  <div [innerHTML]="differences"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

          <hr>

          <div *ngFor="let F_Context of this.api.F_Context">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Context</b>
                </mat-panel-title>
                <div [innerHTML]="F_Context[0]"></div>
              </mat-expansion-panel-header>
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                  <div [innerHTML]="F_Context[1]"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
          
          <hr>

          <div *ngFor="let commentaar of this.api.F_Commentaar">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Commentary</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                  <div [innerHTML]="commentaar"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

          <hr>

          <div *ngFor="let commentaar of this.api.F_Reconstruction">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Reconstruction</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                  <div [innerHTML]="commentaar"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



