body,h1,h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif;
  /* color: red, */

}

.h3-title{
  color: white;
}

div.solid {border-style: solid;}

.anyClass {
  height:90vh;
  overflow-y: scroll;
}

.my-list-1 .mat-list-item {
  height: auto;

}

.my-list-2 .mat-list-item {
  height: auto;
  width: 100%;
}

.mat-list-item:hover {
  background-color: #6495ED;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navbar {
  background-color: #3F51B5;
}

.btn {
  background-color: #3F51B5;
  color: #FFFFFC;
  font-family: 'Arial';
  font-size: 13px;
  /* border: 2px solid rgb(0, 17, 255); */
}

.btn:hover {
  background-color: #5363BD; /* Green */
  color: white;
}

.is-active {
  background-color: red;
}

.mat-focused .mat-form-field-label {
  color: #5cb53f !important;
  }
  
  .mat-form-field-ripple {
  background-color: #5cb53f !important;
  }

.mat-form-field{
  padding-left: 1em;
  width: auto;
  size: 100%;
}

/* .mat-label{
  color: red;
}
.mat-option{
  color: red;
} */

.dropbtn {
  background-color: #3F51B5;
  color: rgb(0, 0, 0);
  /* padding: 14px; */
  /* font-size: 12; */
  border: solid;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.mat-expansion-panel-body {
  visibility: visible;
}

/* .mat-expansion-panel-header-title {
  flex: 1 1 auto; make this not grow or shrink
  margin-right: 16px;
  height: auto;
} */
/* :nth-child(n+2) */
/* .mat-expansion-panel1 {  */
  /* color: red; */
  /* background-color: gray; */
/* } */

.mat-expansion-panel-header{
  /* height: 100%; */
  flex: 1 1 auto;
}

/* .mat-expansion-panel-1{
  height: 100%;
} */

/* .mat-expansion-panel-header-description {
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 16px;
  display: block !important;
  height: 100% !important;
} */

/* .mat-expansion-panel-header-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

div {
  word-wrap: break-word;
}

.example-list {
  width: auto;
  max-width: 100%;
  /* border: solid 5px #ccc; */
  min-height: auto;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px 5px 0px 5px;
}

.example-box {
  padding: 10px 5px 0px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box:hover {
  background: #eee;
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-expansion-panel-header-title {
  flex: 0 0 auto; /* make this not grow or shrink */
  margin-right: 16px;
}

.mat-expansion-panel-header-description {
  flex: 1 1 auto; /* make this grow and shrink */
  min-width: 0; /* see link to see why this is needed */
  margin-right: 16px;
}

.mat-expansion-panel-header-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::ng-deep .modal-sizer .modal-dialog { 
  max-width: 100%;
  width: auto;
}

/* .fragment-div {
  margin: 20px;
} */
 
.fragment-ul {
  list-style-type: none;
  width: auto;
  max-width: 100%;
  /* border-bottom: 1px solid black; */
}
 
.fragment-li {
  /* padding: 5px; */
  /* height: auto; */
  border-bottom: solid 1px #000;
  overflow: auto;
  margin: 0;
  /* padding: 10px 5px 0px 5px; */
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  

}
 
.fragment-li:hover {
  background: #eee;
  cursor: pointer;
}

.column1 {
  float: left;
  /* width: 33.33%; */
  padding: 0.2em;
  /* text-align: center; */
  /* font-size: 25px; */
  /* cursor: pointer; */
  /* color: white; */
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}