body,h1,h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif;
  color: red,

}

.anyClass {
  height:90vh;
  overflow-y: scroll;
}

.my-list-1 .mat-list-item {
  height: auto;

}

.my-list-2 .mat-list-item {
  height: auto;
  width: 100%;
}

.mat-list-item:hover {
  background-color: #63c8cf;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navbar {
  background-color: #4CAF50;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid rgb(0, 17, 255); /* Green */
}

.btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.is-active {
  background-color: red;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.mat-expansion-panel-body {
  visibility: visible;
}

/* .mat-expansion-panel-header-title {
  flex: 1 1 auto; make this not grow or shrink
  margin-right: 16px;
  height: auto;
} */
/* :nth-child(n+2) */
/* .mat-expansion-panel1 {  */
  /* color: red; */
  /* background-color: gray; */
/* } */

.mat-expansion-panel-header{
  /* height: 100%; */
  flex: 1 1 auto;
}

/* .mat-expansion-panel-1{
  height: 100%;
} */

/* .mat-expansion-panel-header-description {
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 16px;
  display: block !important;
  height: 100% !important;
} */

/* .mat-expansion-panel-header-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

div {
  word-wrap: break-word;
}

.example-list {
  width: auto;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 100%;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

