<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<nav class="navbar navbar-expand-lg static-top">
  <div class="container">
    <a class="navbar-brand"><h3>Online Classic Commentary</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li> <button class="btn btn-lg" (click)="openBm(textChanger)">Change Text</button></li>
        <li> <button class="btn btn-lg" (click)="callAPI()">Bibliography</button></li>
        <!-- <li> <button class="btn btn-lg" (click)="toggleShowFragments()">New Entry</button></li> -->
        <li> <button class="btn btn-lg" (click)="ColumnsToggle = !ColumnsToggle">3Columns</button></li>
        <li> <button class="btn btn-lg" [matMenuTriggerFor]="appMenu">More</button></li>
      </ul>
    </div>
  </div>
</nav>

<mat-menu #appMenu="matMenu">
  <button routerLink="/text" mat-menu-item>Text OSCC</button>
  <!-- <button routerLink="/dashboard" mat-menu-item>Dashboard</button> -->
  <button (click)="openBm(getStarted)" mat-menu-item>Get Started</button>
  <button (click)="openBm(About)" mat-menu-item>About</button>
</mat-menu>

  <!-- <app-navbar></app-navbar> -->



<!-- Modals from the navigation bar -->
  <!-- Author and Book selection Modal #textChanger -->
  <ng-template #textChanger let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select an Author and Book</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Author:
      <div>
        <select class="dropbtn" [(ngModel)]="selectedAuthor" (ngModelChange)="requestBooks(selectedAuthor[0])">
          <option *ngFor="let c of this.authors" [ngValue]="c">{{c[1]}}</option>
        </select>
      </div>
      <br>
      Book:
      <div>
          <select class="dropbtn" [(ngModel)]="selectedBook" (ngModelChange)="requestSelectedText(selectedAuthor[0], selectedBook[0])">
            <option *ngFor="let d of this.books" [ngValue]="d">{{d[1]}}</option>
          </select>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Exit</button>
      <button type="button" class="btn btn-outline-dark" (click)="requestSelectedText(selectedBook[0])">Retrieve</button>

    </div>
  </ng-template>

  <ng-template #getStarted let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Getting Started.</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Click the fragments in the left column to retrieve their commentary.</p>
          <hr>
          <p>Press the 3Column button to see the fragments as edited by other authors. These fragments can be moved with the mouse cursor to create a personal ordering.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Exit</button>
      </div>
    </ng-template>

    <ng-template #About let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">About OSCC.</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <p>This project lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit.</p>
            <hr>
            <p>The series contains two texts as of now: Ennius' Thyestes and Accius' [book]</p>
            <p> Ennius' Thyestes was created in 2019. The commentaries were created by the following students:</p>
  
                <ul>
                    <li>TRF 22: Anja X</li>
                    <li>TRF 312: Thomas Y</li>
                    <li>TRF 313: Kees Z</li>
                </ul> 
                
                
            
  
            <p>For more information about this project, visit realwebsite.com</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Exit</button>
        </div>
      </ng-template>

  <!-- Bibliography Modal to show the used bibliography -->
  <ng-template #bib1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bibliography</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        hello
          <mat-nav-list class="my-list-2">
              <mat-list-item *ngFor="let line of this.bibJSON">
                <b>{{ line[0] }} {{ line[1] }} </b> <pre> </pre> <i> {{ line[2] }} {{ line[3] }},</i><pre> </pre>{{ line[4] }} ({{ line[5] }}). {{ line[6] }} {{ line[7] }} - ({{ line[8] }}, {{ line[9] }})
              </mat-list-item>
            </mat-nav-list>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
  </ng-template>

  <!-- Show a spinner if query with database is in progress -->
  <mat-progress-bar mode="query" *ngIf="spinner"></mat-progress-bar>
  <!-- <hr *ngIf="spinner == false"> -->


<br>

  <!-- Container for the page: one row, two columns. Column Left has the text, Column Right the commentary. -->

  <ng-template #callAPIDialog>   
  
      <mat-nav-list class="my-list-2">
          <mat-list-item *ngFor="let line of this.bib">
            <b>{{ line[0] }} {{ line[1] }} </b> <pre> </pre> <i> {{ line[2] }} {{ line[3] }},</i><pre> </pre>{{ line[4] }} ({{ line[5] }}). {{ line[6] }} {{ line[7] }} - ({{ line[8] }}, {{ line[9] }})
          </mat-list-item>
        </mat-nav-list>
  
  </ng-template>


  <div class="container-fluid">
    <div class="row">

      <!-- FIRST COLUMN -->
      <div class="col-sm anyClass">
        <div class="row">
          <div class="col-6"><h4>{{this.currentAuthorName}}: {{this.currentBookName}}.</h4></div>  
          <div class="col-6">
              <mat-form-field>
                <mat-label>Select main editor</mat-label>
                <mat-select [(ngModel)]="selected1">
                    <mat-option *ngFor="let mainEditor of this.mainEditorsJSON" [value]="mainEditor[1]"
                    (click)="this.mainEditorArray = createEditorArray(mainEditor[0], this.ArrayWithAllFragments)">
                    {{ mainEditor[1] }} 
                      
                    </mat-option>
                  </mat-select>
            </mat-form-field>
  
            </div>
          </div>

        <div class="example-list">
          <div class="example-box" *ngFor="let arrayItem of mainEditorArray" (click)="ophalenCommentaren(arrayItem.fragNumber)">
            <div><b>Fragment {{arrayItem.fragNumber}} </b> &nbsp; <i>{{arrayItem.status}}</i></div>
            <!-- Heeft nog werk nodig! -->
            <div class="example-box" *ngFor="let arrayItem2 of arrayItem.content">           
              <div [innerHTML]="arrayItem2.lineComplete"></div>             
            </div>     
          </div> 
        </div> 
      </div>

      <!-- SELECTED EDITOR COLUMN -->
      <div *ngIf="ColumnsToggle" class="col-sm anyClass">

        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Select editor</mat-label>
              <mat-select [(ngModel)]="selected2">
                  <mat-option *ngFor="let selectedEditor of this.editorsJSON" [value]="selectedEditor[1]"
                  (click)="this.selectedEditorArray = createEditorArray(selectedEditor[0], this.ArrayWithAllFragments)">
                  {{ selectedEditor[1] }} 
                    
                  </mat-option>
                </mat-select>
          </mat-form-field>

          </div>
        </div>

        <div>
          </div>


        <div cdkDropList class="example-list" (cdkDropListDropped)="moveAndDrop($event)">
          <div class="example-box" *ngFor="let arrayItem of selectedEditorArray" cdkDrag>
          <!-- <p><b>{{arrayItem.number}}</b></p>
              <div [innerHTML]="arrayItem.line"></div> -->
            <div><b>Fragment {{arrayItem.fragNumber}}</b> &nbsp; <i>{{arrayItem.status}}</i></div>

            <!-- Heeft nog werk nodig! -->
            <div class="example-box" *ngFor="let arrayItem2 of arrayItem.content">           
              <div [innerHTML]="arrayItem2.lineComplete"></div> 
            </div>  

              <!-- <div [innerHTML]="arrayItem.lineContent"></div> -->
         </div>
        </div>
      </div>

    <!-- COMMENTARY COLUMN -->
      <div class="col-sm anyClass">
        <div class="col-sm anyClass">

          <h4>Selected Fragment {{currentCommentaar}}</h4> <hr>

          <div *ngIf="noCommentary" class="alert alert-info" role="alert">
            No commentary is available for this fragment.
          </div>

          <div *ngIf="noCommentary === false">
            <div *ngFor="let translation of this.F_Translation">
              <!-- {{commentaar}} -->
              <mat-expansion-panel>
                <!-- Regelnummer -->
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Fragment Translation</b>
                  </mat-panel-title>
                <!-- Woorden in kwestie -->
                  <!-- <b>Latin is great</b> -->
                </mat-expansion-panel-header>
                <!-- Commentaar zelf met opmaak -->
                <div class="mat-expansion-panel-content">
                  <div class="mat-expansion-panel-body">
                      <div [innerHTML]="translation"></div>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>

            <hr>

            <div *ngFor="let AppCrit of this.F_AppCrit">
              <mat-expansion-panel>
                <!-- Regelnummer -->
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Apparatus Criticus</b>
                  </mat-panel-title>
                <!-- Woorden in kwestie -->
                  <!-- <b>Latin is great</b> -->
                </mat-expansion-panel-header>
                <!-- Commentaar zelf met opmaak -->
                <div class="mat-expansion-panel-content">
                  <div class="mat-expansion-panel-body">
                    <div [innerHTML]=AppCrit></div>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>

            <hr>

            <div *ngFor="let differences of this.F_Differences">
              <!-- {{commentaar}} -->
              <mat-expansion-panel>
                <!-- Regelnummer -->
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Fragment Differences</b>
                  </mat-panel-title>
                <!-- Woorden in kwestie -->
                  <!-- <b>Latin is great</b> -->
                </mat-expansion-panel-header>
                <!-- Commentaar zelf met opmaak -->
                <div class="mat-expansion-panel-content">
                  <div class="mat-expansion-panel-body">
                      <div [innerHTML]="differences"></div>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>

            <hr>

          <div *ngFor="let F_Context of this.F_Context">
            <!-- {{commentaar}} -->
            <mat-expansion-panel>
              <!-- Regelnummer -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Context</b>
                </mat-panel-title>
              <!-- Woorden in kwestie -->
                <div [innerHTML]="F_Context[0]"></div>
              </mat-expansion-panel-header>
              <!-- Commentaar zelf met opmaak -->
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                    <div [innerHTML]="F_Context[1]"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
          
          <hr>

          <div *ngFor="let commentaar of this.F_Commentaar">
            <!-- {{commentaar}} -->
            <mat-expansion-panel>
              <!-- Regelnummer -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Commentary</b>
                </mat-panel-title>
              <!-- Woorden in kwestie -->
                <!-- <b>Latin is great</b> -->
              </mat-expansion-panel-header>
              <!-- Commentaar zelf met opmaak -->
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                    <div [innerHTML]="commentaar"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

        <hr>

        <div *ngFor="let commentaar of this.F_Reconstruction">
          <!-- {{commentaar}} -->
          <mat-expansion-panel>
            <!-- Regelnummer -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Fragment Reconstruction</b>
              </mat-panel-title>
            <!-- Woorden in kwestie -->
              <!-- <b>Latin is great</b> -->
            </mat-expansion-panel-header>
            <!-- Commentaar zelf met opmaak -->
            <div class="mat-expansion-panel-content">
              <div class="mat-expansion-panel-body">
                  <div [innerHTML]="commentaar"></div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>

</div>
</div>



