<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<!-- Navigationbar -->
  <nav class="navbar navbar-expand-lg  static-top">
    <div class="container">
      <a class="navbar-brand"><h3>OpensourceClassicsFragments</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li> <button class="btn btn-lg" (click)="open(textChanger)">Change Text</button></li>
          <li> <button class="btn btn-lg" (click)="openLg(bib1)">Bibliography</button></li>
          <li> <button class="btn btn-lg" (click)="open(newEntry)">New Entry</button></li>
          <li> <button class="btn btn-lg" (click)="putInArray()">Retrieve</button></li>
          <li> <button class="btn btn-lg" (click)="show = !show">3Columns</button></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Modals from the navigation bar -->
  <!-- Author and Book selection Modal #textChanger -->
  <ng-template #textChanger let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select an Author and Book</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Author:
      <div>
        <select class="dropbtn" [(ngModel)]="selectedAuthor" (ngModelChange)="requestBooks(selectedAuthor[0])">
          <option *ngFor="let c of this.authors" [ngValue]="c">{{c[1]}}</option>
        </select>
      </div>
      <br>
      Book:
      <div>
          <select class="dropbtn" [(ngModel)]="selectedBook" (ngModelChange)="requestPrimaryText(selectedBook[0])">
            <option *ngFor="let d of this.books" [ngValue]="d">{{d[1]}}</option>
          </select>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Exit</button>
    </div>
  </ng-template>

  <!-- New Entry modal to add a custom piece of commentary -->
  <ng-template #newEntry let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add an entry.</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Remember to use HTML formatting for bold and italics! <br>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            lineBegin: <input name="first" ngModel required #first="ngModel"> <br>
            lineEnd: <input name="last" ngModel> <br>
            Words: <input name="last" ngModel> <br>
            Commentary: <input name="last" ngModel> <br>
            Source: <input name="last" ngModel> <br>
            <button>Submit</button>
          </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <!-- Bibliography Modal to show the used bibliography -->
  <ng-template #bib1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bibliography</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
          <mat-nav-list class="my-list-2">
              <mat-list-item *ngFor="let line of this.bib">
                <b>{{ line[0] }} {{ line[1] }} </b> <pre> </pre> <i> {{ line[2] }} {{ line[3] }},</i><pre> </pre>{{ line[4] }} ({{ line[5] }}). {{ line[6] }} {{ line[7] }} - ({{ line[8] }}, {{ line[9] }})
              </mat-list-item>
            </mat-nav-list>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
  </ng-template>

<br>

  <!-- Container for the page: one row, two columns. Column Left has the text, Column Right the commentary. -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm anyClass">
        <!-- <div class="solid" *ngFor="let fragment of this.result1">
          {{fragment[2]}}
        </div> -->

        <!-- <div>
            <select class="dropbtn" [(ngModel)]="selectedEditor" (ngModelChange)="orderColumn1Array(selectedEditor[0], 1)">
              <option *ngFor="let c of this.editors" [ngValue]="c">{{c[1]}}</option>
            </select>
          </div>
          <br> -->

        <div class ="solid" *ngFor="let arrayItem of mainEditorArray" (click)="ophalenCommentaren(arrayItem.id, arrayItem.editor)">
            <p><b>{{arrayItem.number}}</b><p>
                <div [innerHTML]="arrayItem.line"></div>
       </div>

          <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop1($event)">
              <div class="example-box" *ngFor="let fragment of this.listColumn1; let i = index" [ngStyle]="{'background-color' : i % 2 == 0 ? 'white' : 'Gainsboro'}" cdkDrag>
                <mat-expansion-panel class="mat-expansion-panel1" #expansionPanel>
                  <mat-expansion-panel-header (click)="ophalenCommentaren(fragment)" (click)="expandPanel(expansionPanel, $event)" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                      <mat-panel-title class="mat-expansion-panel-header-title">
                          <div [innerHTML]="fragment"></div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                      <hr>

                    Context in the right column (needs some work to get the button working correctly).

                       <div *ngFor="let temp2 of this.F_ContextTemp">
                          <div [innerHTML]="temp2"></div>

                      </div>

                      <br><br>
                      <div>
                        <select class="dropbtn" [(ngModel)]="selectedAuthor" (ngModelChange)="fixContext2(selectedAuthor[0])">
                          <option *ngFor="let c of this.F_Context" [ngValue]="c">{{c[0]}}</option>
                        </select>
                      </div>



                    </mat-expansion-panel>
                </div>
            </div> -->
      </div>

      <!-- Derde column. Gets toggle via variable show. -->
      <div *ngIf="show" class="col-sm anyClass">

          <div>
              <select class="dropbtn" [(ngModel)]="selectedEditor2" (ngModelChange)="orderColumn1Array(selectedEditor2[0], 2)">
                <option *ngFor="let d of this.editors" [ngValue]="d">{{d[1]}}</option>
              </select>
            </div>
            <br>

          <div class ="solid" *ngFor="let arrayItem of selectedEditorArray" (click)=testFunction()>
              <p><b>{{arrayItem.number}}</b><p>
                  <div [innerHTML]="arrayItem.line"></div>
         </div>

        <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop1($event)">
            <div class="example-box" *ngFor="let fragment of this.listColumn1; let i = index" [ngStyle]="{'background-color' : i % 2 == 0 ? 'white' : 'black'}" cdkDrag>
              <mat-expansion-panel class="mat-expansion-panel1" #expansionPanel>
                <mat-expansion-panel-header (click)="testFunction()" (click)="expandPanel(expansionPanel, $event)" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                    <mat-panel-title class="mat-expansion-panel-header-title" (click)="ophalenCommentaren(fragment)">
                        <div [innerHTML]="fragment"></div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <hr>
                    <div [innerHTML]="fragment"></div>
                    <div>
                      <select class="dropbtn" [(ngModel)]="selectedAuthor" (ngModelChange)="requestBooks(selectedAuthor[0])">
                        <option *ngFor="let c of this.authors" [ngValue]="c">{{c[1]}}</option>
                      </select>
                    </div>
                  </mat-expansion-panel>
            </div>
          </div> -->
    </div>

      <div class="col-sm">
        <div class="col-sm anyClass">
          <!-- Empty Entry -->
          <!-- <div *ngIf="checkEmptyBlock(this.F_commentaar)">No entry found.</div> -->
          <!-- Valid Entry -->

          <div *ngFor="let AppCrit of this.F_AppCrit">
            <mat-expansion-panel>
              <!-- Regelnummer -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Apparatus Criticus</b>
                </mat-panel-title>
              <!-- Woorden in kwestie -->
                <!-- <b>Latin is great</b> -->
              </mat-expansion-panel-header>
              <!-- Commentaar zelf met opmaak -->
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                  <div [innerHTML]=AppCrit></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

          <hr>

          <div *ngFor="let differences of this.F_Differences">
            <!-- {{commentaar}} -->
            <mat-expansion-panel>
              <!-- Regelnummer -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Differences</b>
                </mat-panel-title>
              <!-- Woorden in kwestie -->
                <!-- <b>Latin is great</b> -->
              </mat-expansion-panel-header>
              <!-- Commentaar zelf met opmaak -->
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                    <div [innerHTML]="differences"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

          <hr>

          <div *ngFor="let commentaar of this.F_Commentaar">
            <!-- {{commentaar}} -->
            <mat-expansion-panel>
              <!-- Regelnummer -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Fragment Commentary</b>
                </mat-panel-title>
              <!-- Woorden in kwestie -->
                <!-- <b>Latin is great</b> -->
              </mat-expansion-panel-header>
              <!-- Commentaar zelf met opmaak -->
              <div class="mat-expansion-panel-content">
                <div class="mat-expansion-panel-body">
                    <div [innerHTML]="commentaar"></div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

        <hr>

        <div *ngFor="let F_Context of this.F_Context">
          <!-- {{commentaar}} -->
          <mat-expansion-panel>
            <!-- Regelnummer -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Fragment Context</b>
              </mat-panel-title>
            <!-- Woorden in kwestie -->
              <div [innerHTML]="F_Context[0]"></div>
            </mat-expansion-panel-header>
            <!-- Commentaar zelf met opmaak -->
            <div class="mat-expansion-panel-content">
              <div class="mat-expansion-panel-body">
                  <div [innerHTML]="F_Context[1]"></div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>




            <!-- </div> -->
        <!-- </div>

      </div> -->
  <!-- </div>
  </div> -->

  <!-- Extra row for some quick testing! -->
  <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-sm anyClass">
            <mat-nav-list class="my-list-2">
              <mat-list-item *ngFor="let line of this.bib">
                {{line[0]}}-{{line[1]}}
              </mat-list-item>
            </mat-nav-list>
        </div>
        <div class="col-sm anyClass">
            <button (click)="requestBibliography()">Hello</button>
            <div class="list" ng-repeat="thing in this.bib">
                {{ thing }}
              </div>
        </div>
    </div> -->

