@use "@angular/material" as mat;
@use "src/styles.scss" as *;

/* Fixes for broken mat-slide-toggle */
:host ::ng-deep .mdc-switch--selected .mdc-switch__handle-track {
	transform: translateX(50%);
}

:host ::ng-deep .mdc-switch__handle {
	left: -16px;
}

:host ::ng-deep mat-slide-toggle button {
    margin-right: 10px;
}