<nav class="navbar navbar-expand-lg static-top">
    <div class="container">
      <a class="navbar-brand"><h3>Online Classic Commentary</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li> <button class="btn btn-lg" (click)="openBm(textChanger)">Change Text</button></li>
          <li> <button class="btn btn-lg" (click)="callAPI()">Bibliography</button></li>
          <li> <button class="btn btn-lg" (click)="toggleShowFragments()">New Entry</button></li>
          <li> <button class="btn btn-lg" (click)="show = !show">3Columns</button></li>
          <li> <button class="btn btn-lg" [matMenuTriggerFor]="appMenu">More</button></li>
        </ul>
      </div>
    </div>
  </nav>

  <mat-menu #appMenu="matMenu">
    <button routerLink="/dashboard" mat-menu-item>Text</button>
    <button routerLink="/fragments" mat-menu-item>Fragments</button>
    <button (click)="openBm(getStarted)" mat-menu-item>Get Started</button>
</mat-menu>