<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<nav class="navbar navbar-expand-lg static-top">
  <div class="container">
    <a class="navbar-brand"><h3>Dashboard</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li> <button class="btn btn-lg" [matMenuTriggerFor]="appMenu">More</button></li> -->
        <!-- <li> <button class="btn btn-lg" (click)="test()">Test</button></li> -->

      </ul>
    </div>
  </div>
</nav>

<!-- Main container -->
<div class="container-fluid">
  <div class="row">

    <!-- Main Mat tab group -->
    <div class="col-sm anyClass">
      <br>
      <mat-form-field class="select-form">
        <mat-label>Author</mat-label>
        <mat-select [(ngModel)]="selectedAuthorData">
          <mat-option *ngFor="let selectedAuthor of this.main.authorsJSON" [value]="selectedAuthor"
          (click)="requestBooks(selectedAuthor[0])">
            {{ selectedAuthor[1] }}                       
          </mat-option>
        </mat-select>
        <mat-hint>Select an author</mat-hint>
      </mat-form-field>

        <mat-form-field class="select-form">
          <mat-label>Book</mat-label>
          <mat-select [(ngModel)]="selectedBookData">
            <mat-option *ngFor="let selectedBook of this.main.booksJSON" [value]="selectedBook"
            (click)="this.main.editorsJSON = this.requestEditors(selectedBook[0])"
            (click)="this.main.setCurrentBookData(selectedBook)"
            (click)="requestSelectedText(selectedBook[0])">
              {{ selectedBook[1] }}                       
            </mat-option>
          </mat-select>
          <mat-hint>Select a book</mat-hint>
        </mat-form-field>

        <mat-form-field class="select-form">
          <mat-label>Editor</mat-label>
          <!-- selectedEditor because duplicate with backend. Needs fixing! -->
          <mat-select [(ngModel)]="selectedEditorData">
            <mat-option *ngFor="let selectedEditor of this.main.editorsJSON" [value]="selectedEditor"
            (click)="getFragNumbersSelectedEditor(selectedEditor[0])">
              {{ selectedEditor[1] }}                       
            </mat-option>
          </mat-select>
          <mat-hint>Select an editor</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="select-form">
          <mat-label>Fragment</mat-label>
          <mat-select [(ngModel)]="selectedFragmentData">
            <mat-option *ngFor="let selectedFragment of this.fragmentNumberList" [value]="selectedFragment"
            (click)="getLineNumbersSelectedEditor(selectedFragment)"
            (click)="retrieveFragmentData(selectedFragment)">
              {{ selectedFragment }} 
            </mat-option>
          </mat-select>
          <mat-hint>Select a fragment</mat-hint>
        </mat-form-field>      
    
        <mat-form-field class="select-form">
          <mat-label>Line</mat-label>
          <mat-select [(ngModel)]="selectedLineData">
            <mat-option *ngFor="let selectedLine of this.lineNumberList" [value]="selectedLine"
            (click)="getFragmentLine(selectedLine)">
              {{ selectedLine }} 
            </mat-option>
          </mat-select>
          <mat-hint>Select a line</mat-hint>
        </mat-form-field>            
        <hr>
    
    
      <mat-tab-group>
      <mat-tab label="Add/Remove"><br>
        <!-- Group to add/remove Authors, Books and Editors -->
        <mat-tab-group>
          <!-- Tab to add/remove Authors -->
          <mat-tab label="Author"><br>

            <div mat-dialog-content>
              <mat-form-field class="input-form">
                <input matInput placeholder="Add author" [(ngModel)]='inputAuthor'>
                <mat-hint>Fill in the name of a new author</mat-hint>
              </mat-form-field>
            </div>  

            <br>
            <button mat-button (click)="createAuthor(inputAuthor)">Create added author</button>
            <button mat-button (click)="deleteAuthor()">Delete selected author</button>
          </mat-tab>

          <!-- Tab to add/remove Books -->
          <mat-tab label="Book"><br>

            <div mat-dialog-content>
              <mat-form-field class="input-form">
                <input matInput placeholder="Add book" [(ngModel)]='inputBook'>
                <mat-hint>Select an author and fill in the name of his/her new book</mat-hint>
              </mat-form-field>
            </div>  
  
            <br>
            <button mat-button (click)="createBook(inputBook)">Create added book</button>
            <button mat-button (click)="deleteBook()">Delete selected book</button>
          </mat-tab>

          <!-- Tab to add/remove Editors -->
          <mat-tab label="Editor"><br>         
            <div mat-dialog-content>
              <mat-form-field class="input-form">
                <input matInput placeholder="Add editor" [(ngModel)]='inputEditor'>
                <mat-hint>Select an author and book and fill in the name of its new editor</mat-hint>
              </mat-form-field>
            </div>  
            <br>
            <button mat-button (click)="createEditor(inputEditor)">Create added editor</button>
            <button mat-button (click)="deleteEditor()">Delete selected editor</button>
            <button mat-button (click)="setMainEditor()">Set selected editor as main editor</button>
            <button mat-button (click)="deleteMainEditor()">Remove selected editor as main editor</button>

          </mat-tab>

          <mat-tab label="Bib entry"><br>
            <h4>Select Bibliography entry:</h4>
            <mat-form-field class="input-form ">
              <mat-label>Fragment context author</mat-label>
              <mat-select>
                <mat-option *ngFor="let b of this.main.bibJSON" [value]="b[1]"
                (click)="setBibUpdate(1)">                  
                  {{ b[1] }} {{ b[9] }} {{ b[11] }}                     
                </mat-option>
              </mat-select>
              <mat-hint>Select the bibliography entry you want to edit.</mat-hint>
            </mat-form-field>

            <div class="div-padding"></div>            

            <h4>Add Bibliography entry</h4>                    
            <form [formGroup]="bibForm" (ngSubmit)="doBibForm(bibForm.value)">
              <mat-form-field class="input-form">
                <mat-label>Author</mat-label>
                <input matInput value='' type="text" formControlName="bAuthor">
                <mat-hint>Provide the revised commentary of the selected fragment</mat-hint>                       
              </mat-form-field>

              <mat-form-field class="input-form">
                <mat-label>Book</mat-label>
                <input matInput value='' type="text" formControlName="bBook">
                <mat-hint>Provide the revised differences of the selected fragment</mat-hint>                       
              </mat-form-field>
                                  
              <mat-form-field class="input-form">
                <mat-label>Place</mat-label>
                <input matInput value='' type="text" formControlName="bPlace">
                <mat-hint>Provide the revised translation of the selected fragment</mat-hint>                       
              </mat-form-field>
              
              <mat-form-field class="input-form">
                <mat-label>Year</mat-label>
                <input matInput value='' type="text" formControlName="bYear">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field>
              
              <mat-form-field class="input-form">
                <mat-label>Article</mat-label>
                <input matInput value='' type="text" formControlName="bArticle">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field>     

              <mat-form-field class="input-form">
                <mat-label>Journal</mat-label>
                <input matInput value='' type="text" formControlName="bJournal">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field>   

              <mat-form-field class="input-form">
                <mat-label>Volume</mat-label>
                <input matInput value='' type="text" formControlName="bVolume">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field>   
              
              <mat-form-field class="input-form">
                <mat-label>Pages</mat-label>
                <input matInput value='' type="text" formControlName="bPages">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field>       
              
              <mat-form-field class="input-form">
                <mat-label>Website</mat-label>
                <input matInput value='' type="text" formControlName="bWebsite">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field> 
              
              <mat-form-field class="input-form">
                <mat-label>URL</mat-label>
                <input matInput value='' type="text" formControlName="bURL">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field>  
              
              <mat-form-field class="input-form">
                <mat-label>Consult date</mat-label>
                <input matInput value='' type="text" formControlName="bConsultDate">
                <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
              </mat-form-field>                
              <!-- Button is linked via the submit type! -->
              <br><br>
              <button mat-button class="button" type="submit">Upload Bib Entry</button>
            </form>  
          </mat-tab>


        </mat-tab-group>

        <!-- Mat Tab Group to create a fragment and everything related to it. -->
        </mat-tab>  
        <mat-tab label="Create Fragment Content"><br>     
          <mat-tab-group>
            <!-- Tab to create a fragment given Fragment number, line number and content -->
            <mat-tab label="Create Fragment"><br>
              <div mat-dialog-content>
                <mat-form-field class="input-form-full-width">
                  <input matInput type="number" placeholder="Fragment number" [(ngModel)]='inputFragNum'>
                  <mat-hint>Provide the fragment number the selected editor uses</mat-hint>
                </mat-form-field>
              </div>
              <div mat-dialog-content>
                <mat-form-field class="input-form-full-width">
                  <input matInput type="number" placeholder="Line number" [(ngModel)]='inputLineNum'>
                  <mat-hint>Provide the line number the selected editor uses (if none, start numbering from 1)</mat-hint>
                </mat-form-field>
              </div>
              <div mat-dialog-content>
                <mat-form-field class="input-form-full-width">
                  <input matInput placeholder="Fragment content" [(ngModel)]='inputFragContent'>
                  <mat-hint>Provide the fragment content per line. HTML formatting is allowed here</mat-hint>
                </mat-form-field>
              </div>  
              <div mat-dialog-content>
                <mat-form-field class="input-form-full-width">
                  <input matInput placeholder="Fragment status" [(ngModel)]='inputFragStatus'>
                  <mat-hint>Provide the status of the given fragment. Incertum or Adespota? Leave empty otherwise</mat-hint>
                </mat-form-field>
              </div> 
              <br>
              <button mat-button (click)="createFragment(inputFragNum, inputLineNum, inputFragContent, inputFragStatus)">Create given fragment</button>
              </mat-tab>
              <!-- Tab to add commentary to the selected Fragment -->
              <mat-tab label="Add Fragment Content"><br>
                <div class="container">
                  <div class="row">
                    <h4>Note that every fragment has only one apparatus criticus, differences, commentary, translation and reconstruction. The corresponding upload button can therefore be clicked only once.
                      A fragment can however have multiple context authors and their context fields, allowing this button to be clicked multiple times.</h4>
                    <div class="col-sm-6">
                      <h4>Add fragment content</h4>                    

                      <div mat-dialog-content>
                        <mat-form-field class="input-form-full-width">
                          <input matInput placeholder="Fragment apparatus criticus" [(ngModel)]='inputAppCrit'>
                          <mat-hint>Provide the apparatus criticus of the selected fragment</mat-hint>
                        </mat-form-field>
                      </div>   
    
                      <div mat-dialog-content>
                        <mat-form-field class="input-form-full-width">
                          <input matInput placeholder="Fragment differences" [(ngModel)]='inputDifferences'>
                          <mat-hint>Provide the differences of the selected fragment</mat-hint>
                        </mat-form-field>
                      </div>   
                              
                      <div mat-dialog-content>
                        <mat-form-field class="input-form-full-width">
                          <input matInput placeholder="Fragment commentary" [(ngModel)]='inputCommentary'>
                          <mat-hint>Provide the commentary of the selected fragment</mat-hint>
                        </mat-form-field>
                      </div>                           
    
                      <div mat-dialog-content>
                        <mat-form-field class="input-form-full-width">
                          <input matInput placeholder="Fragment translation" [(ngModel)]='inputTranslation'>
                          <mat-hint>Provide the translation of the selected fragment. NB: no personal information allowed!</mat-hint>                       
                        </mat-form-field>
                      </div>   

                      <div mat-dialog-content>
                        <mat-form-field class="input-form-full-width">
                          <input matInput placeholder="Fragment reconstruction" [(ngModel)]='inputReconstruction'>
                          <mat-hint>Provide the reconstruction of the selected fragment</mat-hint>
                        </mat-form-field>
                      </div>   

                      <br>
                      <button mat-button (click)="uploadCommentary(inputAppCrit, inputDifferences, inputCommentary, inputTranslation)">Upload fragment content</button>
                    </div>
                  
                  <div class="col-sm-6">
                    <h4>Add fragment context</h4>                    
                    <div mat-dialog-content>
                      <mat-form-field class="input-form-full-width">
                        <input matInput placeholder="Fragment context author" [(ngModel)]='inputContextAuthor'>
                        <mat-hint>Provide the author of the provided context for the selected fragment</mat-hint>
                      </mat-form-field>
                    </div>  
                    <div mat-dialog-content>
                      <mat-form-field class="input-form-full-width">
                        <input matInput placeholder="Fragment context" [(ngModel)]='inputContext'>
                        <mat-hint>Provide the context for the given author and the selected fragment</mat-hint>
                      </mat-form-field>
                    </div> 

                    <br>
                    <button mat-button (click)="uploadContext(inputContextAuthor, inputContext)">Upload fragment context</button>

                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab> 
        
        <!-- Tab Group to change a fragment. -->
        <mat-tab label="Change Fragment Content"><br>
          <!-- Tab to change the fragment commentary fields -->
          <mat-tab-group>

            <!-- Tab to change the content of a fragment -->
            <mat-tab label="Revise fragment"><br> 
              <form [formGroup]="contentForm" (ngSubmit)="uploadRevisedFragment(contentForm.value)">
                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment content</mat-label>
                  <input matInput value='{{this.main.F_Content}}' id="iF_Content" type="text" formControlName="iF_Content">
                  <mat-hint>Provide the revised line of the selected fragment line</mat-hint>                       
                </mat-form-field>
              </form>
              <br>
              <button mat-button class="button" type="submit">Update Fragment</button>

            </mat-tab>

            <mat-tab label="Revise fragment content"><br>
              <h4>Select one of the fragments to change its contents fields. Only changes will be saved.</h4>
              <!-- Uses form group! On pressing upload, changes will be put in the form. -->
              <form [formGroup]="contentForm" (ngSubmit)="uploadRevisedFragmentContent(contentForm.value)">
                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment commentary</mat-label>
                  <input matInput value='{{this.main.F_Commentary}}' id="iF_Commentary" type="text" formControlName="iF_Commentary">
                  <mat-hint>Provide the revised commentary of the selected fragment</mat-hint>                       
                </mat-form-field>

                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment differences</mat-label>
                  <input matInput value='{{this.main.F_Differences}}' id="iF_Differences" type="text" formControlName="iF_Differences">
                  <mat-hint>Provide the revised differences of the selected fragment</mat-hint>                       
                </mat-form-field>
                                    
                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment translation</mat-label>
                  <input matInput value='{{this.main.F_Translation}}' id="iF_Translation" type="text" formControlName="iF_Translation">
                  <mat-hint>Provide the revised translation of the selected fragment</mat-hint>                       
                </mat-form-field>
                
                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment apparatus criticus</mat-label>
                  <input matInput value='{{this.main.F_AppCrit}}' id="iF_AppCrit" type="text" formControlName="iF_AppCrit">
                  <mat-hint>Provide the revised apparatus criticus of the selected fragment</mat-hint>                       
                </mat-form-field>
                
                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment reconstruction</mat-label>
                  <input matInput value='{{this.main.F_Reconstruction}}' id="iF_Reconstruction" type="text" formControlName="iF_Reconstruction">
                  <mat-hint>Provide the revised reconstruction of the selected fragment</mat-hint>                       
                </mat-form-field>
                <!-- Button is linked via the submit type! -->
                <br><br>
                <button mat-button class="button" type="submit">Upload revised fragment content</button>
              </form>
            </mat-tab>

            <!-- Tab to fix the context: select author and change its content. -->
            <mat-tab label="Revise fragment context"><br>
              <h4>Select one of the fragments to change its context fields.</h4>
              
              <mat-form-field class="input-form ">
                <mat-label>Fragment context author</mat-label>
                <mat-select>
                  <mat-option *ngFor="let contextAuthor of this.main.F_Context" [value]="contextAuthor[0]"
                  (click)="selectCorrespondingContext(contextAuthor)">                  
                    {{ contextAuthor[0] }}                       
                  </mat-option>
                </mat-select>
                <mat-hint>Select the author of the requested context for the selected fragment</mat-hint>
              </mat-form-field>

              <div class="div-padding"></div>

              <form [formGroup]="contentForm" (ngSubmit)="uploadRevisedContext(contentForm.value)">
                <mat-form-field class="input-form-full-width">
                  <mat-label>Fragment context</mat-label>
                  <input matInput value='{{this.main.F_ContextField}}' id="iF_Context" type="text" formControlName="iF_Context">
                  <mat-hint>Provide the revised context for the given author and the selected fragment</mat-hint>
                </mat-form-field>
                <!-- Button is linked via the submit type! -->
              </form>
              <br>
              <button mat-button class="button" type="submit">Update Context</button>

            </mat-tab>

            <mat-tab label="Publish"><br>
              <button mat-button (click)="publishFragment()">Publish selected fragment</button>
              <button mat-button (click)="unpublishFragment()">Unpublish selected fragment</button>
          </mat-tab>
        </mat-tab-group>

        </mat-tab> 
        <mat-tab label="Delete Fragment">
          <br>
          <button mat-button (click)="deleteFragment()">Delete Selected Fragment</button>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>



