<div *ngIf="this.settings.fragments.show_headers">
  <b [style.color]="fragment.colour">Fragment {{ this.fragment.name }} </b> &nbsp;
  <sup>{{ fragment.author }}, {{ fragment.title }}, {{ fragment.editor }}</sup> &nbsp;
  <i>{{ fragment.status }}</i>
</div>

<ng-container *ngIf="this.translated; else fragments_not_translated">
  <p *ngIf="fragment.commentary.fields.translation?.length === 0"><i>No translation available</i></p>
  <div>
    <p [innerHTML]="fragment.commentary.fields.translation"></p>
  </div>
</ng-container>

<ng-template #fragments_not_translated>
  <div *ngFor="let fragment_line of fragment.lines">
    <p
      *ngIf="this.settings.fragments.show_line_names; else no_line_names"
      [innerHTML]="fragment_line.line_number + ': ' + fragment_line.text | safeHtml"></p>
    <ng-template #no_line_names>
      <!--safeHtml to allow whitespaces made by spans-->
      <p [innerHTML]="fragment_line.text | safeHtml"></p>
    </ng-template>
  </div>
</ng-template>
