div.collapsed-text-container {
  display: grid;
}

div.collapsed-text {
  max-height: var(--collapsed-height);
  overflow: hidden;
  mask-image: linear-gradient(180deg, black 60%, transparent);
  -webkit-mask-image: linear-gradient(180deg, black 60%, transparent);
}

div.collapsed-text p {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}

div.uncollapsed-text {
  max-height: none;
  overflow: visible;
}

button.collapse-expand-button {
  border: lightgray;
  border-style: solid;
  border-width: thin;
  border-radius: 0.5rem;
}
